/*hr will become Torg-Style*/
Div.editor-content hr {
    Background-image: URL(../../../systems/torgeternity/images/separator.webp);
    height:3rem;
    width:auto;
    border:none;
    transform: scaleY(0.5);
    }

    /*The <h1> header will become TORG-Style*/
Div.editor-content h1 {
    Background-image: URL(../../../systems/torgeternity/images/tab-header.webp);
    background-repeat: no-repeat;
    background-size:100% 100%;
    text-align:center;
    border:none;
    }
    
/*The <h2> Header will become Torg-Style with grey outlines and centered align*/
Div.editor-content h2 {
    text-align: center;
    font-size: 1,5em;
    text-shadow:    #878787 1.5px 1.5px 0px,
                    #878787 1.5px -1.5px 0px,
                    #878787 -1.5px 1.5px 0px,
                    #878787 -1.5px -1.5px 0px;
    text-transform:uppercase;
                }

/*Image-wraparound, image on left side*/
.imgleft{
    float: left;
    margin-right: 0.5rem;
    border: none;
    }

/*Image-wraparound, image on right side.*/
.imgright{
    float: right;
    margin-left: 0.5rem;
    border: none;
    }

/*Use this class in the next <p> after layouting with classes .imgright and .imgleft*/
.passagebreak {
    clear: both;
    }


/*Center images and scale them up to 100% to all sides*/
.img-mid{
    display: block; 
    margin: auto; 
    width: 100%; 
    height: 100%;
    border: none;
}

