/*New Journal window styling, 2nd section for restyling the submit changes button*/
.journal-sheet .window-content{
    background-image: url(../images/journal-background.webp);
}
.journal-sheet .window-content .editor{
    padding:0%;
    top:12%;
    height: 82%;
    width: 91.5%;
}
.editor-content{
    background-color: rgba(255, 247, 247, 0.25);
    padding-left: 10px;
}
.window-app .window-content input[type="text"], .window-app .window-content input[type="number"], .window-app .window-content input[type="password"], .window-app .window-content input[type="date"], .window-app .window-content input[type="time"] .editor{
    background-color: rgba(255,255,255, 0.25);
}
.window-app .window-content form button, .window-app .window-content form select {
    text-shadow:    black    1.3px 1.3px 0px,
                    black    1.3px -1.3px 0px,
                    black    -1.3px 1.3px 0px,
                    black    -1.3px 1.3px 0px;
}
.item .window-content form.item-sheet .asside select {
    text-shadow: none;
}
.tox .tox-tbtn--bespoke .tox-tbtn__select-label{
    text-shadow: none;
    color:black;
}
body#tinymce.mce-content-body{
    background-color: rgba(255, 247, 247, 0.25);
}

.journal-sheet .window-content button[name="submit"]{
    background-color: rgba(0, 0, 0, 0.45);
    text-shadow:    black    1.3px 1.3px 0px,
                    black    1.3px -1.3px 0px,
                    black    -1.3px 1.3px 0px,
                    black    -1.3px 1.3px 0px;
}
form button {
    border: 1px groove var(--color-border-light-highlight);
}

/*...................................................................*/
/*adjustments for <p>*/
Div.editor-content p{
    text-align:justify;
    padding-right: 10px;
    }

    Div.editor-content p + p{
        text-indent: 0.75rem;
        margin-bottom: 0.75rem;
        }

    Div.editor-content p:first-of-type{
        text-indent:0;
        }
/*...................................................................*/
/*adjustments for ul & ol*/
Div.editor-content :is(ul, ol){
    text-align: justify;
    padding-right: 10px;
    list-style-position: inside;
}
/*...................................................................*/
/*hr will become Torg-Style*/
Div.editor-content hr {
    Background-image: URL(../../../systems/torgeternity/images/separator.webp);
    height:3rem;
    width:auto;
    border:none;
    transform: scaleY(0.5);
    }
/*...................................................................*/
/*h1 will become Torg-Style*/
Div.editor-content h1{
    Background-image: URL(../../../systems/torgeternity/images/tab-header.webp);
    background-repeat: no-repeat;
    background-size:100% 100%;
    overflow:hidden;
    border:none;
    margin: 1rem 0px 0.7rem 0px;
    }
/*...................................................................*/
/*The <h2> Header will become Torg-Style with grey outlines and centered align*/
.editor .editor-content h2 {
    text-align: center;
    font-size: 1.5rem;
    text-shadow:    #878787 1.5px 1.5px 0px,
                    #878787 1.5px -1.5px 0px,
                    #878787 -1.5px 1.5px 0px,
                    #878787 -1.5px -1.5px 0px;
    text-transform:uppercase;
    margin: 1rem 0px 0.7rem 0px;
    }
/*...................................................................*/
.editor .editor-content h3 {
    margin: 2px 0px 9px 0px;
}
/*...................................................................*/
/*There is still a headline, bolt white upper case with a small black outline. As this wasn't defined, it will be <h4> for not confusing with other headlines*/
Div.editor-content h4 {
    text-align: center;
    font-size: 1.5rem;
    color: white;
    font-family: Alaska;
    text-shadow: black    1.3px 1.3px 0px,
                 black    1.3px -1.3px 0px,
                 black    -1.3px 1.3px 0px,
                 black    -1.3px 1.3px 0px;
    text-transform: uppercase;
    margin: 1rem 0px 0.7rem 0px;
}

/*In Cosm-Books, there is a headline similiar to h4 but with the bar that is used as background-image for the <hr>. Making this a class.*/
Div.editor-content h4.bar{
    background-image: url(../images/separator.webp);
    background-position-y: -8px;
    background-repeat: no-repeat;
    background-size: auto;
}
/*...................................................................*/
/*<img> comes with a border, what is never seen in TE*/
Div.editor-content img{
    border-image: none;
    border: none;
    }
/*...................................................................*/
/*formatting tables*/
Div.editor-content table{
    font-size: 0.875rem;
    background-color: transparent;
}

.journal-sheet .window-content .editor .editor-content tr:nth-child(even){
    background-color: #F6E9D7;
}

.journal-sheet .window-content .editor .editor-content tr:nth-child(odd){
    background-color: transparent;
}
/*...................................................................*/
/*Formatting of Blockcode Torg-Style*/
blockquote{
    background-color: rgb(241,221,192);
    margin: 16px 30px;
    padding: 5px 10px;
    font-size: 14px;
    text-align: justify;
    overflow:hidden;
    border-left: none;
    font-style:normal;
}

    blockquote p:first-of-type{
        text-indent: 0px;
    }

    blockquote p + p{
        text-indent: 0px;
    }
/*...................................................................*/
/*Inline links are pretty boring in standard-style, let's pimp'em!*/
a.entity-link, a.content-link, a.inline-roll{
    background-image: url(../images/lightning_bar.webp);
    background-repeat: repeat-x;
    background-size: auto 100%;
    color: white !important;
    text-shadow: black    1.0px 1.0px 0px,
    black    1.0px -1.0px 0px,
    black    -1.0px 1.0px 0px,
    black    -1.0px 1.0px 0px;
    font-size: 14px;
    text-indent: 0px;
}
    /*Coloring the symbols before the text (seems like they're ASCII-Code) and a little gap to the following text*/
    div.editor-content .fa-user:before, div.editor-content .fa-book-open:before, div.editor-content .fa-id-badge:before, div.editor-content .fa-suitcase:before, div.editor-content .fa-map:before, div.editor-content .fa-th-list:before, div.editor-content .fa-music:before, div.editor-content .fa-dice-d20:before {
        color: rgb(245, 245, 245);
        margin-right: 5px;
    }
    
/*...................................................................*/
/*Image-wraparound, image on left side*/

.imgleft{
    float: left;
    margin-right: 0.5rem;
    width: 50%;
    height: 50%;
    }

    .imgleft.shrink20p{
        width: 20%;
        height: 20%;
    }

    .imgleft.shrink30p{
        width: 30%;
        height: 30%;
    }

/*Image-wraparound, image on right side.*/

.imgright{
    float: right;
    margin-left: 0.5rem;
    width: 50%;
    height: 50%;
    }

    .imgright.shrink20p{
        width: 20%;
        height: 20%;
    }
    
    .imgright.shrink30p{
        width: 30%;
        height: 30%;
    }
/*...................................................................*/
/*IMG underlines */
div.subtitleright{
    position: relative;
    width: 30%;
    /*height: 30%;*/
    float: right;
    margin-left:0.5rem;
}

div.subtitleleft{
    position: relative;
    width: 30%;
    /*height: 30%;*/
    float: left;
    margin-right:0.5rem;
}

    div.subtitleright p, div.subtitleleft p{
        margin: 0.5rem;
        bottom: auto;
        left: auto;
        text-align: center;
        font-size: 1rem;
        color: white;
        font-family: Alaska;
        text-shadow: black    1.3px 1.3px 0px,
                     black    1.3px -1.3px 0px,
                     black    -1.3px 1.3px 0px,
                     black    -1.3px 1.3px 0px;
        text-transform: uppercase;
    }
    div.subtitleright img, div.subtitleleft img{
        width: 100%;
    }

/*...................................................................*/
/*Floating images that are center aligned*/
.imgfloatmid{
    display: block;
    margin: auto;
    shape-outside:content-box;
    shape-margin: 0.5rem;
    width:50%;
    height:50%;
}

    .imgfloatmid.shrink20p{
        width:20%;
        height:20%;
    }

    .imgfloatmid.shrink30p{
        width:30%;
        height:30%;
    }
/*...................................................................*/
/*Use this class in the next <p> after layouting with classes .imgright and .imgleft*/
.passagebreak {
    clear: both;
    }
/*...................................................................*/
/*Center images and scale them up to 100% to all sides*/
.img-mid{
    display: block; 
    margin: auto; 
    width: 100%; 
    height: 100%;
    border: none;
    }
/*...................................................................*/
.charimg{
    float: right;
    shape-margin: 0.5rem !important;
    shape-image-threshold: 0.1;
    max-width: 50% !important;
    max-height: 50% !important;
    margin-left: 0.5rem !important;
    }
/*...................................................................*/
/*A class for more line-height, because links in journals are often to close to another*/
.moreheight{
    line-height: 1.5rem;
    }
/*...................................................................*/
/*use the background-image for sidenotes, heritage-class for white background*/
.sidenote{
    background-image: url(../images/mapDetailBack.webp);
    background-repeat:no-repeat;
    background-size: cover;
    padding: 10px;
    }
.editor-content .sidenote :is(h2, h3, h4, ul, table){
    background-color: rgba(255, 247, 247, 0.5);
    margin:0;
    padding:10px;
    }
    .editor-content .sidenote p{
        background-color: rgba(255, 247, 247, 0.5);
    margin:0;
    padding-bottom:8px;
    padding-left: 10px;
    }
    .sidenote ul{
        list-style-position: inside;
        text-align: justify;
        padding-right: 10px;
    }
    .sidenote :first-of-type{
        padding-top: 0;
        }

.sidenote.left{
    float: left;
    width: 50%;
    margin-right: 0.5rem;
}

.sidenote.right{
    float: right;
    width: 50%;
    margin-left: 0.5rem;
}
/*...................................................................*/
.exampletext{
    background-color: rgb(241,221,192);
    margin: 16px 30px;
    padding: 5px 10px;
    font-size: 14px;
    text-align: justify;
    overflow:hidden;
}
    .exampletext.exampletext p:first-of-type{
        text-indent: 0px;
    }
    .exampletext.exampletext p + p{
        text-indent: 0px;
    }

/*...................................................................*/
/*Adventures often come with directives from Sebastian. This class is to bring them on the grafic parchments with the right font. Please use an h3 for the headline.*/
@font-face {
    font-family: "gunplay";
    src: url("../fonts/gunplay_rg.ttf") format("ttf");
}

Div.editor-content Div.directive1{
    background-image: url(../images/parchment1.webp);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 3rem;
    }
    Div.editor-content Div.directive1 :is(p,h3){
        font-family: "gunplay";
        transform: rotate(-3deg);
        text-indent: 0px;
    }
    Div.editor-content Div.directive1 h3{
        font-size: 21px; 
    }

Div.editor-content Div.directive2{
    background-image: url(../images/parchment2.webp);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 3rem;
    }
    Div.editor-content Div.directive2 :is(p,h3){
        font-family: "gunplay";
        transform: rotate(2deg);
        text-indent: 0px;
    }
    Div.editor-content Div.directive2 h3{
        font-size: 21px; 
    }
/*...................................................................*/
/*Multi-purpose classes*/

Div.editor-content .noindent {
    text-indent:0px;
}
    div.editor-content .noindent p + p {
        text-indent: 0px;
    }
