@font-face {
  font-family: "Alaska";
  src: url("../fonts/Alaska Extrabold Bold.ttf");
}

@font-face {
  font-family: "Palatino";
  src: url("../fonts/palatino_linotype.ttf");
}

:root {
  --torgblue: rgb(65, 90, 155);
  --torgred: rgb(150, 0, 0);
}

/* JOURNAL : form.application.sheet.journal-sheet.journal-entry */
/* PAGE VIEW : section.journal-entry-content.flexcol
    div.journal-entry-pages.scrollable.editable
    article.journal-entry-page.text.level1.page */
/* PAGE EDITOR : form.application.sheet.journal-sheet.journal-entry-page.text 
      section.window-content
      PROSEMIRROR: <prose-mirror>.journal-page-content.editor.prosemirror.active */

form.journal-sheet.journal-entry-page .window-content {
  background-image: url(../images/journal-background.webp);
  background-size: 100% 100%;
  box-shadow: -20px 0px 150px black inset, 30px 0px 150px black inset;
  padding: 4% 4% 0% 4%;
}

.journal-sheet .window-content .editor {
  padding: 0%;
  top: 0;
  height: 100%;
  width: 100%;
  margin-left: 0;
}

.journal-sheet.journal-entry-page.text {
  button {
    text-shadow: black 1.3px 1.3px 0px, black 1.3px -1.3px 0px, black -1.3px 1.3px 0px, black -1.3px 1.3px 0px;
    background-image: url(../images/lightning_bar.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    color: white;
  }

  .window-content .prosemirror.editor {
    font-family: Alaska;
    overflow-y: scroll;

    menu {
      background: rgba(0, 0, 0, 0.1);
    }

    .editor-container {
      /*background-color: rgba(255, 247, 247, 0.25);*/
      padding-left: 10px;
      padding-top: 20px;
    }
  }
}

.sheet.journal-sheet nav.directory {
  background: url(../images/journal-background.webp);
  background-size: 100% 100%;
  box-shadow: -20px 0px 150px black inset, 30px 0px 150px black inset;
  padding: 8%;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000, 0px 0px 15px black;
  outline: black;
}

.tox .tox-tbtn--bespoke .tox-tbtn__select-label {
  text-shadow: none;
  color: black;
  background: none;
}

body#tinymce.mce-content-body {
  background-color: rgba(255, 247, 247, 0.25);
  background: none;
}

.tox.tox-tinymce .tox-tbtn {
  background: none;
}

.tox.tox-tinymce .tox-edit-area__iframe {
  background-color: #ffffff7a;
}

.sheet.journal-entry {

  .journal-entry-content {
    background-image: url(../images/journal-background.webp);
    background-size: 100% 100%;
    padding: 3% 4%;
  }

  .journal-entry-page {
    font-family: Palatino;
    background-color: rgba(255, 247, 247, 0.25);
    /*background-image: url(../images/box-bckg.webp);
    background-size: 100% 100%;*/
    color: black;
    padding: 0 5px;
  }

  .journal-sidebar {
    background-image: url(../images/CHHeader.webp);
    background-repeat: no-repeat;
    background-size: 110%;

    .toc {
      li.page.active {
        border-color: #009fff;
        box-shadow: 0px 5px 10px #009fff63 inset;
      }

      li.page.active:first-of-type {
        border-color: var(--torgblue);
      }

      li.page.active:last-of-type {
        border-color: var(--torgblue);
      }

      li.page:not(.active)+.active {
        border-color: var(--torgblue);
      }

      li.page.active+ :not(.active) {
        border-color: var(--torgred);
      }
    }
  }

  .journal-entry-page {

    p {
      text-align: justify;
      padding-right: 10px;
      font-family: "Palatino Linotype";
      font-size: 14px;
      margin: 0.5em 0;
    }

    :is(p, blockquote)+p {
      text-indent: 0.75rem;
    }

    p:first-of-type {
      text-indent: 0;
    }

    ul,
    ol {
      text-align: justify;
      padding-right: 10px;
      font-family: "Palatino Linotype";
      font-size: 14px;
    }

    li+p::marker {
      list-style-type: none;
      list-style-position: unset;
    }

    h1,
    h2,
    h3,
    h4 {
      font-family: Alaska;
    }

    h1 {
      background-image: URL(../../../systems/torgeternity/images/tab-header.webp);
      background-repeat: no-repeat;
      background-size: 100% 100%;
      overflow: hidden;
      border: none;
      margin: 1rem 0px 0.7rem 0px;
      color: white;
      text-transform: uppercase;
      line-height: 30px;
      text-align: center;
    }

    h2 {
      text-align: center;
      font-size: 1.5rem;
      font-weight: bolder;
      text-shadow: #878787 1.5px 1.5px 0px, #878787 1.5px -1.5px 0px, #878787 -1.5px 1.5px 0px, #878787 -1.5px -1.5px 0px;
      text-transform: uppercase;
      margin: 1rem 0px 0.7rem 0px;
      border: none;
    }

    h3 {
      margin: 2px 0px 0px 0px;
      font-weight: bolder;
      border: none;
      font-weight: bold;
      font-size: 15px;

      &~p {
        margin-top: 0;
      }
    }

    h4 {
      text-align: center;
      font-size: 1.5rem;
      color: white;
      font-family: Alaska;
      text-shadow: black 1.3px 1.3px 0px, black 1.3px -1.3px 0px, black -1.3px 1.3px 0px, black -1.3px 1.3px 0px;
      text-transform: uppercase;
      margin: 1rem 0px 0.7rem 0px;
      border: none;

      /*In Cosm-Books, there is a headline similiar to h4 but with the bar that is used as background-image for the <hr>. Making this a class.*/
      &.bar {
        background-image: url(../images/separator.webp);
        background-position-y: -8px;
        background-repeat: no-repeat;
        background-size: auto;
      }
    }

    hr {
      background-image: url(../images/separator.webp);
      background-repeat: no-repeat;
      background-size: auto;
      min-height: 20px;
      height: 3rem;
      width: auto;
      border: none;
      transform: scaleY(0.5);
      margin: -15px 10px -15px 0px;
    }

    /*Introduced h6 as a format for using anchors (kinda deepfaking paragraphs for anchor-links), basically styled like normal p but strong (what's styles' default)*/
    h6 {
      font-family: Palatino;
      padding: 0;
      margin: 0;
      font-size: 14px;
    }

    h6:not(:first-child) {
      margin-top: 0;
    }

    h6:first-child {
      margin: 0.5em 0;
    }

    div.pinline>section> :is(h6, p),
    div.pinline> :is(h6, p) {
      display: inline;
      break-after: avoid;
      break-inside: avoid;
    }

    div.pinline {
      margin-bottom: 7px;
    }

    /*Place a space between h6 and p*/
    div.pinline h6::after {
      content: " ";
    }

    /*New class "un-list" for faking <ul>s inside this construct*/
    div.pinline.un-list {
      display: block;
      list-style-type: disc;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      padding-inline-start: 21px;
    }

    div.pinline.un-list>section {
      display: list-item;
      text-align: -webkit-match-parent;
    }

    img {
      border-image: none;
      border: none;
    }
  }

  /*...................................................................*/
  /*<img> comes with a border, what is never seen in TE*/
  .sheet.journal-entry .journal-entry-page {
    img {
      border-image: none;
      border: none;
    }

    /*...................................................................*/
    /*formatting tables*/

    th {
      background-color: black;
      color: white;
    }

    table {
      font-size: 0.875rem;
      background-color: transparent;
    }

    tr:nth-child(even) {
      background-color: #f6e9d7;
    }

    tr:nth-child(odd) {
      background-color: transparent;
    }

    td {
      padding: 0.25em;
    }

    /*Coloring the symbols before the text (seems like they're ASCII-Code) and a little gap to the following text*/
    /*.app.application.sheet.journal-sheet section.window-content section.journal-entry-pages .fa-user:before,*/
    .fa-user:before,
    .fa-book-open:before,
    .fa-id-badge:before,
    .fa-suitcase:before,
    .fa-map:before,
    .fa-th-list:before,
    .fa-cards:before,
    .fa-music:before,
    .fa-file-alt:before,
    .fa-file-lines:before,
    .fa-file-text:before,
    .fa-dice-d20:before {
      color: rgb(245, 245, 245);
      margin-right: 5px;
    }

    div.subtitleright p,
    div.subtitleleft p {
      margin: 0.5rem;
      bottom: auto;
      left: auto;
      text-align: center;
      font-size: 1rem;
      color: white;
      font-family: Alaska;
      text-shadow: black 1.3px 1.3px 0px, black 1.3px -1.3px 0px, black -1.3px 1.3px 0px, black -1.3px 1.3px 0px;
      text-transform: uppercase;
    }

    .sidenote {

      h2,
      h3,
      h4,
      ul,
      table {
        background-color: rgba(255, 247, 247, 0.5);
        margin: 0;
        padding: 10px;
      }

      p {
        background-color: rgba(255, 247, 247, 0.5);
        margin: 0;
        padding-bottom: 8px;
        padding-left: 10px;
      }

      ul {
        text-align: justify;
        padding-right: 10px;
      }
    }

    .noindent {
      text-indent: 0px;

      p+p {
        text-indent: 0px;
      }
    }
  }
}

/*...................................................................*/
/*Formatting of Blockcode Torg-Style*/
blockquote {
  background-color: rgb(241, 221, 192);
  margin: 16px 30px;
  padding: 5px 10px;
  font-size: 14px;
  text-align: justify;
  overflow: inherit;
  border-left: none;
  font-style: normal;

  p:first-of-type {
    text-indent: 0px;
  }

  p+p {
    text-indent: 0px;
  }

  em {
    font-style: italic;
  }
}

/*...................................................................*/
/*Inline links are pretty boring in standard-style, let's pimp'em!*/
a.entity-link,
a.content-link,
a.inline-roll {
  background-image: url(../images/lightning_bar.webp);
  background-repeat: repeat-x;
  background-size: auto 100%;
  color: white !important;
  text-shadow: black 1px 1px 0px, black 1px -1px 0px, black -1px 1px 0px, black -1px 1px 0px;
  font-size: 14px;
  text-indent: 0px;
}

/*...................................................................*/
/*Image-wraparound, image on left side*/

.imgleft {
  float: left;
  margin-right: 0.5rem;
  width: 50%;
  height: 50%;

  &.shrink20p {
    width: 20%;
    height: 20%;
  }

  &.shrink30p {
    width: 30%;
    height: 30%;
  }
}

/*Image-wraparound, image on right side.*/

.imgright {
  float: right;
  margin-left: 0.5rem;
  width: 50%;
  height: 50%;

  &.shrink20p {
    width: 20%;
    height: 20%;
  }

  &.shrink30p {
    width: 30%;
    height: 30%;
  }

}


/*...................................................................*/
/*IMG underlines */
div.subtitleright {
  position: relative;
  width: 30%;
  /*height: 30%;*/
  float: right;
  margin-left: 0.5rem;
}

div.subtitleleft {
  position: relative;
  width: 30%;
  /*height: 30%;*/
  float: left;
  margin-right: 0.5rem;
}

div.subtitleright img,
div.subtitleleft img {
  width: 100%;
}

/*...................................................................*/
/*Floating images that are center aligned*/
.imgfloatmid {
  display: block;
  margin: auto;
  shape-outside: content-box;
  shape-margin: 0.5rem;
  width: 50%;
  height: 50%;

  &.shrink20p {
    width: 20%;
    height: 20%;
  }

  &.shrink30p {
    width: 30%;
    height: 30%;
  }
}

/*...................................................................*/
/*Use this class in the next <p> after layouting with classes .imgright and .imgleft*/
.passagebreak {
  clear: both;
}

/*...................................................................*/
/*Center images and scale them up to 100% to all sides*/
.img-mid {
  display: block;
  margin: auto;
  width: 100%;
  height: 100%;
  border: none;
}

/*...................................................................*/
.charimg {
  float: right;
  shape-margin: 0.5rem !important;
  shape-image-threshold: 0.1;
  height: auto;
  width: 50% !important;
  border: none;
  margin-left: 0.5rem !important;
  shape-outside: url();
}

/*...................................................................*/
/*A class for more line-height, because links in journals are often to close to another*/
.moreheight {
  line-height: 1.5rem;
}

/*...................................................................*/
/*use the background-image for sidenotes, heritage-class for white background*/
.sidenote {
  background-image: url(../images/mapDetailBack.webp);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px;

  :first-of-type {
    padding-top: 0;
  }

  &.left {
    float: left;
    width: 50%;
    margin-right: 0.5rem;
  }

  &.right {
    float: right;
    width: 50%;
    margin-left: 0.5rem;
  }
}

/*...................................................................*/
/*Splotches! All of them!
Class-Syntax: 
class="splotch aysle/cyber/nile/or/panpa/thark left/right
*/

.splotch {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 25%;
  min-height: 154px;
  background-image: url(../images/splotch_aysle.webp);

  &.aysle {
    background-image: url(../images/splotch_aysle.webp);
  }

  &.cyber {
    background-image: url(../images/splotch_cyberpapacy.webp);
  }

  &.nile {
    background-image: url(../images/splotch_nile.webp);
  }

  &.or {
    background-image: url(../images/splotch_orrorsh.webp);
  }

  &.panpa {
    background-image: url(../images/splotch_panpacifica.webp);
  }

  &.thark {
    background-image: url(../images/splotch_tharkold.webp);
  }

  &.right {
    float: right;
    margin-left: 0.5rem;
  }

  &.left {
    float: left;
    margin-right: 0.5rem;
    margin-left: unset;
  }
}

.sheet.journal-entry .journal-entry-page .splotch p {
  font-size: 1rem !important;
  color: white;
  font-family: Alaska !important;
  text-shadow: black 1.3px 1.3px 0px, black 1.3px -1.3px 0px, black -1.3px 1.3px 0px, black -1.3px 1.3px 0px;
  text-transform: uppercase;
  text-align: center !important;
  padding: 0;
  margin: 0;
}

div.splotch p:only-of-type {
  margin-top: 1.8em;
  margin-bottom: 1.8em;
  padding: inherit;
}

div.splotch p:first-of-type {
  margin-top: 1.8em;
  padding: inherit;
}

div.splotch p+p:last-of-type {
  margin-bottom: 1.8em;
  padding: inherit;
  text-indent: 0px;
}

/*...................................................................*/
/*I was not sure if I can alter blockquote with that, but did so afterwards. Leaving this class because it is actually used in some sorcebooks. Maybe revising it in some time. */
.exampletext {
  background-color: rgb(241, 221, 192);
  margin: 16px 30px;
  padding: 5px 10px;
  font-size: 14px;
  text-align: justify;
  overflow: hidden;

  p:first-of-type {
    text-indent: 0px;
  }

  p+p {
    text-indent: 0px;
  }
}

/*...................................................................*/
/*Adventures often come with directives from Sebastian. This class is to bring them on the grafic parchments with the right font. Please use an h3 for the headline.*/
@font-face {
  font-family: "gunplay";
  src: url("../fonts/gunplay_rg.ttf") format("ttf");
}

div.directive1 {
  background-image: url(../images/parchment1.webp);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 3rem;
}

.sheet.journal-entry .journal-entry-page div.directive1 :is(p, h3, h4) {
  font-family: "gunplay";
  transform: rotate(-3deg);
  text-indent: 0px;
}

div.directive1 h3 {
  font-size: 21px;
}

div.directive2 {
  background-image: url(../images/parchment2.webp);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 3rem;
}

.sheet.journal-entry .journal-entry-page div.directive2 :is(p, h3, h4) {
  font-family: "gunplay";
  transform: rotate(2deg);
  text-indent: 0px;
}

div.directive2 h3 {
  font-size: 21px;
}