@import url("https://fonts.googleapis.com/css2?family=Martel:wght@400;800&family=Roboto:wght@300;400;500&display=swap");
@font-face {
  font-family: "graveBolt";
  src: url("../fonts/GraveSideBB.ttf");
}

@font-face {
  font-family: "Alaka";
  src: url("../fonts/alaskaextrabold.ttf");
}

@font-face {
  font-family: "Berlin";
  src: url("../fonts/Berlin Email 2.ttf");
}

@font-face {
  font-family: "Berlin2";
  src: url("../fonts/Berlin Email Bold.ttf");
}

@font-face {
  font-family: "Friz";
  src: url("../fonts/Friz Quadrata TT Regular.ttf");
}

@font-face {
  font-family: "Palatino";
  src: url("../fonts/palatino_linotype.ttf");
}

div.actor ::-webkit-scrollbar {
  background: transparent none;
}

div.actor ::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* Global styles */
.grid,
.grid-2col {
  display: grid;
  grid-column: span 2 / span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3 / span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4 / span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7 / span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8 / span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9 / span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10 / span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11 / span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12 / span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.flex-center,
.flex-left,
.flex-right {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5px;
  border: 1px solid #999;
}

.flex-left {
  justify-content: flex-start;
  text-align: left;
}

.flex-right {
  justify-content: flex-end;
  text-align: right;
}

/* foundry parts */
.window-app .window-content {
  font-family: Berlin;
  background-image: url(../images/thunder.png);
  background-size: cover;
  color: white;
}

.window-app .window-content div.form-group input {
  color: white;
}

.window-app .window-content input[type="text"],
.window-app .window-content input[type="number"],
.window-app .window-content input[type="password"],
.window-app .window-content input[type="date"],
.window-app .window-content input[type="time"] .editor {
  background-color: rgba(255, 255, 255, 0.39);
}

.window-app .window-content input::-moz-placeholder {
  background-color: rgba(0, 0, 0, 0);
}

.window-app .window-content input:-ms-input-placeholder {
  background-color: rgba(0, 0, 0, 0);
}

.window-app .window-content input::placeholder {
  background-color: rgba(0, 0, 0, 0);
}

.window-app .window-content .rollable:hover, .window-app .window-content .rollable:focus {
  color: #000;
  text-shadow: 0 0 10px white;
  cursor: pointer;
}

.window-app .window-content form .notes,
.window-app .window-content form .hint {
  color: #b1afaf;
}

.window-app .window-content form button,
.window-app .window-content form select {
  color: grey;
}

.window-app .window-content form button option,
.window-app .window-content form select option {
  color: white;
}

.window-app .window-content form button:hover {
  box-shadow: 0px 0px 5px #4970fa;
}

.window-app .window-content textarea {
  background-color: rgba(90, 157, 163, 0.493);
}

.window-app .window-content textarea:focus,
.window-app .window-content textarea:hover {
  background-color: rgba(90, 157, 163, 0.65);
  outline: 1px solid #222378;
  box-shadow: 0 0 10px #008cff7a;
}

#module-management {
  color: white;
}

#module-management input {
  color: lightgray;
}

#module-management .package-list .package-title {
  color: #c6e2fa;
}

body {
  font-family: Berlin;
}

body ::-webkit-scrollbar-thumb {
  outline: none;
  border-radius: 3px;
  background: #227878;
  border: 1px solid #efedeb;
}

button:hover,
button:focus {
  box-shadow: 0 0 10px #3bb3b3;
}

a:hover {
  text-shadow: 0 0 10px #3bb3b3;
}

.app,
.window-app {
  border-radius: 5px;
  box-shadow: 0 0 15px #122529;
  padding-bottom: 0.5em;
  color: #707070;
  z-index: 30;
}

.app input[type="text"]::-moz-placeholder, .app input[type="number"]::-moz-placeholder, .window-app input[type="text"]::-moz-placeholder, .window-app input[type="number"]::-moz-placeholder {
  color: rgba(0, 0, 0, 0.472);
  text-shadow: 0px 0px 10px black;
}

.app input[type="text"]:-ms-input-placeholder, .app input[type="number"]:-ms-input-placeholder, .window-app input[type="text"]:-ms-input-placeholder, .window-app input[type="number"]:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.472);
  text-shadow: 0px 0px 10px black;
}

.app input[type="text"]::placeholder,
.app input[type="number"]::placeholder,
.window-app input[type="text"]::placeholder,
.window-app input[type="number"]::placeholder {
  color: rgba(0, 0, 0, 0.472);
  text-shadow: 0px 0px 10px black;
}

.app option,
.window-app option {
  background: grey;
}

.app optgroup,
.window-app optgroup {
  background: #444242;
}

.app textarea,
.window-app textarea {
  color: white;
}

.app div.form-group,
.window-app div.form-group {
  margin: 10px;
  padding-bottom: 5px;
  border-bottom: 2px solid black;
}

.window-app .window-header {
  background: url(../images/tab-header.png);
  background-size: 100% 100%;
  font-family: Alaska;
  font-weight: bold;
  color: white;
}

#controls .scene-control,
#controls .control-tool,
#controls .scene-control,
#controls .control-tool {
  border: 1px solid black;
  color: grey;
  box-shadow: none;
}

#controls .scene-control,
#controls .control-tool,
#controls .scene-control:hover,
#controls .control-tool:hover {
  background: #0e1a1a;
  color: grey;
  background-size: cover;
  border: none;
}

#controls .scene-control .fa,
#controls .scene-control .fas,
#controls .control-tool .fa,
#controls .control-tool .fas,
#controls .scene-control:hover .fa,
#controls .scene-control:hover .fas,
#controls .control-tool:hover .fa,
#controls .control-tool:hover .fas {
  font-weight: 600;
  font-size: 16px;
}

#controls .scene-control.active,
#controls .control-tool.active,
#controls .scene-control:hover,
#controls .control-tool:hover {
  color: white;
  text-shadow: black 0px 0px 15px;
  box-shadow: none;
  border: none;
  background: #1d3838;
}

#sidebar {
  color: white;
  background-image: url(../images/thunder.png);
  background-size: cover;
}

#sidebar #sidebar-tabs {
  flex: 0 0 32px;
  box-sizing: border-box;
  margin: 0 0 5px;
  border-bottom: 1px solid #2c6d6d;
  box-shadow: 0 0 10px #227878;
}

#sidebar #sidebar-tabs > .item.active {
  color: #FFF;
  border: 1px solid #154949;
  border-bottom: none;
  box-shadow: 0 0 6px inset #154949;
}

#sidebar .tabs .item.active {
  text-shadow: 0 0 10px #154949;
}

#sidebar a:hover {
  text-shadow: 0 0 10px #001aff;
}

.dialog-button {
  color: #b4b4b4;
}

.chat-message {
  margin: 5px;
  color: black;
  background: none;
  background-color: rgba(255, 255, 255, 0.575);
}

.chat-message .skill-chat-title {
  font-size: 20px;
  padding: 0px;
  margin: 0px;
  text-align: center;
  font-family: "Palatino Linotype";
}

.chat-message .skill-unskilled-label {
  font-size: 12px;
  text-align: center;
  padding: 0px;
  margin: 0px;
  font-family: "Palatino Linotype";
  width: 100%;
}

.chat-message .skill-roll-disconnect-label {
  font-size: 12px;
  text-align: center;
  padding: 0px;
  margin: 0px;
  font-family: "Palatino Linotype";
  width: 100%;
  font-style: italic;
}

.chat-message .skill-roll-result {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  padding: 3px 0px 0px 0px;
  margin: 0px;
}

.chat-message .skill-roll-action-label {
  text-align: center;
  font-size: 12px;
  padding: 0px;
  margin: 0px;
}

.chat-message .skill-roll-table {
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.chat-message .skill-roll-table-1 {
  width: 40%;
  border: 1px solid black;
}

.chat-message .skill-roll-table-2 {
  width: 60%;
  background: #e8b017;
  padding-left: 5px;
  border: 1px solid black;
}

.chat-message .skill-roll-menu {
  font-size: 11px;
  text-align: center;
}

.chat-message .skill-roll-damage-label {
  font-family: "Palatino Linotype";
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

/* Styles limited to torg sheets */
@-webkit-keyframes roll {
  from {
    transform: scaleX(1.2) scaleY(1.2);
    transform-origin: 50% 50% 0;
  }
  33% {
    transform: scaleX(0.8) scaleY(0.8);
    transform-origin: 50% 50% 0;
  }
  to {
    transform: scaleX(0.8) scaleY(0.8);
    transform-origin: 50% 50% 0;
  }
}
@keyframes roll {
  from {
    transform: scaleX(1.2) scaleY(1.2);
    transform-origin: 50% 50% 0;
  }
  33% {
    transform: scaleX(0.8) scaleY(0.8);
    transform-origin: 50% 50% 0;
  }
  to {
    transform: scaleX(0.8) scaleY(0.8);
    transform-origin: 50% 50% 0;
  }
}

.torgeternity.actor .window-content {
  background-image: url(../images/bg-sheet.png);
  background-size: cover;
  font-family: Palatino;
  font-size: 0.9em;
}

form.actor-sheet {
  padding: 10px;
}

form.actor-sheet .actor-type {
  background: url(../images/separatorRound.png);
  position: absolute;
  transform: rotateZ(-90deg);
  left: -150px;
  top: 180px;
  width: 300px;
  background-size: 100% 100%;
  text-align: right;
  text-transform: uppercase;
}

form.actor-sheet .actor-type span {
  background: url(../images/type_back.png);
  color: black;
  text-shadow: 0px 0px 2px black;
  background-size: 100% 100%;
  padding: 3px 20px;
}

form.actor-sheet header {
  display: inline;
  margin-top: 15px;
}

form.actor-sheet header input[name="name"] {
  border: none;
  text-transform: uppercase;
  text-shadow: 0px -2px 10px #0e0909;
  font-family: Alaska;
  text-align: center;
}

.window-content .actor-sheet {
  color: black;
  font-family: Berlin2;
  font-size: 0.9em;
}

.window-content .actor-sheet .threat-stat-line {
  flex: none;
}

.window-content .actor-sheet section.sheet-body {
  height: 100%;
}

.window-content .actor-sheet .list-section-heading {
  height: 40px;
  font-size: 2em;
  text-align: center;
  background-image: url(../images/separator.png);
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.window-content .actor-sheet .tab[data-tab].active {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 0.3fr 0.2fr 0.2fr 0.13fr 0.3fr 0.3fr;
  grid-gap: 5px;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.window-content .actor-sheet .tab.threat-block-tab[data-tab].active {
  display: inline;
}

.window-content .actor-sheet .block {
  border: solid 4px;
  -o-border-image: url(../images/separator.png);
  border-image: url(../images/separator.png);
  border-image-slice: 50;
  box-shadow: 2px 2px 15px #9e9686;
  transition: all 0.3s cubic-bezier(0.6, -0.07, 0.56, 1.52) 0.2s;
  overflow: scroll;
}

.window-content .actor-sheet div.block:hover {
  box-shadow: 2px 2px 15px black;
}

.window-content .actor-sheet nav.tabs {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: none;
  position: absolute;
  transform: rotateZ(90deg);
  font-family: Alaska;
  text-transform: capitalize;
  right: -60px;
  top: 60px;
}

.window-content .actor-sheet nav.tabs a.item {
  min-width: 100px;
  transition: all 0.1s cubic-bezier(1, 0, 0, 1) 0.1s;
  color: white;
  background-image: url(../images/tab_back.png);
  background-size: contain;
}

.window-content .actor-sheet nav.tabs a.item:hover,
.window-content .actor-sheet nav.tabs a.item:active {
  text-transform: uppercase;
  transform: scaleX(1.1) scaleY(1.3) scaleZ(1.2);
  text-shadow: 0 0 10px #10813f;
  color: #e5ecec;
  z-index: 0;
}

.window-content .actor-sheet nav.tabs a.item.active {
  background-image: url(../images/active_tab_back.png);
  text-transform: uppercase;
}

.window-content .actor-sheet input {
  width: 20px;
  height: 20px;
  text-align: center;
}

.window-content .actor-sheet input[name="name"] {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 150px;
}

.window-content .actor-sheet input[type="text"]:hover,
.window-content .actor-sheet input[type="number"]:hover,
.window-content .actor-sheet input[type="text"]:focus,
.window-content .actor-sheet input[type="number"]:focus {
  box-shadow: 0 0 10px #4f523c inset;
}

.window-content .actor-sheet input[type="text"]::-moz-placeholder, .window-content .actor-sheet input[type="number"]::-moz-placeholder {
  color: #293131;
  text-shadow: 0px 0px 10px black;
}

.window-content .actor-sheet input[type="text"]:-ms-input-placeholder, .window-content .actor-sheet input[type="number"]:-ms-input-placeholder {
  color: #293131;
  text-shadow: 0px 0px 10px black;
}

.window-content .actor-sheet input[type="text"]::placeholder,
.window-content .actor-sheet input[type="number"]::placeholder {
  color: #293131;
  text-shadow: 0px 0px 10px black;
}

.window-content .actor-sheet img {
  border: none;
  flex: 0 0 60px;
  height: auto;
  max-height: 120px;
  max-width: 120px;
}

.window-content .actor-sheet h3 {
  font-family: Alaska;
  text-transform: uppercase;
}

.window-content .actor-sheet h2 {
  color: black;
  border: none;
  text-align: center;
  font-family: Alaska;
  text-shadow: 0px 0px 15px black;
  text-transform: uppercase;
  font-weight: bold;
}

.window-content .actor-sheet h1 {
  color: black;
  border: none;
  text-align: center;
  font-family: Alaska;
  text-shadow: 0px 0px 15px black;
  text-transform: uppercase;
  font-weight: bold;
}

.window-content .actor-sheet h1 input {
  color: white;
  border: none;
  text-align: center;
  font-family: Alaska;
  text-shadow: 0px 0px 5px black;
  text-transform: uppercase;
}

.window-content .actor-sheet .dark {
  background-color: rgba(0, 0, 0, 0.561);
  color: white;
}

.window-content .actor-sheet a.skill-roll:hover,
.window-content .actor-sheet a.skill-roll:active {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-name: roll;
  animation-name: roll;
  text-shadow: 0px 0px 10px #191e58;
}

.window-content .actor-sheet .item-name {
  margin-right: 10px;
}

.window-content .actor-sheet ol.item-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.window-content .actor-sheet ol.item-list img {
  max-width: 60px;
  max-height: 60px;
}

.window-content .actor-sheet ol.item-list li {
  margin: 5px;
  padding-bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid black;
}

.window-content .actor-sheet ol.item-list li .fle div {
  margin-right: 15px;
}

.window-content .actor-sheet .char_image {
  border: solid 5px;
  -o-border-image: url(../images/separator.png) 100 round;
  border-image: url(../images/separator.png) 100 round;
  grid-column: 5/7;
  grid-row: 3/4;
  transition: all 0.6s cubic-bezier(1, 0, 0, 1) 0.1s;
}

.window-content .actor-sheet .char_image:hover {
  transform: scale(1.1);
}

.window-content .actor-sheet .sheet-header {
  grid-column: 1/9;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.window-content .actor-sheet .sheet-header img {
  max-width: 100%;
  max-height: 90px;
}

.window-content .actor-sheet .sheet-header .axioms {
  background: url(../images/roundBack.webp);
  background-size: cover;
  width: 40px;
  height: 40px;
  padding-top: 35%;
}

.window-content .actor-sheet .sheet-header p {
  text-align: center;
  flex-direction: row;
}

.window-content .actor-sheet .sheet-header p span {
  display: block;
}

.window-content .actor-sheet .sheet-header select {
  color: black;
  border: none;
  border-bottom: solid;
  max-height: 20px;
  font-size: 0.9em;
}

.window-content .actor-sheet .sheet-header select:active,
.window-content .actor-sheet .sheet-header select:focus {
  box-shadow: 0 0 5px #0062ff;
}

.window-content .actor-sheet .sheet-header div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 5px;
  align-items: center;
}

.window-content .actor-sheet .sheet-header input[type="number"] {
  border: none;
  text-align: center;
  width: 40px;
  height: 40px;
  border-radius: 15px;
  background: url(../images/roundBack.webp);
  background-size: cover;
}

.window-content .actor-sheet .sheet-header.threat {
  flex: none;
}

.window-content .actor-sheet .attributes {
  grid-column: 1/5;
  grid-row: 2/3;
}

.window-content .actor-sheet .others {
  grid-column: 5/9;
  grid-row: 2/3;
}

.window-content .actor-sheet .attributes ul,
.window-content .actor-sheet .attributes ol,
.window-content .actor-sheet .others ul,
.window-content .actor-sheet .others ol,
.window-content .actor-sheet .weapons ul,
.window-content .actor-sheet .weapons ol {
  font-family: Berlin;
  display: flex;
  justify-content: space-around;
}

.window-content .actor-sheet .attributes ul li.attribut-block,
.window-content .actor-sheet .attributes ol li.attribut-block,
.window-content .actor-sheet .others ul li.attribut-block,
.window-content .actor-sheet .others ol li.attribut-block,
.window-content .actor-sheet .weapons ul li.attribut-block,
.window-content .actor-sheet .weapons ol li.attribut-block {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.window-content .actor-sheet .attributes ul li.attribut-block input[type="number"],
.window-content .actor-sheet .attributes ol li.attribut-block input[type="number"],
.window-content .actor-sheet .others ul li.attribut-block input[type="number"],
.window-content .actor-sheet .others ol li.attribut-block input[type="number"],
.window-content .actor-sheet .weapons ul li.attribut-block input[type="number"],
.window-content .actor-sheet .weapons ol li.attribut-block input[type="number"] {
  border: none;
  text-align: center;
  width: 40px;
  height: 40px;
  border-radius: 15px;
  background: url(../images/roundBack.webp);
  background-size: cover;
}

.window-content .actor-sheet .attributes ul li.attribut-block a,
.window-content .actor-sheet .attributes ol li.attribut-block a,
.window-content .actor-sheet .others ul li.attribut-block a,
.window-content .actor-sheet .others ol li.attribut-block a,
.window-content .actor-sheet .weapons ul li.attribut-block a,
.window-content .actor-sheet .weapons ol li.attribut-block a {
  text-align: center;
}

.window-content .actor-sheet .skills {
  grid-column: 1/5;
  grid-row: 3/7;
  overflow: scroll;
  max-height: 500px;
}

.window-content .actor-sheet .skills ul {
  font-family: Berlin;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.window-content .actor-sheet .skills ul li {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 1px solid grey;
}

.window-content .actor-sheet .skills ul li input {
  border: none;
  text-align: center;
  width: 18px;
  height: 18px;
}

.window-content .actor-sheet .skills ul li span {
  width: 90%;
  text-align: center;
}

.window-content .actor-sheet .skills ul li a {
  margin-left: auto;
  text-align: center;
}

.window-content .actor-sheet .perks-list {
  grid-column: 5/9;
  grid-row: 5/6;
}

.window-content .actor-sheet .weapons-list {
  grid-column: 5/9;
  grid-row: 6/7;
}

.window-content .actor-sheet .perks-list h2,
.window-content .actor-sheet .perks-list h3,
.window-content .actor-sheet .weapons-list h2,
.window-content .actor-sheet .weapons-list h3 {
  margin-bottom: 1px;
}

.window-content .actor-sheet .perks-list .item-list li,
.window-content .actor-sheet .weapons-list .item-list li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid;
  margin: 1px;
  padding: 1px;
}

.window-content .actor-sheet .perks-list .item-list li .item-name,
.window-content .actor-sheet .weapons-list .item-list li .item-name {
  padding-top: 5px;
  max-width: 150px;
}

.window-content .actor-sheet .perks-list .item-list li img,
.window-content .actor-sheet .weapons-list .item-list li img {
  max-width: 30px;
  max-height: 30px;
}

.window-content .actor-sheet .perks-details,
.window-content .actor-sheet .gear,
.window-content .actor-sheet .powers {
  grid-column: 1/9;
  grid-row: 1/9;
}

.window-content .actor-sheet .perks-details h2,
.window-content .actor-sheet .gear h2,
.window-content .actor-sheet .powers h2 {
  text-align: left;
  background: #37465438;
}

.window-content .actor-sheet .perks-details ol,
.window-content .actor-sheet .gear ol,
.window-content .actor-sheet .powers ol {
  font-family: Berlin;
}

.window-content .actor-sheet .perks-details ol li,
.window-content .actor-sheet .gear ol li,
.window-content .actor-sheet .powers ol li {
  position: relative;
  display: flex;
  flex-direction: column;
}

.window-content .actor-sheet .perks-details ol li .item-name,
.window-content .actor-sheet .gear ol li .item-name,
.window-content .actor-sheet .powers ol li .item-name {
  text-align: center;
}

.window-content .actor-sheet .perks-details ol li img,
.window-content .actor-sheet .gear ol li img,
.window-content .actor-sheet .powers ol li img {
  margin: 5px;
}

.window-content .actor-sheet .perks-details ol li .item-detail,
.window-content .actor-sheet .gear ol li .item-detail,
.window-content .actor-sheet .powers ol li .item-detail {
  overflow: scroll;
  position: relative;
  z-index: 1000;
  max-height: 0px;
}

.window-content .actor-sheet .perks-details ol li .item-controls,
.window-content .actor-sheet .gear ol li .item-controls,
.window-content .actor-sheet .powers ol li .item-controls {
  justify-content: end;
}

.window-content .actor-sheet .perks-details ol li .item-controls a.item-control,
.window-content .actor-sheet .gear ol li .item-controls a.item-control,
.window-content .actor-sheet .powers ol li .item-controls a.item-control {
  float: right;
  margin-right: 10px;
}

.window-content .actor-sheet .perks-details ol li .item-controls a.item-equip.item-equipped,
.window-content .actor-sheet .gear ol li .item-controls a.item-equip.item-equipped,
.window-content .actor-sheet .powers ol li .item-controls a.item-equip.item-equipped {
  color: #0000af;
  text-shadow: 0px 0px 5px #0011ff;
}

.window-content .actor-sheet .perks-details ol li .item-controls a.item-equip.item-unequipped,
.window-content .actor-sheet .gear ol li .item-controls a.item-equip.item-unequipped,
.window-content .actor-sheet .powers ol li .item-controls a.item-equip.item-unequipped {
  color: #680000;
  text-shadow: 0px 0px 5px #f80202;
}

.window-content .actor-sheet .perks-details ol li .item-dropdown-extras,
.window-content .actor-sheet .gear ol li .item-dropdown-extras,
.window-content .actor-sheet .powers ol li .item-dropdown-extras {
  font-style: italic;
  border: 1px solid grey;
  text-align: center;
  background-color: #9e96868e;
}

.window-content .actor-sheet .background .list-section-heading {
  grid-column: 1/9;
  grid-row: 1/2;
  align-items: center;
  margin-top: 10%;
}

.window-content .actor-sheet .background .editor {
  grid-column: 1/9;
  grid-row: 2/6;
  background: url(../images/bckg-hex.png);
  background-size: 100% 100%;
  min-height: 200px;
  padding: 15% 10% 10% 10%;
}

.window-content .actor-sheet .perks {
  grid-column: 1/9;
  grid-row: 1/9;
}

.window-content .actor-sheet .spells {
  grid-column: 5/9;
  grid-row: 1/4;
}

.window-content .actor-sheet .miracles {
  grid-column: 1/5;
  grid-row: 4/9;
}

.window-content .actor-sheet .psionic {
  grid-column: 5/9;
  grid-row: 4/9;
}

.window-content .actor-sheet .effects {
  grid-column: 1/9;
  grid-row: 1/5;
}

.window-content .actor-sheet .xp {
  grid-column: 5/9;
  grid-row: 4/5;
  flex-direction: row;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.window-content .actor-sheet .xp input {
  background: url(../images/roundBack.webp);
  background-size: cover;
  width: 50px;
  height: 50px;
  border: none;
}

.window-content .actor-sheet .defense {
  line-height: 0.7em;
  padding-top: 10px;
  grid-column: 7/9;
  grid-row: 3/4;
}

.window-content .actor-sheet .defense p {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.window-content .actor-sheet .defense p span {
  display: block;
}

.window-content .actor-sheet .defense h3.vital-box {
  justify-content: space-between;
  display: flex;
}

.window-content .actor-sheet .defense input {
  width: 25%;
}

.window-content .actor-sheet .threat-editor {
  grid-column: 1/9;
  grid-row: 2/5;
  flex-direction: row;
  display: flex;
}

.window-content .actor-sheet .threat-editor .threat-edit {
  flex-direction: column;
}

.window-content .actor-sheet .threat-editor .editor {
  width: 400px;
  height: 400px;
  background: url(../images/bckg-hex.png);
  background-size: 110% 110%;
  padding: 20px;
  background-position: center;
}

.window-content .actor-sheet .stat-block {
  grid-column: 1/9;
  flex-direction: row;
}

form.actor-sheet.threat td {
  position: relative;
  line-height: 1.8;
}

form.actor-sheet.threat td input {
  right: 2px;
  position: absolute;
}

form.actor-sheet.threat .sheet-header {
  flex-direction: row;
}

form.actor-sheet.threat .threat-edit {
  vertical-align: top;
}

form.actor-sheet.threat .tab[data-tab].active {
  display: block;
}

form.actor-sheet.threat .tab[data-tab].active .list-section-heading {
  height: 40px;
  font-size: 2em;
  text-align: center;
  background-image: url(../images/separator.png);
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

form.actor-sheet.threat .tab[data-tab].active .list-section-heading .item-create-rsa,
form.actor-sheet.threat .tab[data-tab].active .list-section-heading .item-create-sa {
  float: right;
  padding: 0px 5px 0px 5px;
}

form.actor-sheet.threat .tab[data-tab].active ol.item-list {
  padding: 0px;
}

form.actor-sheet.threat .tab[data-tab].active ol.item-list li {
  display: block;
  overflow: hidden;
  padding-bottom: 0px;
}

form.actor-sheet.threat .tab[data-tab].active ol.item-list li img {
  height: 30px;
  width: 30px;
  max-width: 30px;
}

form.actor-sheet.threat .tab[data-tab].active ol.item-list li .block {
  border: 1px 0px 0px 0px black;
  box-shadow: none;
}

form.actor-sheet.threat .tab[data-tab].active ol.item-list li .item-name {
  text-align: center;
  display: inline;
  max-width: 500px;
}

form.actor-sheet.threat .tab[data-tab].active ol.item-list li .item-controls {
  justify-content: end;
  max-width: 80px;
  display: inline;
}

form.actor-sheet.threat .tab[data-tab].active ol.item-list li .item-controls .item-control {
  margin-right: 5px;
}

form.actor-sheet.threat .tab[data-tab].active ol.item-list li .item-detail {
  max-height: 0px;
}

form.actor-sheet.threat .tab[data-tab].active ol.item-list li .item-detail .item-dropdown-description {
  max-height: inherit;
}

form.actor-sheet.threat .tab[data-tab].active ol.item-list li .item-detail .item-dropdown-extras {
  font-style: italic;
  border: 1px solid grey;
  text-align: center;
  background-color: #9e96868e;
}

.item .window-content {
  padding: 0px;
}

.item .window-content form.item-sheet {
  padding: 10px;
  background-image: url(../images/bg-sheet.png);
  background-size: cover;
  font-family: Palatino;
  font-size: 0.9em;
}

.item .window-content form.item-sheet .item-type {
  background: url(../images/separatorRound.png);
  position: absolute;
  transform: rotateZ(-90deg);
  left: -150px;
  top: 180px;
  width: 300px;
  background-size: 100% 100%;
  text-align: right;
  text-transform: uppercase;
}

.item .window-content form.item-sheet .item-type span {
  background: url(../images/type_back.png);
  color: black;
  text-shadow: 0px 0px 2px black;
  background-size: 100% 100%;
  padding: 3px 20px;
}

.item .window-content form.item-sheet header {
  margin-top: 15px;
}

.item .window-content form.item-sheet header input[name="name"] {
  border: none;
  text-transform: uppercase;
  text-shadow: 0px -2px 10px #0e0909;
  font-family: Alaska;
  text-align: center;
}

.item .window-content form.item-sheet .sheet-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  margin: 15px;
  color: black;
}

.item .window-content form.item-sheet .asside {
  grid-row: 1/4;
  grid-column: 1/2;
  text-align: center;
}

.item .window-content form.item-sheet .asside input[type="number"] {
  border: none;
  text-align: center;
  width: 40px;
  height: 40px;
  border-radius: 15px;
  background: url(../images/roundBack.webp);
  background-size: cover;
}

.item .window-content form.item-sheet .asside select {
  color: black;
  text-align: center;
}

.item .window-content form.item-sheet .main-content {
  grid-row: 1/4;
  grid-column: 2/5;
}

.item .window-content form.item-sheet .editor {
  width: 400px;
  height: 400px;
  background: url(../images/bckg-hex.png);
  background-size: 110% 110%;
  padding: 20px;
  background-position: center;
}

.item .window-content form.item-sheet nav.tabs {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: none;
  position: absolute;
  transform: rotateZ(90deg);
  font-family: Alaska;
  text-transform: capitalize;
  right: -60px;
  top: 60px;
}

.item .window-content form.item-sheet nav.tabs a.item {
  min-width: 100px;
  transition: all 0.1s cubic-bezier(1, 0, 0, 1) 0.1s;
  color: white;
  background-image: url(../images/tab_back.png);
  background-size: contain;
}

.item .window-content form.item-sheet nav.tabs a.item:hover,
.item .window-content form.item-sheet nav.tabs a.item:active {
  text-transform: uppercase;
  transform: scaleX(1.1) scaleY(1.3) scaleZ(1.2);
  text-shadow: 0 0 10px #10813f;
  color: #e5ecec;
  z-index: 0;
}

.item .window-content form.item-sheet nav.tabs a.item.active {
  background-image: url(../images/active_tab_back.png);
  text-transform: uppercase;
}

.item .window-content form.item-sheet select:hover,
.item .window-content form.item-sheet select:focus,
.item .window-content form.item-sheet input[type="text"]:hover,
.item .window-content form.item-sheet input[type="number"]:hover,
.item .window-content form.item-sheet input[type="text"]:focus,
.item .window-content form.item-sheet input[type="number"]:focus {
  box-shadow: 0 0 10px #4f523c inset;
}

.item .window-content form.item-sheet input[type="text"]::-moz-placeholder, .item .window-content form.item-sheet input[type="number"]::-moz-placeholder {
  color: #161a1a;
  text-shadow: 0px 0px 10px black;
}

.item .window-content form.item-sheet input[type="text"]:-ms-input-placeholder, .item .window-content form.item-sheet input[type="number"]:-ms-input-placeholder {
  color: #161a1a;
  text-shadow: 0px 0px 10px black;
}

.item .window-content form.item-sheet input[type="text"]::placeholder,
.item .window-content form.item-sheet input[type="number"]::placeholder {
  color: #161a1a;
  text-shadow: 0px 0px 10px black;
}

.item .window-content form.item-sheet .item-description-textarea {
  font-family: "Palatino Linotype";
  font-size: 12px;
  border-radius: 15px;
  resize: none;
  padding: 5px 5px;
}

.item .window-content form.item-sheet .effects .item-list {
  padding: 0px;
}

.item .window-content form.item-sheet .effects .effects-list {
  padding: 0px;
}

.item .window-content form.item-sheet .effects .effects-heading {
  color: white;
  background-color: black;
  margin: 2px 0;
  align-items: center;
  font-weight: bold;
  font-family: "Palatino Linotype";
}

.item .window-content form.item-sheet .effects .effects-item {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
  color: black;
}

.item .window-content form.item-sheet .effects .effect-name {
  white-space: nowrap;
  overflow-x: hidden;
  text-align: left;
  font-family: "Palatino Linotype";
  padding: 0px 0px 0px 10px;
  width: 25%;
}

.item .window-content form.item-sheet .effects .effect-section-title {
  width: 25%;
  padding: 0px 0px 0px 10px;
}

.item .window-content form.item-sheet .effects .effect-source,
.item .window-content form.item-sheet .effects .effect-duration,
.item .window-content form.item-sheet .effects .effect-controls {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
  font-family: "Palatino Linotype";
  width: 25%;
}

.item .window-content form.item-sheet .effects .effect-controls {
  border: none;
  flex: 1;
}

.item .window-content form.item-sheet .effects .effect-item-image {
  flex: 0 0 30px;
  height: 30px;
  background-size: 30px;
  border: none;
  margin-right: 5px;
}

.item .window-content form.item-sheet .effects .effect-toggle,
.item .window-content form.item-sheet .effects .effect-edit,
.item .window-content form.item-sheet .effects .effect-delete {
  padding: 5px;
}
