@import url("https://fonts.googleapis.com/css2?family=Martel:wght@400;800&family=Roboto:wght@300;400;500&display=swap");
@font-face {
  font-family: "graveBolt";
  src: url("../fonts/GraveSideBB.ttf");
}

@font-face {
  font-family: "Alaska";
  src: url("../fonts/Alaska Extrabold Bold.ttf");
}

@font-face {
  font-family: "OptiBold";
  src: url("../fonts/OPTITriplettBoldAgency.otf");
}

@font-face {
  font-family: "OptiLight";
  src: url("../fonts/OPTITriplettLight-Agency.otf");
}

@font-face {
  font-family: "Friz";
  src: url("../fonts/Friz Quadrata TT Regular.ttf");
}

@font-face {
  font-family: "Palatino";
  src: url("../fonts/palatino_linotype.ttf");
}

div.actor ::-webkit-scrollbar {
  background: transparent none;
}

div.actor ::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* Global styles */
.grid,
.grid-2col {
  display: grid;
  grid-column: span 2 / span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3 / span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4 / span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7 / span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8 / span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9 / span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10 / span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11 / span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12 / span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.flex-center,
.flex-left,
.flex-right {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5px;
  border: 1px solid #999;
}

.flex-left {
  justify-content: flex-start;
  text-align: left;
}

.flex-right {
  justify-content: flex-end;
  text-align: right;
}

/* foundry parts */
.window-app .window-content {
  font-family: OptiLight;
  background-image: url(../images/thunder.webp);
  background-size: cover;
  color: white;
}

.window-app .window-content div.form-group input {
  color: white;
}

.window-app .window-content input[type="text"],
.window-app .window-content input[type="number"],
.window-app .window-content input[type="password"],
.window-app .window-content input[type="date"],
.window-app .window-content input[type="time"] .editor {
  background-color: rgba(255, 255, 255, 0.39);
}

.window-app .window-content input::-moz-placeholder {
  background-color: rgba(0, 0, 0, 0);
}

.window-app .window-content input:-ms-input-placeholder {
  background-color: rgba(0, 0, 0, 0);
}

.window-app .window-content input::placeholder {
  background-color: rgba(0, 0, 0, 0);
}

.window-app .window-content .rollable:hover, .window-app .window-content .rollable:focus {
  color: #000;
  text-shadow: 0 0 10px white;
  cursor: pointer;
}

.window-app .window-content form .notes,
.window-app .window-content form .hint {
  color: #b1afaf;
}

.window-app .window-content form button,
.window-app .window-content form select {
  color: grey;
}

.window-app .window-content form button option,
.window-app .window-content form select option {
  color: white;
}

.window-app .window-content form button:hover {
  box-shadow: 0px 0px 5px #4970fa;
}

.journal-sheet .window-content {
  font-family: Palatino;
  background-image: url(../images/box-bckg.webp);
  background-size: 100% 100%;
  color: black;
}

.journal-sheet .window-content button[name="submit"] {
  position: absolute;
  bottom: 0px;
  left: -2px;
  background-color: rgba(0, 0, 0, 0.68);
}

.journal-sheet .window-content input[type="text"],
.journal-sheet .window-content select {
  margin-top: 4%;
  margin-left: 5%;
  width: 90%;
  text-align: center;
  border: none;
  text-transform: uppercase;
  font-family: Alaska;
  font-weight: bold;
  color: #000;
}

.journal-sheet .window-content input[type="text"] {
  position: absolute;
  top: 3%;
  margin-left: 4%;
}

.journal-sheet .window-content select {
  position: absolute;
  top: 9%;
  margin-left: 4%;
}

.journal-sheet .window-content input[type="text"]:hover,
.journal-sheet .window-content select:hover,
.journal-sheet .window-content input[type="text"]:focus,
.journal-sheet .window-content select:focus,
.journal-sheet .window-content input[type="text"]:active,
.journal-sheet .window-content select:active,
.journal-sheet .window-content .editor:hover,
.journal-sheet .window-content .editor:focus,
.journal-sheet .window-content .editor:active {
  box-shadow: 0 0 15px #053075;
}

.journal-sheet .window-content .editor {
  top: 15%;
  margin-top: 2%;
  margin-left: 4%;
  width: 90%;
  height: 80%;
  padding: 2%;
}

.journal-sheet .window-content .editor .editor-content h1 {
  font-family: Alaska;
  text-transform: uppercase;
  text-align: center;
  color: white;
  background-color: #0a0b3b;
  border-bottom: none;
}

.journal-sheet .window-content .editor .editor-content h2 {
  font-family: Alaska;
  border-bottom: none;
}

.journal-sheet .window-content .editor .editor-content h3 {
  font-family: Alaska;
  font-weight: bold;
}

.window-app.image-popout .form-group.title {
  margin-top: 1%;
}

.window-app.image-popout .form-group.title input {
  height: 32px;
  text-align: center;
  margin-top: 0%;
}

textarea {
  background-color: rgba(90, 157, 163, 0.493);
}

textarea:focus,
textarea:hover {
  background-color: rgba(90, 157, 163, 0.65);
  outline: 1px solid #222378;
  box-shadow: 0 0 10px #008cff7a;
}

#module-management {
  color: white;
}

#module-management input {
  color: lightgray;
}

#module-management .package-list .package-title {
  color: #c6e2fa;
}

@-webkit-keyframes rotateblur {
  0% {
    transform: rotateZ(0deg);
    top: 5px;
  }
  50% {
    transform: rotateZ(180deg);
    top: -65px;
  }
  75% {
    transform: rotateZ(310deg);
    top: 20px;
  }
  100% {
    transform: rotateZ(360deg);
    top: 5px;
  }
}

@keyframes rotateblur {
  0% {
    transform: rotateZ(0deg);
    top: 5px;
  }
  50% {
    transform: rotateZ(180deg);
    top: -65px;
  }
  75% {
    transform: rotateZ(310deg);
    top: 20px;
  }
  100% {
    transform: rotateZ(360deg);
    top: 5px;
  }
}

body {
  font-family: OptiLight;
  font-size: 12px;
}

body * {
  scrollbar-color: #227878 #2e2e2e94;
  scrollbar-width: thin;
}

body * ::-webkit-scrollbar-thumb {
  outline: none;
  border-radius: 3px;
  background: #227878;
  border: 1px solid #2e2e2e94;
}

input[type="text"],
input[type="number"],
input[type="password"],
input[type="date"],
input[type="time"],
select,
option,
textarea {
  font-family: OptiLight;
}

button {
  font-family: OptiBold;
}

button:hover,
button:focus {
  box-shadow: 0 0 10px #3bb3b3;
}

a:hover {
  text-shadow: 0 0 10px #3bb3b3;
}

.app,
.window-app {
  border-radius: 5px;
  box-shadow: 0 0 15px #122529;
  padding-bottom: 0.5em;
  color: #707070;
  z-index: 30;
}

.app a.entity-link,
.window-app a.entity-link {
  color: black;
}

.app input[type="text"]::-moz-placeholder, .app input[type="number"]::-moz-placeholder, .window-app input[type="text"]::-moz-placeholder, .window-app input[type="number"]::-moz-placeholder {
  color: rgba(0, 0, 0, 0.472);
  text-shadow: 0px 0px 10px black;
}

.app input[type="text"]:-ms-input-placeholder, .app input[type="number"]:-ms-input-placeholder, .window-app input[type="text"]:-ms-input-placeholder, .window-app input[type="number"]:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.472);
  text-shadow: 0px 0px 10px black;
}

.app input[type="text"]::placeholder,
.app input[type="number"]::placeholder,
.window-app input[type="text"]::placeholder,
.window-app input[type="number"]::placeholder {
  color: rgba(0, 0, 0, 0.472);
  text-shadow: 0px 0px 10px black;
}

.app option,
.window-app option {
  background: grey;
}

.app optgroup,
.window-app optgroup {
  background: #444242;
}

.app textarea,
.window-app textarea {
  color: white;
}

.app div.form-group,
.window-app div.form-group {
  margin: 10px;
  padding-bottom: 5px;
  border-bottom: 2px solid black;
}

.window-app .window-resizable-handle {
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: -10px;
  right: -10px;
  background: url(../images/resizerRound.webp);
  background-size: 115% 115%;
  background-position: center;
  padding: 2px;
  border: none;
  border-radius: 50%;
  box-shadow: 0px 0px 5px blue;
  transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
}

.window-app .window-resizable-handle i.fas {
  transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  transform: rotate(45deg);
  top: 25%;
  left: 25%;
  position: absolute;
  color: rgba(255, 255, 255, 0);
  text-shadow: 0px 0px 30px rgba(255, 255, 255, 0);
}

.window-app .window-resizable-handle i.fas:hover {
  transform: rotate(45deg) scaleX(1.6);
  color: #ffffff;
  -webkit-text-fill-color: white;
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.window-app .window-resizable-handle:active {
  box-shadow: 0px 0px 30px blue;
}

.window-app .window-header {
  background: url(../images/tab-header.webp);
  background-size: 100% 100%;
  font-family: Alaska;
  font-weight: bold;
  color: white;
  transform: scaleX(1.06);
  padding-left: 5%;
  padding-right: 5%;
  border: none;
  box-shadow: 0px 15px 30px black;
  z-index: 100;
}

#pause img {
  content: url(../images/pause.webp);
  height: 130px;
  width: 130px;
  top: -0px;
  left: calc(50% - 65px);
  opacity: 0.7;
  -webkit-animation: rotateblur 3s linear infinite;
  animation: rotateblur 3s linear infinite;
}

#controls .scene-control,
#controls .control-tool,
#controls .scene-control:hover,
#controls .control-tool:hover {
  transition: all 250ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  background: url(../images/resizerRound.webp);
  background-size: 100% 100%;
  color: #6b6b6b;
  border: none;
  border-radius: 50% 50%;
  box-shadow: 0px 0px 15px black inset;
}

#controls .scene-control i.fa,
#controls .scene-control i.fas,
#controls .control-tool i.fa,
#controls .control-tool i.fas,
#controls .scene-control:hover i.fa,
#controls .scene-control:hover i.fas,
#controls .control-tool:hover i.fa,
#controls .control-tool:hover i.fas {
  font-weight: 600;
  font-size: 16px;
}

#controls .scene-control i.fa::before,
#controls .scene-control i.fas:before,
#controls .control-tool i.fa::before,
#controls .control-tool i.fas:before,
#controls .scene-control:hover i.fa::before,
#controls .scene-control:hover i.fas:before,
#controls .control-tool:hover i.fa::before,
#controls .control-tool:hover i.fas:before {
  position: relative;
  top: -2px;
}

#controls .scene-control.active,
#controls .control-tool.active,
#controls .scene-control:hover,
#controls .control-tool:hover {
  color: white;
  text-shadow: black 0px 0px 15px;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.678) inset;
  border: none;
}

#sidebar {
  color: white;
  background-image: url(../images/thunder.webp);
  background-size: 80% 100%;
  padding-left: 80px;
  width: 380px;
  height: 100%;
  background-position-x: 80px;
  background-repeat: no-repeat;
  border: none;
  box-shadow: none;
}

#sidebar #sidebar-tabs {
  flex: 0 0 32px;
  box-sizing: border-box;
  margin: 0 0 5px;
  border-bottom: 1px solid #2c6d6d;
  box-shadow: 0 0 10px #227878;
}

#sidebar #sidebar-tabs > .item.active {
  color: #fff;
  border: 1px solid #154949;
  border-bottom: none;
  box-shadow: 0 0 6px inset #154949;
}

#sidebar .tabs .item.active {
  text-shadow: 0 0 10px #154949;
}

#sidebar a:hover {
  text-shadow: 0 0 10px #001aff;
}

#sidebar textarea#chat-message {
  color: black;
}

div#sidebar::before {
  width: 80px;
  height: 120%;
  position: absolute;
  left: 0px;
  /* top: -50px; */
  background: url(../images/separatorSidebar.webp);
  content: "";
  margin-right: 150px;
  background-size: 80% 100%;
  background-position: 280% 50%;
  background-repeat: no-repeat;
  box-shadow: 20px 0px 100px #000000a6;
  z-index: 200;
}

div#sidebar.collapsed::before {
  width: 0px;
  content: unset;
}

div#sidebar.collapsed {
  right: 0px;
  padding-left: 0px;
  background-position: center;
  background-size: 100% 100%;
}

#hotbar {
  width: 630px;
}

#hotbar .bar-controls {
  flex: 0 0 55px;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 15px;
  padding-bottom: 15px;
  height: 120%;
  margin: 0 2px;
  text-align: center;
  background: url(../images/resizerRound.webp);
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  background-size: 100% 100%;
  background-position: center;
  border: none;
  box-shadow: none;
  border-radius: 40%;
  font-weight: bolder;
}

#hotbar .bar-controls a,
#hotbar .bar-controls a.page-control,
#hotbar .bar-controls span.page-number {
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  display: block;
  line-height: 5px;
  font-size: 20px;
}

#hotbar .bar-controls a:hover {
  transform: scale(1.8);
}

#hotbar #action-bar ol#macro-list {
  border: none;
}

#hotbar #action-bar ol#macro-list li.macro {
  position: relative;
  flex: 0 0 50px;
  height: 50px;
  background: url(../images/backg-page.webp);
  border-radius: 25%;
  box-shadow: 0 0 5px #000 inset;
  cursor: pointer;
  border-radius: 0% 0% 75%;
}

#hotbar #action-bar ol#macro-list li.macro.active {
  border-radius: 10%;
}

#hotbar #action-bar ol#macro-list li.macro:hover {
  box-shadow: 0 0 10px #004777 inset;
}

#navigation #nav-toggle {
  flex: 0 0 50px;
  height: 50px;
  background: url(../images/resizerRound.webp);
  background-size: 100% 100%;
  text-align: center;
  text-shadow: 0 0 10px #db0303;
  border: none;
  color: white;
  padding-top: 10px;
  font-size: 30px;
}

#navigation a.scene-name {
  font-family: "Alaska";
  text-transform: uppercase;
  border: none;
}

#navigation #scene-list .scene {
  text-align: justify;
  background: url(../images/scene.webp);
  background-size: 100% 100%;
  padding-left: 10px;
  padding-right: 10px;
  min-height: 40px;
  min-width: 70px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: none;
  color: #a0a0a0;
  text-shadow: 0px 0px 3px black;
}

#navigation #scene-list .scene.gm {
  background: url(../images/scene-gm.webp);
  background-size: 100% 100%;
  border: none;
  box-shadow: none;
}

#navigation #scene-list .scene.active {
  background: url(../images/scene-active.webp);
  background-size: 100% 100%;
  border: none;
  box-shadow: none;
}

#navigation #scene-list .scene.view {
  background: url(../images/scene-view.webp);
  background-size: 100% 100%;
  border: none;
  box-shadow: none;
}

.dialog-button {
  color: #b4b4b4;
}

#players-popout div.app {
  top: 0%;
  width: 100%;
  z-index: auto;
  background-size: cover;
  line-height: 25px;
}

#players {
  background-image: url(../images/thunder.webp);
  background-position: center;
  bottom: 0px;
  left: 0px;
  width: 200px;
  margin: 0;
  border: none;
  min-width: 200px;
  min-height: 20px;
  box-shadow: none;
  padding: 0% 0% 0% 0%;
  color: white;
}

#players .players-popout {
  color: white;
  font-size: larger;
  position: relative;
  top: -25px;
  z-index: +1;
  left: 15px;
}

#players h3 {
  text-shadow: 0px 3px 10px #8181cc;
  padding: 4px;
  border: none;
  box-shadow: 0px 5px 15px rgba(255, 255, 255, 0.459);
  text-align: center;
  color: white;
  position: relative;
}

#players h3 .players-mode {
  color: white;
}

#players ol {
  list-style: none;
  margin: 0 0 4px;
  padding: 0;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin-right: 25%;
  /* justify-items: flex-end; */
}

#players ol li.player {
  line-height: 25px;
  padding: 1px 8px;
  justify-content: flex-end;
  display: flex;
}

#players ol li.player .player-active {
  flex: 0 0 15px;
  height: 15px;
  border: 1px solid #000;
  border-radius: 50%;
  margin: 5px 5px 0 0;
  background-size: cover;
}

#players ol li.player .player-name {
  text-shadow: 0px 3px 10px #8181cc;
  color: white;
}

#players ol li.player .player-name.self {
  text-decoration: underline;
  color: #f6f6f6;
}

#players::after {
  background: url(../images/separatorRound.webp);
  width: 230px;
  height: 35px;
  content: "";
}

#player-config label {
  color: lightblue;
  font-weight: normal;
  font-size: 12px;
}

#controls,
#logo,
#navigation,
#sidebar,
#hotbar,
#players {
  position: absolute;
  transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
}

#combat .combatant-init {
  color: white;
}

#combat ol li.combatant {
  border-left: 5px solid black;
}

#combat ol li.combatant.dispo1 {
  background-color: rgba(15, 47, 189, 0.212);
}

#combat ol li.combatant.dispo-1 {
  background-color: rgba(143, 1, 1, 0.28);
}

#combat ol li.combatant.dispo0 {
  background-color: rgba(141, 143, 1, 0.28);
}

#combat ol li.combatant.active {
  border-left: 5px solid white;
  box-shadow: 0px -10px 40px rgba(255, 255, 255, 0.5) inset;
}

#combat ol a.has-played {
  color: rgba(128, 128, 128, 0.739);
  text-shadow: 0px 0px 6px black;
  max-width: 5%;
}

#combat ol a.has-played.playedOK {
  color: #a0bd8e;
  text-shadow: 0px 0px 6px white;
}

#combat ol a.init-up,
#combat ol a.init-down {
  max-width: 5%;
}

#combat ol a.init-up:hover,
#combat ol a.init-down:hover {
  text-shadow: 0px 0px 5px #c8cf00;
  color: #f8f83c;
}

#party-sheet h1,
#party-sheet h2,
#party-sheet h3,
#party-sheet h4 {
  text-align: center;
}

#party-sheet h2 {
  border-bottom: 2px solid #419c9c;
}

#party-sheet h3 {
  border-bottom: 2px solid #215050;
}

#party-sheet h4 {
  text-decoration: underline;
}

#party-sheet .flexrow {
  margin: 4px;
}

#party-sheet .flexrow div {
  border: 1px solid rgba(128, 128, 128, 0.301);
  padding: 2px;
  box-shadow: 0px 0px 0px rgba(87, 87, 87, 0.301) inset;
  transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
}

#party-sheet .flexrow div div:hover {
  box-shadow: 0px 0px 35px #5a5a5a inset;
}

div.readme a.compendium {
  text-decoration: underline;
  color: #419c9c;
}

@-webkit-keyframes flip {
  0% {
    transform: translateX(100%) rotateY(-180deg) scale(0.2);
    transform-origin: 0% 50%;
  }
  100% {
    transform: translateX(0) rotateZ(0) scale(1);
    transform-origin: 100% 50%;
  }
}

@keyframes flip {
  0% {
    transform: translateX(100%) rotateY(-180deg) scale(0.2);
    transform-origin: 0% 50%;
  }
  100% {
    transform: translateX(0) rotateZ(0) scale(1);
    transform-origin: 100% 50%;
  }
}

.chat-message.flip-card {
  -webkit-animation: flip 0.5s linear both;
  animation: flip 0.5s linear both;
}

.chat-message {
  margin: 5px;
  color: black;
  background: url("../images/bgparch.webp");
  background-color: rgba(255, 255, 255, 0.575);
}

.chat-message table td {
  padding: 0px 0px;
}

.chat-message .item-description-chat {
  font-family: Palatino;
}

.chat-message .chat-title {
  font-family: Alaska;
  font-size: 18px;
}

.chat-message .skill-chat-title {
  font-size: 20px;
  padding: 0px;
  margin: 0px;
  text-align: center;
  font-family: Alaska;
}

.chat-message .skill-unskilled-label {
  font-size: 12px;
  text-align: center;
  padding: 0px;
  margin: 0px;
  font-family: "Palatino Linotype";
  width: 100%;
}

.chat-message .skill-roll-disconnect-label {
  font-size: 12px;
  text-align: center;
  padding: 0px;
  margin: 0px;
  font-family: "Palatino Linotype";
  width: 100%;
  font-style: italic;
}

.chat-message .skill-roll-result {
  text-align: center;
  font-size: 24px;
  font-family: "Palatino Linotype";
  font-weight: bold;
  padding: 3px 0px 0px 0px;
  margin: 0px;
}

.chat-message .skill-roll-action-label {
  text-align: center;
  font-family: "Palatino Linotype";
  font-size: 12px;
  padding: 0px;
  margin: 0px;
}

.chat-message .skill-roll-table {
  padding-bottom: 5px;
  font-family: "Palatino Linotype";
  margin-bottom: 5px;
}

.chat-message .skill-roll-table-1 {
  width: 40%;
  font-family: "Palatino Linotype";
  border: 1px solid black;
}

.chat-message .skill-roll-table-2 {
  width: 60%;
  background: #e8b017;
  padding-left: 5px;
  font-family: "Palatino Linotype";
  border: 1px solid black;
}

.chat-message .skill-roll-menu {
  font-family: "Palatino Linotype";
  font-size: 11px;
  text-align: center;
}

.chat-message .skill-roll-damage-label {
  font-family: "Palatino Linotype";
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

@-webkit-keyframes focusedCard {
  from {
    position: absolute;
    transform-origin: 50% 150% 0;
  }
  to {
    transform: scale(2);
    top: -300px;
    width: 200px;
    height: 250px;
    transform-origin: 50% 50% 0;
    left: -50px;
    transform: rotateZ(0deg);
  }
}

@keyframes focusedCard {
  from {
    position: absolute;
    transform-origin: 50% 150% 0;
  }
  to {
    transform: scale(2);
    top: -300px;
    width: 200px;
    height: 250px;
    transform-origin: 50% 50% 0;
    left: -50px;
    transform: rotateZ(0deg);
  }
}

#handedCards {
  display: flex;
  flex-direction: row;
  position: fixed;
  font-family: Alaska;
  text-transform: capitalize;
  min-width: 400px;
  border-radius: 5% 5% 0% 0%;
  right: 0%;
  height: 300px;
  bottom: -270px;
  transition: all 0.3s cubic-bezier(0.6, -0.07, 0.56, 1.52) 0.2s;
}

#handedCards .cardArea {
  background: url(../images/backg-page.webp);
  background-size: 120% 100%;
  background-position: center;
  width: 100%;
  border: 2px solid black;
  box-shadow: 1px 1px 20px 15px rgba(0, 0, 0, 0.575) inset;
  border-radius: 10% 10% 0% 0%;
}

#handedCards .cardArea h3.cardTitle {
  text-align: center;
  color: white;
  margin-top: 5px;
  text-shadow: 0px 5px 5px #010961;
}

#handedCards .cardArea .destinyCards,
#handedCards .cardArea .reservedCards,
#handedCards .cardArea .cosmCards {
  transition: all 0.3s cubic-bezier(0.6, -0.07, 0.56, 1.52) 0.2s;
  display: flex;
  flex-direction: row;
  height: 200px;
}

#handedCards .cardArea .destinyCards li.card,
#handedCards .cardArea .reservedCards li.card,
#handedCards .cardArea .cosmCards li.card {
  transition: all 0.3s cubic-bezier(0.6, -0.07, 0.56, 1.52) 0.2s;
  box-shadow: 1px 1px 20px 5px black;
  position: absolute;
  transform-origin: 50% 150% 0;
  z-index: 1;
  list-style: none;
}

#handedCards .cardArea .destinyCards li.card div.item-controls,
#handedCards .cardArea .reservedCards li.card div.item-controls,
#handedCards .cardArea .cosmCards li.card div.item-controls {
  color: white;
  background-color: #2c7dc3;
  display: flex;
  justify-content: space-around;
  border-radius: 15% 15% 0% 0%;
}

#handedCards .cardArea .destinyCards li.card:hover,
#handedCards .cardArea .reservedCards li.card:hover,
#handedCards .cardArea .cosmCards li.card:hover {
  z-index: 300;
}

#handedCards .cardArea .destinyCards li.focusedCard,
#handedCards .cardArea .reservedCards li.focusedCard,
#handedCards .cardArea .cosmCards li.focusedCard {
  transition: all 0.3s cubic-bezier(0.6, -0.07, 0.56, 1.52) 0.2s;
  z-index: 200;
  transform: scale(2);
  top: -300px;
  width: 200px;
  height: 250px;
  transform-origin: 50% 50% 0;
  left: -50px;
  transform: rotateZ(0deg);
}

#handedCards .cardArea .destinyCards li.focusedCard img,
#handedCards .cardArea .reservedCards li.focusedCard img,
#handedCards .cardArea .cosmCards li.focusedCard img {
  max-width: 200px;
  width: 200px;
  max-height: 300px;
  height: auto;
}

#handedCards:hover {
  z-index: 100;
  transform: scale(1.5);
  bottom: -100px;
  right: 10%;
}

/* Styles limited to torg sheets */
@-webkit-keyframes roll {
  from {
    transform: scaleX(1.2) scaleY(1.2);
    transform-origin: 50% 50% 0;
  }
  33% {
    transform: scaleX(0.8) scaleY(0.8);
    transform-origin: 50% 50% 0;
  }
  to {
    transform: scaleX(0.8) scaleY(0.8);
    transform-origin: 50% 50% 0;
  }
}
@keyframes roll {
  from {
    transform: scaleX(1.2) scaleY(1.2);
    transform-origin: 50% 50% 0;
  }
  33% {
    transform: scaleX(0.8) scaleY(0.8);
    transform-origin: 50% 50% 0;
  }
  to {
    transform: scaleX(0.8) scaleY(0.8);
    transform-origin: 50% 50% 0;
  }
}

.torgeternity.actor .window-content {
  background-image: url(../images/bg-sheet.webp);
  background-size: cover;
  font-family: Palatino;
  font-size: 12px;
}

form.actor-sheet .actor-type {
  background: url(../images/separatorRound.webp);
  position: absolute;
  transform: rotateZ(-90deg);
  left: -150px;
  top: 180px;
  width: 300px;
  background-size: 100% 100%;
  text-align: right;
  text-transform: uppercase;
}

form.actor-sheet .actor-type span {
  background: url(../images/type_back.webp);
  color: black;
  text-shadow: 0px 0px 2px black;
  background-size: 100% 100%;
  padding: 3px 20px;
}

form.actor-sheet header {
  display: inline;
  margin-top: 15px;
}

form.actor-sheet header input[name="name"] {
  border: none;
  text-transform: uppercase;
  text-shadow: 0px -2px 10px #0e0909;
  font-family: Alaska;
  text-align: center;
  color: #0e0909;
}

.inline-skill-item:after {
  content: ",";
  position: relative;
  left: -2px;
  margin-right: 2px;
}

.inline-skill-item:last-child:after {
  content: "";
}

.window-content .actor-sheet {
  color: black;
  font-family: Palatino;
  font-size: 12px;
  line-height: 14px;
}

.window-content .actor-sheet .threat-stat-line {
  flex: none;
}

.window-content .actor-sheet section.sheet-body {
  height: 100%;
}

.window-content .actor-sheet .list-section-heading {
  height: 40px;
  font-size: 2em;
  text-align: center;
  background-image: url(../images/separator.webp);
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.window-content .actor-sheet .tab[data-tab].active {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 0.3fr 0.2fr 0.2fr 0.13fr 0.3fr 0.3fr;
  grid-gap: 0px 5px;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.window-content .actor-sheet .tab.threat-block-tab[data-tab].active {
  display: inline;
}

.window-content .actor-sheet .block {
  border: solid 4px;
  -o-border-image: url(../images/separator.webp);
  border-image: url(../images/separator.webp);
  border-image-slice: 50;
  box-shadow: 2px 2px 15px #9e9686;
  transition: all 0.3s cubic-bezier(0.6, -0.07, 0.56, 1.52) 0.2s;
  overflow: scroll;
  padding: 0px;
}

.window-content .actor-sheet div.block:hover {
  box-shadow: 2px 2px 15px black;
}

.window-content .actor-sheet nav.tabs {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: none;
  position: absolute;
  transform: rotateZ(90deg);
  font-family: Alaska;
  text-transform: capitalize;
  right: -60px;
  top: 60px;
}

.window-content .actor-sheet nav.tabs a.item {
  min-width: 100px;
  transition: all 0.1s cubic-bezier(1, 0, 0, 1) 0.1s;
  color: white;
  background-image: url(../images/tab_back.webp);
  background-size: contain;
}

.window-content .actor-sheet nav.tabs a.item:hover,
.window-content .actor-sheet nav.tabs a.item:active {
  text-transform: uppercase;
  transform: scaleX(1.1) scaleY(1.3) scaleZ(1.2);
  text-shadow: 0 0 10px #10813f;
  color: #e5ecec;
  z-index: 0;
}

.window-content .actor-sheet nav.tabs a.item.active {
  background-image: url(../images/active_tab_back.webp);
  text-transform: uppercase;
}

.window-content .actor-sheet input {
  width: 20px;
  height: 20px;
  text-align: center;
}

.window-content .actor-sheet input[type="number"],
.window-content .actor-sheet input[type="text"] {
  font-family: Palatino;
}

.window-content .actor-sheet input[name="name"] {
  color: #212341;
  min-width: 150px;
  min-height: 45px;
  border-radius: 25%;
  background-color: #fbfbfb49;
}

.window-content .actor-sheet input[type="text"]:hover,
.window-content .actor-sheet input[type="number"]:hover,
.window-content .actor-sheet input[type="text"]:focus,
.window-content .actor-sheet input[type="number"]:focus {
  box-shadow: 0 0 15px #778ba2 inset;
}

.window-content .actor-sheet input[type="text"]::-moz-placeholder, .window-content .actor-sheet input[type="number"]::-moz-placeholder {
  color: #293131;
  text-shadow: 0px 0px 10px black;
}

.window-content .actor-sheet input[type="text"]:-ms-input-placeholder, .window-content .actor-sheet input[type="number"]:-ms-input-placeholder {
  color: #293131;
  text-shadow: 0px 0px 10px black;
}

.window-content .actor-sheet input[type="text"]::placeholder,
.window-content .actor-sheet input[type="number"]::placeholder {
  color: #293131;
  text-shadow: 0px 0px 10px black;
}

.window-content .actor-sheet img {
  border: none;
  flex: 0 0 60px;
  height: auto;
  max-height: 120px;
  max-width: 120px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.window-content .actor-sheet h3 {
  font-family: Alaska;
  text-transform: uppercase;
}

.window-content .actor-sheet h2 {
  color: black;
  border: none;
  text-align: center;
  font-family: Alaska;
  text-shadow: 0px 0px 15px black;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 0 0rem;
}

.window-content .actor-sheet h1 {
  color: black;
  border: none;
  text-align: center;
  font-family: Alaska;
  text-shadow: 0px 0px 15px black;
  text-transform: uppercase;
  font-weight: bold;
  width: 100%;
}

.window-content .actor-sheet h1 input {
  color: white;
  border: none;
  text-align: center;
  font-family: Alaska;
  text-shadow: 0px 0px 5px black;
  text-transform: uppercase;
}

.window-content .actor-sheet .dark {
  background-color: rgba(0, 0, 0, 0.561);
  color: white;
}

.window-content .actor-sheet a.skill-roll:hover,
.window-content .actor-sheet a.skill-roll:active {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-name: roll;
  animation-name: roll;
  text-shadow: 0px 0px 10px #191e58;
}

.window-content .actor-sheet .item-name {
  margin-right: 10px;
}

.window-content .actor-sheet ol.item-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.window-content .actor-sheet ol.item-list img {
  max-width: 60px;
  max-height: 60px;
}

.window-content .actor-sheet ol.item-list li {
  margin: 5px;
  padding-bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid black;
}

.window-content .actor-sheet ol.item-list li .fle div {
  margin-right: 15px;
}

.window-content .actor-sheet .char_image {
  border: solid 5px;
  -o-border-image: url(../images/separator.webp) 100 round;
  border-image: url(../images/separator.webp) 100 round;
  grid-column: 5/7;
  grid-row: 3/4;
  transition: all 0.6s cubic-bezier(1, 0, 0, 1) 0.1s;
  display: flex;
  justify-content: center;
}

.window-content .actor-sheet .char_image:hover {
  transform: scale(1.1);
}

.window-content .actor-sheet .sheet-header {
  grid-column: 1/9;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.window-content .actor-sheet .sheet-header img {
  max-width: 64px;
  max-height: 64px;
}

.window-content .actor-sheet .sheet-header .axioms {
  background: url(../images/roundBack.webp);
  background-size: cover;
  width: 40px;
  height: 40px;
  padding-top: 11px;
}

.window-content .actor-sheet .sheet-header p {
  text-align: center;
  flex-direction: row;
}

.window-content .actor-sheet .sheet-header p span {
  display: block;
}

.window-content .actor-sheet .sheet-header select {
  color: black;
  border: none;
  border-bottom: 1px solid grey;
  max-height: 20px;
  font-size: 0.9em;
  font-family: Palatino;
}

.window-content .actor-sheet .sheet-header select:active,
.window-content .actor-sheet .sheet-header select:focus {
  box-shadow: 0 0 5px #0062ff;
}

.window-content .actor-sheet .sheet-header div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 5px;
  align-items: center;
}

.window-content .actor-sheet .sheet-header input[type="number"] {
  border: none;
  text-align: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: url(../images/roundBack.webp);
  background-size: cover;
  font-family: Palatino;
}

.window-content .actor-sheet .sheet-header h1 {
  width: 100%;
}

.window-content .actor-sheet .sheet-header h1 input[name="name"] {
  border: none;
  text-transform: uppercase;
  text-shadow: 0px -2px 10px #0e0909;
  font-family: Alaska;
  text-align: center;
  color: #0e0909;
  width: 100%;
}

.window-content .actor-sheet .sheet-header.threat {
  flex: none;
}

.window-content .actor-sheet .attributes {
  grid-column: 1/5;
  grid-row: 2/3;
}

.window-content .actor-sheet .others {
  grid-column: 5/9;
  grid-row: 2/3;
}

.window-content .actor-sheet .attributes ul,
.window-content .actor-sheet .attributes ol,
.window-content .actor-sheet .others ul,
.window-content .actor-sheet .others ol,
.window-content .actor-sheet .weapons ul,
.window-content .actor-sheet .weapons ol {
  font-family: Palatino;
  display: flex;
  justify-content: space-around;
}

.window-content .actor-sheet .attributes ul li.attribut-block,
.window-content .actor-sheet .attributes ol li.attribut-block,
.window-content .actor-sheet .others ul li.attribut-block,
.window-content .actor-sheet .others ol li.attribut-block,
.window-content .actor-sheet .weapons ul li.attribut-block,
.window-content .actor-sheet .weapons ol li.attribut-block {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.window-content .actor-sheet .attributes ul li.attribut-block input[type="number"],
.window-content .actor-sheet .attributes ol li.attribut-block input[type="number"],
.window-content .actor-sheet .others ul li.attribut-block input[type="number"],
.window-content .actor-sheet .others ol li.attribut-block input[type="number"],
.window-content .actor-sheet .weapons ul li.attribut-block input[type="number"],
.window-content .actor-sheet .weapons ol li.attribut-block input[type="number"] {
  border: none;
  text-align: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: url(../images/roundBack.webp);
  background-size: cover;
}

.window-content .actor-sheet .attributes ul li.attribut-block a,
.window-content .actor-sheet .attributes ol li.attribut-block a,
.window-content .actor-sheet .others ul li.attribut-block a,
.window-content .actor-sheet .others ol li.attribut-block a,
.window-content .actor-sheet .weapons ul li.attribut-block a,
.window-content .actor-sheet .weapons ol li.attribut-block a {
  text-align: center;
}

.window-content .actor-sheet .skills {
  grid-column: 1/5;
  grid-row: 3/7;
  overflow: scroll;
  max-height: 500px;
}

.window-content .actor-sheet .skills ul {
  font-family: Palatino;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.window-content .actor-sheet .skills ul li {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 1px solid grey;
  position: relative;
}

.window-content .actor-sheet .skills ul li input[type="checkbox"] {
  opacity: 0.01;
  position: relative;
  left: -25px;
  cursor: pointer;
}

.window-content .actor-sheet .skills ul li a.toggleFav {
  color: grey;
  position: relative;
  font-size: 10px;
  top: -4px;
}

.window-content .actor-sheet .skills ul li a.toggleFav.checked {
  font-size: 15px;
  color: rgba(8, 83, 8, 0.794);
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-name: roll;
  animation-name: roll;
  text-shadow: 0px 0px 3px green;
}

.window-content .actor-sheet .skills ul li input {
  border: none;
  text-align: center;
  width: 18px;
  height: 18px;
}

.window-content .actor-sheet .skills ul li span {
  width: 90%;
  text-align: center;
}

.window-content .actor-sheet .skills ul li a {
  margin-left: auto;
  text-align: center;
}

.window-content .actor-sheet .perks-list {
  grid-column: 5/9;
  grid-row: 5/6;
}

.window-content .actor-sheet .weapons-list {
  grid-column: 5/9;
  grid-row: 6/7;
}

.window-content .actor-sheet .perks-list h2,
.window-content .actor-sheet .perks-list h3,
.window-content .actor-sheet .weapons-list h2,
.window-content .actor-sheet .weapons-list h3 {
  margin-bottom: 1px;
}

.window-content .actor-sheet .perks-list .item-list li,
.window-content .actor-sheet .weapons-list .item-list li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid;
  margin: 1px;
  padding: 1px;
}

.window-content .actor-sheet .perks-list .item-list li .item-name,
.window-content .actor-sheet .weapons-list .item-list li .item-name {
  padding-top: 5px;
  max-width: 150px;
}

.window-content .actor-sheet .perks-list .item-list li img,
.window-content .actor-sheet .weapons-list .item-list li img {
  max-width: 30px;
  max-height: 30px;
}

.window-content .actor-sheet .perks-details,
.window-content .actor-sheet .gear,
.window-content .actor-sheet .powers {
  grid-column: 1/9;
  grid-row: 1/9;
}

.window-content .actor-sheet .perks-details h2,
.window-content .actor-sheet .gear h2,
.window-content .actor-sheet .powers h2 {
  text-align: left;
  background: #37465438;
}

.window-content .actor-sheet .perks-details ol,
.window-content .actor-sheet .gear ol,
.window-content .actor-sheet .powers ol {
  font-family: Palatino;
}

.window-content .actor-sheet .perks-details ol li,
.window-content .actor-sheet .gear ol li,
.window-content .actor-sheet .powers ol li {
  position: relative;
  display: flex;
  flex-direction: column;
}

.window-content .actor-sheet .perks-details ol li .item-name,
.window-content .actor-sheet .gear ol li .item-name,
.window-content .actor-sheet .powers ol li .item-name {
  text-align: center;
}

.window-content .actor-sheet .perks-details ol li img,
.window-content .actor-sheet .gear ol li img,
.window-content .actor-sheet .powers ol li img {
  margin: 5px;
}

.window-content .actor-sheet .perks-details ol li .item-detail,
.window-content .actor-sheet .gear ol li .item-detail,
.window-content .actor-sheet .powers ol li .item-detail {
  overflow: scroll;
  position: relative;
  z-index: 1000;
  max-height: 0px;
}

.window-content .actor-sheet .perks-details ol li .item-controls,
.window-content .actor-sheet .gear ol li .item-controls,
.window-content .actor-sheet .powers ol li .item-controls {
  justify-content: end;
}

.window-content .actor-sheet .perks-details ol li .item-controls a.item-control,
.window-content .actor-sheet .gear ol li .item-controls a.item-control,
.window-content .actor-sheet .powers ol li .item-controls a.item-control {
  float: right;
  margin-right: 10px;
}

.window-content .actor-sheet .perks-details ol li .item-controls a.item-equip.item-equipped,
.window-content .actor-sheet .gear ol li .item-controls a.item-equip.item-equipped,
.window-content .actor-sheet .powers ol li .item-controls a.item-equip.item-equipped {
  color: #0000af;
  text-shadow: 0px 0px 5px #0011ff;
}

.window-content .actor-sheet .perks-details ol li .item-controls a.item-equip.item-unequipped,
.window-content .actor-sheet .gear ol li .item-controls a.item-equip.item-unequipped,
.window-content .actor-sheet .powers ol li .item-controls a.item-equip.item-unequipped {
  color: #1f0101;
  text-shadow: 0px 0px 5px #f80202;
}

.window-content .actor-sheet .perks-details ol li .item-dropdown-extras,
.window-content .actor-sheet .gear ol li .item-dropdown-extras,
.window-content .actor-sheet .powers ol li .item-dropdown-extras {
  font-style: italic;
  border: 1px solid grey;
  text-align: center;
  background-color: #9e96868e;
}

.window-content .actor-sheet .background .list-section-heading {
  grid-column: 1/9;
  grid-row: 1/2;
  align-items: center;
  margin-top: 10%;
}

.window-content .actor-sheet .background .editor {
  grid-column: 1/9;
  grid-row: 2/6;
  background: url(../images/bckg-hex.webp);
  background-size: 100% 100%;
  min-height: 200px;
  min-width: 150px;
  padding: 15% 10% 10% 10%;
}

.window-content .actor-sheet .perks {
  grid-column: 1/9;
  grid-row: 1/9;
}

.window-content .actor-sheet .spells {
  grid-column: 5/9;
  grid-row: 1/4;
}

.window-content .actor-sheet .miracles {
  grid-column: 1/5;
  grid-row: 4/9;
}

.window-content .actor-sheet .psionic {
  grid-column: 5/9;
  grid-row: 4/9;
}

.window-content .actor-sheet .effects {
  grid-column: 1/9;
  grid-row: 1/5;
}

.window-content .actor-sheet .effects .item-list {
  padding: 0px;
}

.window-content .actor-sheet .effects .effects-list {
  padding: 0px;
}

.window-content .actor-sheet .effects .effects-heading {
  color: white;
  background-color: black;
  margin: 2px 0;
  align-items: center;
  font-weight: bold;
  font-family: "Palatino Linotype";
}

.window-content .actor-sheet .effects .effects-item {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
  color: black;
}

.window-content .actor-sheet .effects .effect-name {
  white-space: nowrap;
  overflow-x: hidden;
  text-align: left;
  font-family: "Palatino Linotype";
  padding: 0px 0px 0px 10px;
  width: 25%;
}

.window-content .actor-sheet .effects .effect-section-title {
  width: 25%;
  padding: 0px 0px 0px 10px;
}

.window-content .actor-sheet .effects .effect-source,
.window-content .actor-sheet .effects .effect-duration,
.window-content .actor-sheet .effects .effect-controls {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
  font-family: "Palatino Linotype";
  width: 25%;
}

.window-content .actor-sheet .effects .effect-controls {
  border: none;
  flex: 1;
}

.window-content .actor-sheet .effects .effect-item-image {
  flex: 0 0 30px;
  height: 30px;
  background-size: 30px;
  border: none;
  margin-right: 5px;
}

.window-content .actor-sheet .effects .effect-toggle,
.window-content .actor-sheet .effects .effect-edit,
.window-content .actor-sheet .effects .effect-delete {
  padding: 5px;
}

.window-content .actor-sheet .xp {
  grid-column: 5/9;
  grid-row: 4/5;
  flex-direction: row;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.window-content .actor-sheet .xp input {
  background: url(../images/roundBack.webp);
  background-size: cover;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
}

.window-content .actor-sheet .defense {
  line-height: 0.7em;
  padding-top: 10px;
  grid-column: 7/9;
  grid-row: 3/4;
}

.window-content .actor-sheet .defense p {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.window-content .actor-sheet .defense p span {
  display: block;
}

.window-content .actor-sheet .defense h3.vital-box {
  justify-content: space-between;
  display: flex;
}

.window-content .actor-sheet .defense input {
  width: 25%;
}

.window-content .actor-sheet .threat-editor {
  grid-column: 1/9;
  grid-row: 2/5;
  flex-direction: row;
}

.window-content .actor-sheet .threat-editor .threat-edit {
  flex-direction: column;
}

.window-content .actor-sheet .stat-block {
  grid-column: 1/9;
  flex-direction: row;
}

form.actor-sheet.threat input[type="checkbox"] {
  opacity: 0.01;
  position: relative;
  left: -25px;
  cursor: pointer;
  top: 5px;
  width: 10px;
}

form.actor-sheet.threat a.toggleFav {
  color: grey;
  position: relative;
  font-size: 10px;
  left: -4px;
}

form.actor-sheet.threat a.toggleFav.checked {
  color: rgba(8, 83, 8, 0.794);
  text-shadow: 0px 0px 3px green;
}

form.actor-sheet.threat span.inputsFav {
  display: inline-block;
  max-width: 40px;
}

form.actor-sheet.threat div.skill-list-edit {
  display: grid;
  justify-items: flex-end;
  justify-content: center;
  grid-template-columns: repeat(3, 0.3fr);
}

form.actor-sheet.threat div.skill-list-edit .skill-element-edit {
  display: flex;
  padding-right: 5px;
  align-items: center;
}

form.actor-sheet.threat div.skill-list-edit .skill-element-edit span {
  text-align: end;
}

form.actor-sheet.threat div.skill-list-edit .skill-element-edit span.inputsFav {
  position: relative;
  position: relative;
  margin-left: 5px;
}

form.actor-sheet.threat div.skill-list-edit .skill-element-edit span.inputsFav input[type="checkbox"],
form.actor-sheet.threat div.skill-list-edit .skill-element-edit span.inputsFav a.toggleFav {
  position: absolute;
  left: 13px;
  max-width: 30px;
  top: -5px;
  width: 10px;
  margin: 0px;
  background: white;
}

form.actor-sheet.threat td {
  position: relative;
  line-height: 1.8;
}

form.actor-sheet.threat td input {
  right: 2px;
  position: absolute;
}

form.actor-sheet.threat .threat-edit input[type="text"] {
  width: 100px;
}

form.actor-sheet.threat .sheet-header {
  flex-direction: row;
}

form.actor-sheet.threat .threat-edit {
  vertical-align: top;
}

form.actor-sheet.threat .tab[data-tab].active {
  display: block;
}

form.actor-sheet.threat .tab[data-tab].active .list-section-heading {
  height: 40px;
  font-size: 2em;
  text-align: center;
  background-image: url(../images/separator.webp);
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

form.actor-sheet.threat .tab[data-tab].active .list-section-heading .item-create-rsa,
form.actor-sheet.threat .tab[data-tab].active .list-section-heading .item-create-sa {
  float: right;
  padding: 0px 5px 0px 5px;
}

form.actor-sheet.threat .tab[data-tab].active ol.item-list {
  padding: 0px;
}

form.actor-sheet.threat .tab[data-tab].active ol.item-list li {
  display: block;
  overflow: hidden;
  padding-bottom: 0px;
}

form.actor-sheet.threat .tab[data-tab].active ol.item-list li img {
  height: 30px;
  width: 30px;
  max-width: 30px;
}

form.actor-sheet.threat .tab[data-tab].active ol.item-list li .block {
  border: 1px 0px 0px 0px black;
  box-shadow: none;
}

form.actor-sheet.threat .tab[data-tab].active ol.item-list li .item-name {
  text-align: center;
  display: inline;
  max-width: 500px;
}

form.actor-sheet.threat .tab[data-tab].active ol.item-list li .item-controls {
  justify-content: end;
  max-width: 80px;
  display: inline;
}

form.actor-sheet.threat .tab[data-tab].active ol.item-list li .item-controls .item-control {
  margin-right: 5px;
}

form.actor-sheet.threat .tab[data-tab].active ol.item-list li .item-detail {
  max-height: 0px;
}

form.actor-sheet.threat .tab[data-tab].active ol.item-list li .item-detail .item-dropdown-description {
  max-height: inherit;
}

form.actor-sheet.threat .tab[data-tab].active ol.item-list li .item-detail .item-dropdown-extras {
  font-style: italic;
  border: 1px solid grey;
  text-align: center;
  background-color: #9e96868e;
}

form.actor-sheet.threat .tab[data-tab].active .editor {
  width: 400px;
  height: 400px;
  background: url(../images/bckg-hex.webp);
  background-size: 110% 110%;
  padding: 20px;
  background-position: center;
}

.compact .window-content {
  padding: 1px;
}

.compact form.actor-sheet .block {
  border: none;
  margin: 0px;
  padding: 2px;
}

.compact form.actor-sheet nav.sheet-tabs {
  transform: rotateZ(90deg) scale(0.7);
}

.compact form.actor-sheet .tab[data-tab].active {
  display: flex;
  flex-direction: column;
}

.compact form.actor-sheet .tab[data-tab].active .sheet-header p {
  display: none;
}

.compact form.actor-sheet .tab[data-tab].active .sheet-header div:last-child {
  display: none;
}

.compact form.actor-sheet .tab[data-tab].active .attributes input,
.compact form.actor-sheet .tab[data-tab].active .others input {
  background: none;
  height: 20px;
}

.compact form.actor-sheet .tab[data-tab].active .skills .skillAttr,
.compact form.actor-sheet .tab[data-tab].active .skills .skillAdd {
  display: none;
}

.compact form.actor-sheet .tab[data-tab].active .char_image,
.compact form.actor-sheet .tab[data-tab].active .xp,
.compact form.actor-sheet .tab[data-tab].active .defense {
  display: none;
}

.compact form.actor-sheet .tab[data-tab].active .perks-list h3,
.compact form.actor-sheet .tab[data-tab].active .weapons-list h3 {
  display: none;
}

.compact form.actor-sheet .tab[data-tab].active .perks-list img,
.compact form.actor-sheet .tab[data-tab].active .weapons-list img {
  display: none;
}

.compact form.actor-sheet .tab[data-tab].active .perks-list li,
.compact form.actor-sheet .tab[data-tab].active .weapons-list li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.compact form.actor-sheet .tab[data-tab].active .background h1 {
  display: none;
}

.compact form.actor-sheet .tab[data-tab].active .background .editor {
  height: 100%;
}

.item .window-content {
  padding: 0px;
}

.item .window-content form.item-sheet {
  padding: 10px;
  background-image: url(../images/bg-sheet.webp);
  background-size: cover;
  font-family: Palatino;
  font-size: 0.9em;
}

.item .window-content form.item-sheet .item-type {
  background: url(../images/separatorRound.webp);
  position: absolute;
  transform: rotateZ(-90deg);
  left: -150px;
  top: 180px;
  width: 300px;
  background-size: 100% 100%;
  text-align: right;
  text-transform: uppercase;
}

.item .window-content form.item-sheet .item-type span {
  background: url(../images/type_back.webp);
  color: black;
  text-shadow: 0px 0px 2px black;
  background-size: 100% 100%;
  padding: 3px 20px;
}

.item .window-content form.item-sheet header {
  margin-top: 15px;
}

.item .window-content form.item-sheet header input[name="name"] {
  border: none;
  text-transform: uppercase;
  text-shadow: 0px -2px 10px #0e0909;
  font-family: Alaska;
  text-align: center;
}

.item .window-content form.item-sheet .sheet-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin: 15px;
  color: black;
}

.item .window-content form.item-sheet .asside {
  grid-row: 1/4;
  grid-column: 1/2;
  text-align: center;
}

.item .window-content form.item-sheet .asside input[type="number"] {
  border: none;
  text-align: center;
  width: 40px;
  height: 40px;
  border-radius: 15px;
  background: url(../images/roundBack.webp);
  background-size: cover;
}

.item .window-content form.item-sheet .asside input[name="data.price"],
.item .window-content form.item-sheet .asside input[name="data.tough"] {
  width: 50px;
}

.item .window-content form.item-sheet .asside select {
  color: black;
  text-align: center;
}

.item .window-content form.item-sheet .main-content {
  grid-row: 1/4;
  grid-column: 2/5;
}

.item .window-content form.item-sheet .editor {
  width: 400px;
  height: 400px;
  background: url(../images/bckg-hex.webp);
  background-size: 110% 110%;
  padding: 20px;
  background-position: center;
}

.item .window-content form.item-sheet nav.tabs {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: none;
  position: absolute;
  transform: rotateZ(90deg);
  font-family: Alaska;
  text-transform: capitalize;
  right: -60px;
  top: 60px;
}

.item .window-content form.item-sheet nav.tabs a.item {
  min-width: 100px;
  transition: all 0.1s cubic-bezier(1, 0, 0, 1) 0.1s;
  color: white;
  background-image: url(../images/tab_back.webp);
  background-size: contain;
}

.item .window-content form.item-sheet nav.tabs a.item:hover,
.item .window-content form.item-sheet nav.tabs a.item:active {
  text-transform: uppercase;
  transform: scaleX(1.1) scaleY(1.3) scaleZ(1.2);
  text-shadow: 0 0 10px #10813f;
  color: #e5ecec;
  z-index: 0;
}

.item .window-content form.item-sheet nav.tabs a.item.active {
  background-image: url(../images/active_tab_back.webp);
  text-transform: uppercase;
}

.item .window-content form.item-sheet select:hover,
.item .window-content form.item-sheet select:focus,
.item .window-content form.item-sheet input[type="text"]:hover,
.item .window-content form.item-sheet input[type="number"]:hover,
.item .window-content form.item-sheet input[type="text"]:focus,
.item .window-content form.item-sheet input[type="number"]:focus {
  box-shadow: 0 0 10px #4f523c inset;
}

.item .window-content form.item-sheet input[type="text"]::-moz-placeholder, .item .window-content form.item-sheet input[type="number"]::-moz-placeholder {
  color: #161a1a;
  text-shadow: 0px 0px 10px black;
}

.item .window-content form.item-sheet input[type="text"]:-ms-input-placeholder, .item .window-content form.item-sheet input[type="number"]:-ms-input-placeholder {
  color: #161a1a;
  text-shadow: 0px 0px 10px black;
}

.item .window-content form.item-sheet input[type="text"]::placeholder,
.item .window-content form.item-sheet input[type="number"]::placeholder {
  color: #161a1a;
  text-shadow: 0px 0px 10px black;
}

.item .window-content form.item-sheet .item-data-label {
  text-align: center;
}

.item .window-content form.item-sheet .item-description-textarea {
  font-family: "Palatino Linotype";
  font-size: 12px;
  border-radius: 15px;
  resize: none;
  padding: 5px 5px;
}

.item .window-content form.item-sheet .effects .item-list {
  padding: 0px;
}

.item .window-content form.item-sheet .effects .effects-list {
  padding: 0px;
}

.item .window-content form.item-sheet .effects .effects-heading {
  color: white;
  background-color: black;
  margin: 2px 0;
  align-items: center;
  font-weight: bold;
  font-family: "Palatino Linotype";
}

.item .window-content form.item-sheet .effects .effects-item {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
  color: black;
}

.item .window-content form.item-sheet .effects .effect-name {
  white-space: nowrap;
  overflow-x: hidden;
  text-align: left;
  font-family: "Palatino Linotype";
  padding: 0px 0px 0px 10px;
  width: 25%;
}

.item .window-content form.item-sheet .effects .effect-section-title {
  width: 25%;
  padding: 0px 0px 0px 10px;
}

.item .window-content form.item-sheet .effects .effect-source,
.item .window-content form.item-sheet .effects .effect-duration,
.item .window-content form.item-sheet .effects .effect-controls {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
  font-family: "Palatino Linotype";
  width: 25%;
}

.item .window-content form.item-sheet .effects .effect-controls {
  border: none;
  flex: 1;
}

.item .window-content form.item-sheet .effects .effect-item-image {
  flex: 0 0 30px;
  height: 30px;
  background-size: 30px;
  border: none;
  margin-right: 5px;
}

.item .window-content form.item-sheet .effects .effect-toggle,
.item .window-content form.item-sheet .effects .effect-edit,
.item .window-content form.item-sheet .effects .effect-delete {
  padding: 5px;
}
