<div class="meleeweapon-card">
    <div class="meleeweapon-info weapon name">
        <p>{{name}}</p>
    </div>
    <div class="meleeweapon-info weapon-bonus">
        <p>
            {{system.bonus}}
        </p>
    </div>
</div>
