.item .window-content {
    padding: 0px;

    form.item-sheet {
        .item-type {
            background: url(../images/separatorRound.png);
            position: absolute;
            transform: rotateZ(-90deg);
            left: -150px;
            top: 180px;
            width: 300px;
            background-size: 100% 100%;
            text-align: right;
            text-transform: uppercase;

            span {
                background: url(../images/type_back.png);
                color: rgb(0, 0, 0);
                text-shadow: 0px 0px 2px black;
                background-size: 100% 100%;
                padding: 3px 20px;

            }
        }

        padding: 10px;

        header {
            input[name="name"] {
                border: none;
                text-transform: uppercase;
                text-shadow: 0px -2px 10px #0e0909;
                font-family: Alaska;
                text-align: center;
            }

            margin-top: 15px;

        }

        .sheet-content {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(4, 1fr);
            margin: 15px;

            color: black;
        }

        .asside {
            grid-row: 1/4;
            grid-column: 1/2;
            text-align:center;

            input[type="number"] {
                border: none;
                text-align: center;
                width: 40px;
                height: 40px;
                border-radius: 15px;
                background: url(../images/roundBack.webp);
                background-size: cover
            }

            select {
                color:black;
                text-align:center;
            }
        }

        .main-content {
            grid-row: 1/4;
            grid-column: 2/5;
        }

        background-image: url(../images/bg-sheet.png);
        background-size: cover;
        font-family: Palatino;
        font-size: 0.9em;

        .editor {
            width: 400px;
            height: 400px;
            background: url(../images/bckg-hex.png);
            background-size: 110% 110%;
            padding: 20px;
            background-position: center;
        }

        nav.tabs {
            display: flex;
            flex-direction: column;
            text-align: center;
            border: none;
            position: absolute;
            transform: rotateZ(90deg);
            font-family: Alaska;
            text-transform: capitalize;

            right: -60px;
            top: 60px;

            a.item {

                min-width: 100px;
                transition: all 0.1s cubic-bezier(1, 0, 0, 1) 0.1s;
                color: white;
                background-image: url(../images/tab_back.png);
                background-size: contain;
            }

            a.item:hover,
            a.item:active {
                text-transform: uppercase;
                -webkit-transform: scaleX(1.1) scaleY(1.3) scaleZ(1.2);
                transform: scaleX(1.1) scaleY(1.3) scaleZ(1.2);
                text-shadow: 0 0 10px rgb(16, 129, 63);
                color: rgb(229, 236, 236);

                z-index: 0;
            }

            a.item.active {
                background-image: url(../images/active_tab_back.png);
                text-transform: uppercase;
            }
        }

        select:hover,
        select:focus,
        input[type="text"]:hover,
        input[type="number"]:hover,
        input[type="text"]:focus,
        input[type="number"]:focus {
            box-shadow: 0 0 10px rgb(79, 82, 60) inset;
        }

        input[type="text"]::placeholder,
        input[type="number"]::placeholder {

            color: rgb(22, 26, 26);
            text-shadow: 0px 0px 10px black;
        }



        .item-description-textarea {
            font-family: "Palatino Linotype";
            font-size: 12px;
            border-radius: 15px;
            resize: none;
            padding: 5px 5px;
        }

        .effects .effects-list {
            color:white;
            background-color:black;
        }
    }
}