@import url("https://fonts.googleapis.com/css2?family=Martel:wght@400;800&family=Roboto:wght@300;400;500&display=swap");
@-webkit-keyframes roll {
  from {
    transform: scaleX(1.2) scaleY(1.2);
    transform-origin: 50% 50% 0;
  }
  33% {
    transform: scaleX(0.8) scaleY(0.8);
    transform-origin: 50% 50% 0;
  }
  to {
    transform: scaleX(0.8) scaleY(0.8);
    transform-origin: 50% 50% 0;
  }
}
@keyframes roll {
  from {
    transform: scaleX(1.2) scaleY(1.2);
    transform-origin: 50% 50% 0;
  }
  33% {
    transform: scaleX(0.8) scaleY(0.8);
    transform-origin: 50% 50% 0;
  }
  to {
    transform: scaleX(0.8) scaleY(0.8);
    transform-origin: 50% 50% 0;
  }
}

.torgeternity.actor .window-content {
  background-image: url(../images/bg-sheet.png);
  background-size: cover;
  font-family: Palatino;
  font-size: 0.9em;
}

.actor-sheet {
  font-family: Berlin2;
  font-size: 0.9em;
}

.actor-sheet .tab[data-tab].active {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, minmax(25px, 115px));
  grid-gap: 5px;
  justify-content: center;
}

.actor-sheet div.block {
  border: solid 4px;
  -o-border-image: url(../images/separator.png);
  border-image: url(../images/separator.png);
  border-image-slice: 50;
  box-shadow: 2px 2px 15px #9e9686;
  transition: all 0.3s cubic-bezier(0.6, -0.07, 0.56, 1.52) 0.2s;
  overflow: scroll;
}

.actor-sheet div.block:hover {
  box-shadow: 2px 2px 15px black;
}

.actor-sheet nav.tabs {
  /*
            display: flex;
            flex-direction: column;
            position: relative;
            text-align: center;

            border: none;
            position: absolute;
            bottom: 0.2%;
            left: 50%;
*/
  display: flex;
  flex-direction: column;
  text-align: center;
  border: none;
  position: absolute;
  transform: rotateZ(90deg);
  font-family: Berlin;
  right: -60px;
}

.actor-sheet a.item {
  min-width: 100px;
  transition: all 0.1s cubic-bezier(1, 0, 0, 1) 0.1s;
  color: white;
  background-image: url(../images/tab_back.png);
  background-size: contain;
}

.actor-sheet a.item:hover,
.actor-sheet a.item:active {
  transform: scaleX(1.1) scaleY(1.3) scaleZ(1.2);
  text-shadow: 0 0 10px #10813f;
  color: #e5ecec;
  z-index: 0;
}

.actor-sheet a.item.active {
  background-image: url(../images/active_tab_back.png);
}

.actor-sheet input[type="text"]:hover,
.actor-sheet input[type="number"]:hover,
.actor-sheet input[type="text"]:focus,
.actor-sheet input[type="number"]:focus {
  box-shadow: 0 0 10px #4f523c inset;
}

.actor-sheet input[type="text"]::-moz-placeholder, .actor-sheet input[type="number"]::-moz-placeholder {
  color: #293131;
  text-shadow: 0px 0px 10px black;
}

.actor-sheet input[type="text"]:-ms-input-placeholder, .actor-sheet input[type="number"]:-ms-input-placeholder {
  color: #293131;
  text-shadow: 0px 0px 10px black;
}

.actor-sheet input[type="text"]::placeholder,
.actor-sheet input[type="number"]::placeholder {
  color: #293131;
  text-shadow: 0px 0px 10px black;
}

.actor-sheet img {
  border: none;
  flex: 0 0 60px;
  height: auto;
}

.actor-sheet h2 {
  color: black;
  border: none;
  text-align: center;
  font-family: graveBolt;
  text-shadow: 0px 0px 15px black;
}

.actor-sheet h1 {
  color: black;
  border: none;
  text-align: center;
  font-family: graveBolt;
  text-shadow: 0px 0px 15px black;
}

.actor-sheet h1 input {
  color: white;
  border: none;
  text-align: center;
  font-family: graveBolt;
  text-shadow: 0px 0px 15px black;
}

.actor-sheet .dark {
  background-color: rgba(0, 0, 0, 0.561);
  color: white;
}

.actor-sheet a.skill-roll:hover,
.actor-sheet a.skill-roll:active {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-name: roll;
  animation-name: roll;
  text-shadow: 0px 0px 10px #191e58;
}

.actor-sheet .char_image {
  border: solid 5px;
  -o-border-image: url(../images/separator.png) 20 round;
  border-image: url(../images/separator.png) 20 round;
  grid-column: 5/7;
  grid-row: 3/5;
  transition: all 0.6s cubic-bezier(1, 0, 0, 1) 0.1s;
}

.actor-sheet .char_image:hover {
  transform: scale(1.1);
}

.actor-sheet .sheet-header {
  grid-column: 1/9;
  grid-row: 1/2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.actor-sheet .sheet-header img {
  max-width: 100%;
  height: auto;
}

.actor-sheet .sheet-header select {
  border: none;
  border-bottom: solid;
  max-height: 20px;
  font-size: 0.9em;
}

.actor-sheet .sheet-header select:active,
.actor-sheet .sheet-header select:focus {
  box-shadow: 0 0 5px #0062ff;
}

.actor-sheet .sheet-header div {
  max-height: 0.4em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 10px;
}

.actor-sheet .sheet-header input[type="number"] {
  border: none;
  text-align: center;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background: url(../images/roundBack.webp);
  background-size: cover;
}

.actor-sheet .attributes {
  grid-column: 1/7;
  grid-row: 2/3;
}

.actor-sheet .attributes ul {
  font-family: Berlin;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.actor-sheet .attributes ul li.attribut-block {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.actor-sheet .attributes ul li.attribut-block input[type="number"] {
  border: none;
  text-align: center;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background: url(../images/roundBack.webp);
  background-size: cover;
}

.actor-sheet .attributes ul li.attribut-block a {
  margin-left: auto;
  text-align: center;
}

.actor-sheet .skills {
  grid-column: 1/5;
  grid-row: 3/7;
  overflow: scroll;
}

.actor-sheet .skills ul {
  font-family: Berlin;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.actor-sheet .skills ul li {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 1px solid grey;
}

.actor-sheet .skills ul li input {
  border: none;
  text-align: center;
  width: 18px;
  height: 18px;
}

.actor-sheet .skills ul li span {
  width: 90%;
  text-align: center;
}

.actor-sheet .skills ul li a {
  margin-left: auto;
  text-align: center;
}

.actor-sheet .perks {
  grid-column: 5/9;
  grid-row: 5/7;
}

.actor-sheet .defense {
  grid-column: 7/9;
  grid-row: 2/5;
}

.actor-sheet .defense input {
  width: 25%;
}

.actor-sheet .weapons {
  grid-column: 1/9;
  grid-row: 7/9;
}
