@import url("https://fonts.googleapis.com/css2?family=Martel:wght@400;800&family=Roboto:wght@300;400;500&display=swap");
@-webkit-keyframes roll {
  from {
    transform: scaleX(1.2) scaleY(1.2);
    transform-origin: 50% 50% 0;
  }
  33% {
    transform: scaleX(0.8) scaleY(0.8);
    transform-origin: 50% 50% 0;
  }
  to {
    transform: scaleX(0.8) scaleY(0.8);
    transform-origin: 50% 50% 0;
  }
}
@keyframes roll {
  from {
    transform: scaleX(1.2) scaleY(1.2);
    transform-origin: 50% 50% 0;
  }
  33% {
    transform: scaleX(0.8) scaleY(0.8);
    transform-origin: 50% 50% 0;
  }
  to {
    transform: scaleX(0.8) scaleY(0.8);
    transform-origin: 50% 50% 0;
  }
}

.torgeternity.actor .window-content {
  background-image: url(../images/bg-sheet.webp);
  background-size: cover;
  font-family: Palatino;
  font-size: 12px;
}

form.actor-sheet .actor-type {
  background: url(../images/separatorRound.webp);
  position: absolute;
  transform: rotateZ(-90deg);
  left: -150px;
  top: 180px;
  width: 300px;
  background-size: 100% 100%;
  text-align: right;
  text-transform: uppercase;
}

form.actor-sheet .actor-type span {
  background: url(../images/type_back.webp);
  color: black;
  text-shadow: 0px 0px 2px black;
  background-size: 100% 100%;
  padding: 3px 20px;
}

form.actor-sheet header {
  display: inline;
  margin-top: 15px;
}

form.actor-sheet header input[name="name"] {
  border: none;
  text-transform: uppercase;
  text-shadow: 0px -2px 10px #0e0909;
  font-family: Alaska;
  text-align: center;
  color: #0e0909;
}

.window-content .actor-sheet {
  color: black;
  font-family: Palatino;
  font-size: 12px;
  line-height: 14px;
}

.window-content .actor-sheet .threat-stat-line {
  flex: none;
}

.window-content .actor-sheet section.sheet-body {
  height: 100%;
}

.window-content .actor-sheet .list-section-heading {
  height: 40px;
  font-size: 2em;
  text-align: center;
  background-image: url(../images/separator.webp);
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.window-content .actor-sheet .tab[data-tab].active {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 0.3fr 0.2fr 0.2fr 0.13fr 0.3fr 0.3fr;
  grid-gap: 0px 5px;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.window-content .actor-sheet .tab.threat-block-tab[data-tab].active {
  display: inline;
}

.window-content .actor-sheet .block {
  border: solid 4px;
  -o-border-image: url(../images/separator.webp);
  border-image: url(../images/separator.webp);
  border-image-slice: 50;
  box-shadow: 2px 2px 15px #9e9686;
  transition: all 0.3s cubic-bezier(0.6, -0.07, 0.56, 1.52) 0.2s;
  overflow: scroll;
  padding: 0px;
}

.window-content .actor-sheet div.block:hover {
  box-shadow: 2px 2px 15px black;
}

.window-content .actor-sheet nav.tabs {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: none;
  position: absolute;
  transform: rotateZ(90deg);
  font-family: Alaska;
  text-transform: capitalize;
  right: -60px;
  top: 60px;
}

.window-content .actor-sheet nav.tabs a.item {
  min-width: 100px;
  transition: all 0.1s cubic-bezier(1, 0, 0, 1) 0.1s;
  color: white;
  background-image: url(../images/tab_back.webp);
  background-size: contain;
}

.window-content .actor-sheet nav.tabs a.item:hover,
.window-content .actor-sheet nav.tabs a.item:active {
  text-transform: uppercase;
  transform: scaleX(1.1) scaleY(1.3) scaleZ(1.2);
  text-shadow: 0 0 10px #10813f;
  color: #e5ecec;
  z-index: 0;
}

.window-content .actor-sheet nav.tabs a.item.active {
  background-image: url(../images/active_tab_back.webp);
  text-transform: uppercase;
}

.window-content .actor-sheet input {
  width: 20px;
  height: 20px;
  text-align: center;
}

.window-content .actor-sheet input[type="number"] {
  font-family: Palatino;
}

.window-content .actor-sheet input[name="name"] {
  color: #212341;
  min-width: 150px;
  min-height: 45px;
  border-radius: 25%;
  background-color: #fbfbfb49;
}

.window-content .actor-sheet input[type="text"]:hover,
.window-content .actor-sheet input[type="number"]:hover,
.window-content .actor-sheet input[type="text"]:focus,
.window-content .actor-sheet input[type="number"]:focus {
  box-shadow: 0 0 15px #778ba2 inset;
}

.window-content .actor-sheet input[type="text"]::-moz-placeholder, .window-content .actor-sheet input[type="number"]::-moz-placeholder {
  color: #293131;
  text-shadow: 0px 0px 10px black;
}

.window-content .actor-sheet input[type="text"]:-ms-input-placeholder, .window-content .actor-sheet input[type="number"]:-ms-input-placeholder {
  color: #293131;
  text-shadow: 0px 0px 10px black;
}

.window-content .actor-sheet input[type="text"]::placeholder,
.window-content .actor-sheet input[type="number"]::placeholder {
  color: #293131;
  text-shadow: 0px 0px 10px black;
}

.window-content .actor-sheet img {
  border: none;
  flex: 0 0 60px;
  height: auto;
  max-height: 120px;
  max-width: 120px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.window-content .actor-sheet h3 {
  font-family: Alaska;
  text-transform: uppercase;
}

.window-content .actor-sheet h2 {
  color: black;
  border: none;
  text-align: center;
  font-family: Alaska;
  text-shadow: 0px 0px 15px black;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 0 0rem;
}

.window-content .actor-sheet h1 {
  color: black;
  border: none;
  text-align: center;
  font-family: Alaska;
  text-shadow: 0px 0px 15px black;
  text-transform: uppercase;
  font-weight: bold;
  width: 100%;
}

.window-content .actor-sheet h1 input {
  color: white;
  border: none;
  text-align: center;
  font-family: Alaska;
  text-shadow: 0px 0px 5px black;
  text-transform: uppercase;
}

.window-content .actor-sheet .dark {
  background-color: rgba(0, 0, 0, 0.561);
  color: white;
}

.window-content .actor-sheet a.skill-roll:hover,
.window-content .actor-sheet a.skill-roll:active {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-name: roll;
  animation-name: roll;
  text-shadow: 0px 0px 10px #191e58;
}

.window-content .actor-sheet .item-name {
  margin-right: 10px;
}

.window-content .actor-sheet ol.item-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.window-content .actor-sheet ol.item-list img {
  max-width: 60px;
  max-height: 60px;
}

.window-content .actor-sheet ol.item-list li {
  margin: 5px;
  padding-bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid black;
}

.window-content .actor-sheet ol.item-list li .fle div {
  margin-right: 15px;
}

.window-content .actor-sheet .char_image {
  border: solid 5px;
  -o-border-image: url(../images/separator.webp) 100 round;
  border-image: url(../images/separator.webp) 100 round;
  grid-column: 5/7;
  grid-row: 3/4;
  transition: all 0.6s cubic-bezier(1, 0, 0, 1) 0.1s;
  display: flex;
  justify-content: center;
}

.window-content .actor-sheet .char_image:hover {
  transform: scale(1.1);
}

.window-content .actor-sheet .sheet-header {
  grid-column: 1/9;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.window-content .actor-sheet .sheet-header img {
  max-width: 100%;
  max-height: 90px;
}

.window-content .actor-sheet .sheet-header .axioms {
  background: url(../images/roundBack.webp);
  background-size: cover;
  width: 40px;
  height: 40px;
  padding-top: 11px;
}

.window-content .actor-sheet .sheet-header p {
  text-align: center;
  flex-direction: row;
}

.window-content .actor-sheet .sheet-header p span {
  display: block;
}

.window-content .actor-sheet .sheet-header select {
  color: black;
  border: none;
  border-bottom: 1px solid grey;
  max-height: 20px;
  font-size: 0.9em;
  font-family: Palatino;
}

.window-content .actor-sheet .sheet-header select:active,
.window-content .actor-sheet .sheet-header select:focus {
  box-shadow: 0 0 5px #0062ff;
}

.window-content .actor-sheet .sheet-header div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 5px;
  align-items: center;
}

.window-content .actor-sheet .sheet-header input[type="number"] {
  border: none;
  text-align: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: url(../images/roundBack.webp);
  background-size: cover;
  font-family: Palatino;
}

.window-content .actor-sheet .sheet-header h1 {
  width: 100%;
}

.window-content .actor-sheet .sheet-header h1 input[name="name"] {
  border: none;
  text-transform: uppercase;
  text-shadow: 0px -2px 10px #0e0909;
  font-family: Alaska;
  text-align: center;
  color: #0e0909;
  width: 100%;
}

.window-content .actor-sheet .sheet-header.threat {
  flex: none;
}

.window-content .actor-sheet .attributes {
  grid-column: 1/5;
  grid-row: 2/3;
}

.window-content .actor-sheet .others {
  grid-column: 5/9;
  grid-row: 2/3;
}

.window-content .actor-sheet .attributes ul,
.window-content .actor-sheet .attributes ol,
.window-content .actor-sheet .others ul,
.window-content .actor-sheet .others ol,
.window-content .actor-sheet .weapons ul,
.window-content .actor-sheet .weapons ol {
  font-family: Palatino;
  display: flex;
  justify-content: space-around;
}

.window-content .actor-sheet .attributes ul li.attribut-block,
.window-content .actor-sheet .attributes ol li.attribut-block,
.window-content .actor-sheet .others ul li.attribut-block,
.window-content .actor-sheet .others ol li.attribut-block,
.window-content .actor-sheet .weapons ul li.attribut-block,
.window-content .actor-sheet .weapons ol li.attribut-block {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.window-content .actor-sheet .attributes ul li.attribut-block input[type="number"],
.window-content .actor-sheet .attributes ol li.attribut-block input[type="number"],
.window-content .actor-sheet .others ul li.attribut-block input[type="number"],
.window-content .actor-sheet .others ol li.attribut-block input[type="number"],
.window-content .actor-sheet .weapons ul li.attribut-block input[type="number"],
.window-content .actor-sheet .weapons ol li.attribut-block input[type="number"] {
  border: none;
  text-align: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: url(../images/roundBack.webp);
  background-size: cover;
}

.window-content .actor-sheet .attributes ul li.attribut-block a,
.window-content .actor-sheet .attributes ol li.attribut-block a,
.window-content .actor-sheet .others ul li.attribut-block a,
.window-content .actor-sheet .others ol li.attribut-block a,
.window-content .actor-sheet .weapons ul li.attribut-block a,
.window-content .actor-sheet .weapons ol li.attribut-block a {
  text-align: center;
}

.window-content .actor-sheet .skills {
  grid-column: 1/5;
  grid-row: 3/7;
  overflow: scroll;
  max-height: 500px;
}

.window-content .actor-sheet .skills ul {
  font-family: Palatino;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.window-content .actor-sheet .skills ul li {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 1px solid grey;
}

.window-content .actor-sheet .skills ul li input {
  border: none;
  text-align: center;
  width: 18px;
  height: 18px;
}

.window-content .actor-sheet .skills ul li span {
  width: 90%;
  text-align: center;
}

.window-content .actor-sheet .skills ul li a {
  margin-left: auto;
  text-align: center;
}

.window-content .actor-sheet .perks-list {
  grid-column: 5/9;
  grid-row: 5/6;
}

.window-content .actor-sheet .weapons-list {
  grid-column: 5/9;
  grid-row: 6/7;
}

.window-content .actor-sheet .perks-list h2,
.window-content .actor-sheet .perks-list h3,
.window-content .actor-sheet .weapons-list h2,
.window-content .actor-sheet .weapons-list h3 {
  margin-bottom: 1px;
}

.window-content .actor-sheet .perks-list .item-list li,
.window-content .actor-sheet .weapons-list .item-list li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid;
  margin: 1px;
  padding: 1px;
}

.window-content .actor-sheet .perks-list .item-list li .item-name,
.window-content .actor-sheet .weapons-list .item-list li .item-name {
  padding-top: 5px;
  max-width: 150px;
}

.window-content .actor-sheet .perks-list .item-list li img,
.window-content .actor-sheet .weapons-list .item-list li img {
  max-width: 30px;
  max-height: 30px;
}

.window-content .actor-sheet .perks-details,
.window-content .actor-sheet .gear,
.window-content .actor-sheet .powers {
  grid-column: 1/9;
  grid-row: 1/9;
}

.window-content .actor-sheet .perks-details h2,
.window-content .actor-sheet .gear h2,
.window-content .actor-sheet .powers h2 {
  text-align: left;
  background: #37465438;
}

.window-content .actor-sheet .perks-details ol,
.window-content .actor-sheet .gear ol,
.window-content .actor-sheet .powers ol {
  font-family: Palatino;
}

.window-content .actor-sheet .perks-details ol li,
.window-content .actor-sheet .gear ol li,
.window-content .actor-sheet .powers ol li {
  position: relative;
  display: flex;
  flex-direction: column;
}

.window-content .actor-sheet .perks-details ol li .item-name,
.window-content .actor-sheet .gear ol li .item-name,
.window-content .actor-sheet .powers ol li .item-name {
  text-align: center;
}

.window-content .actor-sheet .perks-details ol li img,
.window-content .actor-sheet .gear ol li img,
.window-content .actor-sheet .powers ol li img {
  margin: 5px;
}

.window-content .actor-sheet .perks-details ol li .item-detail,
.window-content .actor-sheet .gear ol li .item-detail,
.window-content .actor-sheet .powers ol li .item-detail {
  overflow: scroll;
  position: relative;
  z-index: 1000;
  max-height: 0px;
}

.window-content .actor-sheet .perks-details ol li .item-controls,
.window-content .actor-sheet .gear ol li .item-controls,
.window-content .actor-sheet .powers ol li .item-controls {
  justify-content: end;
}

.window-content .actor-sheet .perks-details ol li .item-controls a.item-control,
.window-content .actor-sheet .gear ol li .item-controls a.item-control,
.window-content .actor-sheet .powers ol li .item-controls a.item-control {
  float: right;
  margin-right: 10px;
}

.window-content .actor-sheet .perks-details ol li .item-controls a.item-equip.item-equipped,
.window-content .actor-sheet .gear ol li .item-controls a.item-equip.item-equipped,
.window-content .actor-sheet .powers ol li .item-controls a.item-equip.item-equipped {
  color: #0000af;
  text-shadow: 0px 0px 5px #0011ff;
}

.window-content .actor-sheet .perks-details ol li .item-controls a.item-equip.item-unequipped,
.window-content .actor-sheet .gear ol li .item-controls a.item-equip.item-unequipped,
.window-content .actor-sheet .powers ol li .item-controls a.item-equip.item-unequipped {
  color: #1f0101;
  text-shadow: 0px 0px 5px #f80202;
}

.window-content .actor-sheet .perks-details ol li .item-dropdown-extras,
.window-content .actor-sheet .gear ol li .item-dropdown-extras,
.window-content .actor-sheet .powers ol li .item-dropdown-extras {
  font-style: italic;
  border: 1px solid grey;
  text-align: center;
  background-color: #9e96868e;
}

.window-content .actor-sheet .background .list-section-heading {
  grid-column: 1/9;
  grid-row: 1/2;
  align-items: center;
  margin-top: 10%;
}

.window-content .actor-sheet .background .editor {
  grid-column: 1/9;
  grid-row: 2/6;
  background: url(../images/bckg-hex.webp);
  background-size: 100% 100%;
  min-height: 200px;
  min-width: 150px;
  padding: 15% 10% 10% 10%;
}

.window-content .actor-sheet .perks {
  grid-column: 1/9;
  grid-row: 1/9;
}

.window-content .actor-sheet .spells {
  grid-column: 5/9;
  grid-row: 1/4;
}

.window-content .actor-sheet .miracles {
  grid-column: 1/5;
  grid-row: 4/9;
}

.window-content .actor-sheet .psionic {
  grid-column: 5/9;
  grid-row: 4/9;
}

.window-content .actor-sheet .effects {
  grid-column: 1/9;
  grid-row: 1/5;
}

.window-content .actor-sheet .effects .item-list {
  padding: 0px;
}

.window-content .actor-sheet .effects .effects-list {
  padding: 0px;
}

.window-content .actor-sheet .effects .effects-heading {
  color: white;
  background-color: black;
  margin: 2px 0;
  align-items: center;
  font-weight: bold;
  font-family: "Palatino Linotype";
}

.window-content .actor-sheet .effects .effects-item {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
  color: black;
}

.window-content .actor-sheet .effects .effect-name {
  white-space: nowrap;
  overflow-x: hidden;
  text-align: left;
  font-family: "Palatino Linotype";
  padding: 0px 0px 0px 10px;
  width: 25%;
}

.window-content .actor-sheet .effects .effect-section-title {
  width: 25%;
  padding: 0px 0px 0px 10px;
}

.window-content .actor-sheet .effects .effect-source,
.window-content .actor-sheet .effects .effect-duration,
.window-content .actor-sheet .effects .effect-controls {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
  font-family: "Palatino Linotype";
  width: 25%;
}

.window-content .actor-sheet .effects .effect-controls {
  border: none;
  flex: 1;
}

.window-content .actor-sheet .effects .effect-item-image {
  flex: 0 0 30px;
  height: 30px;
  background-size: 30px;
  border: none;
  margin-right: 5px;
}

.window-content .actor-sheet .effects .effect-toggle,
.window-content .actor-sheet .effects .effect-edit,
.window-content .actor-sheet .effects .effect-delete {
  padding: 5px;
}

.window-content .actor-sheet .xp {
  grid-column: 5/9;
  grid-row: 4/5;
  flex-direction: row;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.window-content .actor-sheet .xp input {
  background: url(../images/roundBack.webp);
  background-size: cover;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
}

.window-content .actor-sheet .defense {
  line-height: 0.7em;
  padding-top: 10px;
  grid-column: 7/9;
  grid-row: 3/4;
}

.window-content .actor-sheet .defense p {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.window-content .actor-sheet .defense p span {
  display: block;
}

.window-content .actor-sheet .defense h3.vital-box {
  justify-content: space-between;
  display: flex;
}

.window-content .actor-sheet .defense input {
  width: 25%;
}

.window-content .actor-sheet .threat-editor {
  grid-column: 1/9;
  grid-row: 2/5;
  flex-direction: row;
}

.window-content .actor-sheet .threat-editor .threat-edit {
  flex-direction: column;
}

.window-content .actor-sheet .stat-block {
  grid-column: 1/9;
  flex-direction: row;
}

form.actor-sheet.threat div.skill-list-edit {
  display: grid;
  grid-template-columns: repeat(3, 0.3fr);
}

form.actor-sheet.threat div.skill-list-edit .skill-element-edit {
  display: flex;
  justify-content: flex-end;
  text-align: end;
}

form.actor-sheet.threat td {
  position: relative;
  line-height: 1.8;
}

form.actor-sheet.threat td input {
  right: 2px;
  position: absolute;
}

form.actor-sheet.threat .threat-edit input[type="text"] {
  width: 100px;
}

form.actor-sheet.threat .sheet-header {
  flex-direction: row;
}

form.actor-sheet.threat .threat-edit {
  vertical-align: top;
}

form.actor-sheet.threat .tab[data-tab].active {
  display: block;
}

form.actor-sheet.threat .tab[data-tab].active .list-section-heading {
  height: 40px;
  font-size: 2em;
  text-align: center;
  background-image: url(../images/separator.webp);
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

form.actor-sheet.threat .tab[data-tab].active .list-section-heading .item-create-rsa,
form.actor-sheet.threat .tab[data-tab].active .list-section-heading .item-create-sa {
  float: right;
  padding: 0px 5px 0px 5px;
}

form.actor-sheet.threat .tab[data-tab].active ol.item-list {
  padding: 0px;
}

form.actor-sheet.threat .tab[data-tab].active ol.item-list li {
  display: block;
  overflow: hidden;
  padding-bottom: 0px;
}

form.actor-sheet.threat .tab[data-tab].active ol.item-list li img {
  height: 30px;
  width: 30px;
  max-width: 30px;
}

form.actor-sheet.threat .tab[data-tab].active ol.item-list li .block {
  border: 1px 0px 0px 0px black;
  box-shadow: none;
}

form.actor-sheet.threat .tab[data-tab].active ol.item-list li .item-name {
  text-align: center;
  display: inline;
  max-width: 500px;
}

form.actor-sheet.threat .tab[data-tab].active ol.item-list li .item-controls {
  justify-content: end;
  max-width: 80px;
  display: inline;
}

form.actor-sheet.threat .tab[data-tab].active ol.item-list li .item-controls .item-control {
  margin-right: 5px;
}

form.actor-sheet.threat .tab[data-tab].active ol.item-list li .item-detail {
  max-height: 0px;
}

form.actor-sheet.threat .tab[data-tab].active ol.item-list li .item-detail .item-dropdown-description {
  max-height: inherit;
}

form.actor-sheet.threat .tab[data-tab].active ol.item-list li .item-detail .item-dropdown-extras {
  font-style: italic;
  border: 1px solid grey;
  text-align: center;
  background-color: #9e96868e;
}

form.actor-sheet.threat .tab[data-tab].active .editor {
  width: 400px;
  height: 400px;
  background: url(../images/bckg-hex.webp);
  background-size: 110% 110%;
  padding: 20px;
  background-position: center;
}

.compact .window-content {
  padding: 1px;
}

.compact form.actor-sheet .block {
  border: none;
  margin: 0px;
  padding: 2px;
}

.compact form.actor-sheet nav.sheet-tabs {
  transform: rotateZ(90deg) scale(0.7);
}

.compact form.actor-sheet .tab[data-tab].active {
  display: flex;
  flex-direction: column;
}

.compact form.actor-sheet .tab[data-tab].active .sheet-header p {
  display: none;
}

.compact form.actor-sheet .tab[data-tab].active .sheet-header div:last-child {
  display: none;
}

.compact form.actor-sheet .tab[data-tab].active .attributes input,
.compact form.actor-sheet .tab[data-tab].active .others input {
  background: none;
  height: 20px;
}

.compact form.actor-sheet .tab[data-tab].active .skills .skillAttr,
.compact form.actor-sheet .tab[data-tab].active .skills .skillAdd {
  display: none;
}

.compact form.actor-sheet .tab[data-tab].active .char_image,
.compact form.actor-sheet .tab[data-tab].active .xp,
.compact form.actor-sheet .tab[data-tab].active .defense {
  display: none;
}

.compact form.actor-sheet .tab[data-tab].active .perks-list h3,
.compact form.actor-sheet .tab[data-tab].active .weapons-list h3 {
  display: none;
}

.compact form.actor-sheet .tab[data-tab].active .perks-list img,
.compact form.actor-sheet .tab[data-tab].active .weapons-list img {
  display: none;
}

.compact form.actor-sheet .tab[data-tab].active .perks-list li,
.compact form.actor-sheet .tab[data-tab].active .weapons-list li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.compact form.actor-sheet .tab[data-tab].active .background h1 {
  display: none;
}

.compact form.actor-sheet .tab[data-tab].active .background .editor {
  height: 100%;
}
