p {
  font-family:"Palatino Linotype";
  font-size:14px;
  text-indent:8px;
}

.editor-content h1 {
  font-family: "Alaska Extrabold Bold";
  font-weight: Bold;
  font-size:28px;
  text-align:center;
  border-bottom:none
}

.editor-content  h2 {
  font-family: "Alaska Extrabold Bold";
  font-weight:Bold;
  font-size:20px;
  text-align:left;
  border-bottom:none;
}

.editor-content h3 {
  font-family: "Alaska Extrabold Bold";
  font-weight: Bold;
  font-size:18px;
  text-align:left;
}

.editor-content table {
  border-top:none;
  border-left:none;
  border-right:none
}

.editor-content table tr:first-child {
  background-color:black;
  color:white;
}

.editor-content table tr:nth-child(even) {
  background-color:#fff2e6;
  border-width: 1px 0px;
}

.editor-content table tr:nth-child(odd) {
  border-width: 1px 0px;
}


.editor-content table td:first-child {
  border-left:none;
}

.editor-content table td:last-child {
  border-right:none;
}

.journal-sheet .window-content {
  background-image: url('./images/bg-sheet.png');
}

.sheet form {
/*    display: flex; */
    flex-direction: column; 

  }
.sheet .sheet-content {
    height: 100%;
    display: flex;
    flex-direction: column; 
}
.sheet .sheet-content .editor {
    height: 100%;
}

.actor-sheet {
  display: flex;
  flex-direction:column; 
  background-image: url('./images/bgparch.jpg');
  background-size: 100% 100%;
}
.item-sheet {
    display: flex;
    flex-direction:column;  
    background-image: url('./images/bgparch.jpg');
    background-size: 100% 100%;
}
.specialability-sheet {
  height:250px;
}
.torgeternity .tabs {
    flex: 0 0 30px;
    border-top: 1px solid #AAA;
    border-bottom: 1px solid #AAA;
}
.torgeternity .tabs .item {
    line-height: 30px;
    font-weight: bold;
    font-family:"Palatino Linotype";
}

.torgeternity .item-tabs {
  background-color:black;
  color:white;
  border-radius:10px
}
.torgeternity .tabs .item.active {
    text-decoration: underline;
    text-shadow: none;
}
.torgeternity .item-list {
  list-style-type:none;
  margin: 0;
  padding: 0;
}
.torgeternity .item-list .item {
    min-height: 30px;
    line-height: 24px;
    padding: 3px 0;
    border-bottom: 1px solid #BBB;
    align-items: stretch;
}
.torgeternity .item-list .item {
    min-height: 30px;
    line-height: 24px;
    padding: 0px 0;
    border-bottom: 1px solid #BBB;
    align-items: stretch;
  }
  .torgeternity .item-list .item img {
    flex: 0 0 24px;
    margin-right: 5px;
  }
  .torgeternity .item-list .item-name {
    margin: 0;
    text-align: left;
  }
  .torgeternity .item-list .item-controls {
    flex: 0 0 80px;
    text-align:right;
  }
  .torgeternity .item-list .item-buttons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    flex: 2;
    justify-content: flex-start;
  }
  .torgeternity .item-list .item-button {
    line-height: 1;
    font-size: 11px;
    flex: none;
    width: auto;
  }
  .torgeternity .section-heading {
    text-align:center;
    background-color:black;
    color:white;
    font-size:125%
  }
  .torgeternity .item-detail {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  .torgeternity .input-box {
    background-color:white;
    border-radius: 10px;
    font-family:"Palatino Linotype";
    font-size:12px;
    text-align:center;
    text-align-last:center;
    width:140px;
  }
  .torgeternity .input-box-small {
    background-color:white;
    border-radius: 10px;
    font-family:"Palatino Linotype";
    font-size:12px;
    text-align:center;
    text-align-last:center;
    width:65px;    
  }
  .torgeternity .item-data-label {
    font-family:"Palatino Linotype";
    font-size:12px;
    font-weight:bold;
    text-align:center;
    margin: 2px 2px 2px 2px;
  }
  .torgeternity .item-description-textarea {
    font-family: "Palatino Linotype";
    font-size: 12px;
    height:355px;
    width:350px;
    background-color:#f0dec2;
    border-radius:15px;
    resize:none;
    padding:5px 5px;
  }
  .torgeternity .item-dropdown-description {
    font-family:"Palatino Linotype";
    font-size:12px;
    line-height:1.2;
    padding: 5px 5px 5px 5px;
    background-color:white;
    border-radius:15px;
  }
  .item-dropdown-extras {
    font-family:"Palatino Linotype";
    font-size:12px;
    font-weight:bold;
    padding:2px 2px 2px 2px;
    background-color:#f0dec2;
    border-radius:10px;
    display:inline-block
  }
  .chat-title {
    height:50px;
    font-family:"Palatino Linotype";
    font-size:24px;
    font-weight:bold;
    text-align:center;
    vertical-align:center
  }
  .chat-text {
    font-family:"Palatino Linotype";
    background-color:cornsilk;
    border-radius:5px;
    font-size: 14px;
    font-weight: bold;
    line-height:1.1;
    padding:5px 5px
  }
  .item-description-chat {
    font-family:"Palatino Linotype";
    background-color:white;
    border-radius:15px;
    padding:5px 5px;
  }
  .torgeternity .list-section-heading {
    text-align:center;
    background-color:#00134d;
    border-radius:10px;
    margin-bottom: 2px;
    color:white;
    font-size:125%;
    font-family:"Palatino Linotype";
    font-weight:Bold;
  }
  .torgeternity .small-input {
    border:none;
    border-bottom:1px solid black;
    width:10px;
    border-radius:0px;
    background:none;
    height:14px;
    text-align:center;
    font-family:"Pallatino Linotype";
    padding: 0px;
  }
  .torgeternity .text-input {
      border:none;
      border-bottom:1px solid black;
      width:70px;
      border-radius:0px;
      background:none;
      height:14px;
      text-align:center;
      font-family:"Pallatino Linotype";
      padding: 0px;   
  }
  .torgeternity .skill-roll {
    font-family:"Palatino Linotype";
    font-size:14px;
    line-height:1.1em;
  }
  .torgeternity .skill-text {
    font-family: "Palatino Linotype";
    font-size:14px;
    line-height:1.1em
  }
  .torgeternity .main-label {
    font-family:"Palatino Linotype";
    font-size:14px;
    line-height:1.1em;
  }
  .torgeternity .stats-table {
    border:0px black solid;
    background-color:white;
    padding-left:5px;
    border-radius:10px;
  }
  .torgeternity .vital-box {
    background:white;
    border-radius:10px;
    padding: 3px 7px 3px 7px;
  }

  .torgeternity .threat-block {
    text-indent:-10px;
    padding-left:10px;
    font-family:"Palatino Linotype";
    font-size:14px;
  }

  .torgeternity .threat-edit {
    font-family:"Palatino Linotype";
    font-size:12px;
  }

  .torgeternity .inline-skill-list .inline-skill-item:after {
    content: ",";
  }

  .torgeternity .inline-skill-list .inline-skill-item:last-child:after {
    content: "";
  }
  .torgeternity .specialability-list {
    list-style: square outside bullet;
    text-indent:0px;
    padding-left:10px;
    margin:0px;
  }

  .torgeternity .items-list {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    scrollbar-width: thin;
    color: #7a7971;
  }

  .torgeternity .items-list .item-name {
    flex: 2;
    margin: 0;
    overflow: hidden;
    font-size: 13px;
    text-align: left;
    align-items: center;
  }

  .torgeternity .effect-name {
    white-space: nowrap;
    overflow-x: hidden;
    text-align:left;
    font-family:"Palatino Linotype";
    padding:0px 0px 0px 10px;
    width:25%
  }

  .torgeternity .effect-section-title {
    width:25%;
    padding:0px 0px 0px 10px;
  }

  .torgeternity .effects-heading {
    height: 28px;
    margin: 2px 0;
    align-items: center;
    background-color:#00134d;
    border-radius:10px;
    color:white;
    font-weight: bold;
    font-family:"Palatino Linotype"
  }

  .torgeternity .effects-item {
    text-align: center;
    border-left: 1px solid #c9c7b8;
    border-right: 1px solid #c9c7b8;
    font-size: 12px;
    color:black;
  }

  .torgeternity .effect-source,
  .torgeternity .effect-duration,
  .torgeternity .effect-controls {
    text-align:center;
    border-left: 1px solid #c9c7b8;
    border-right: 1px solic #c9c7b8;
    font-size:12px;
    font-family:"Palatino Linotype";
    width:25%
  }

  .torgeternity .effect-controls {
    border:none;
    flex:1;
  }

  .torgeternity .effect-toggle,
  .torgeternity .effect-edit,
  .torgeternity .effect-delete {
    padding:5px;
  }

  .torgeternity .effect-item-image {
    flex: 0 0 30px;
    height: 30px;
    background-size: 30px;
    border: none;
    margin-right: 5px;
  }
  
  .torgeternity .item-equipped {
    color: black;
  }

  .torgeternity .item-unequipped {
    color:gray;
  }

  .torgeternity .item-equip.fixed:hover {
    text-shadow: none;
  }

  .torgeternity h1 {
    font-family:"Palatnio Linotype";
    font-size:24px;
    font-weight:bold;
    border-bottom:none;
 }
  .torgeternity h2 {
    font-family:"Palatnio Linotype";
    font-size:20px;
    font-weight:bold;
    border-bottom:none;
}

.torgeternity p {
    font-family:"Palatino Linotype";
    font-size:14px;
}

.skill-chat-title {
  font-size:20px;
  padding:0px;
  margin:0px;
  text-align:center;
  font-family:"Palatino Linotype"
}

.skill-unskilled-label {
  font-size:12px;
  text-align:center;
  padding:0px;
  margin:0px;
  font-family:"Palatino Linotype";
  width:100%
}

.skill-roll-disconnect-label {
  font-size:12px;
  text-align:center;
  padding:0px;
  margin:0px;
  font-family:"Palatino Linotype";
  width:100%;
  font-style: italic
}

.skill-roll-result {
  text-align: center;
  font-size:24px;
  font-weight: bold;
  padding: 3px 0px 0px 0px; 
  margin:0px
}

.skill-roll-action-label {
  text-align:center;
  font-size:12px;
  padding:0px;
  margin:0px
}

.skill-roll-table {
  padding-bottom:5px;
  margin-bottom:5px
}

.skill-roll-table-1 {
  width:40%;
  border:1px solid black
}

.skill-roll-table-2 {
  width:60%;
  background:#e8b017;
  padding-left:5px;
  border:1px solid black
}

.skill-roll-menu {
  font-size:11px;
  text-align:center
}

.skill-roll-damage-label {
  font-family: "Palatino Linotype";
  font-size: 18px;
  font-weight:bold;
  text-align:center
}

.storm-knight-label-small {
  font-family: "Palatino Linotype";
  font-size: 11px;
  text-align:center
}

.storm-knight-label {
  font-family: "Palatino Linotype";
  font-size:14px;
  text-align:center
}