<section
    class="sidebar-tab tab flexcol"
    id="combat"
    data-tab="combat"
>
    <header id="combat-round">
        {{#if user.isGM}}

        <nav class="encounters flexrow">
            <a
                class="combat-create"
                title="{{localize 'COMBAT.Create'}}"
            >
                <i class="fas fa-plus"></i>
            </a>
            {{#if combatCount}}
            <a
                class="combat-cycle"
                title="{{localize 'COMBAT.EncounterPrevious'}}"
                {{#if previousId}}data-combat-id="{{previousId}}"
                {{else}}disabled{{/if}}
            >
                <i class="fas fa-caret-left"></i>
            </a>
            <h4 class="encounter">{{localize "COMBAT.Encounter"}} {{currentIndex}} / {{combatCount}}</h4>
            <a
                class="combat-cycle"
                title="{{localize 'COMBAT.EncounterNext'}}"
                {{#if nextId}}data-combat-id="{{nextId}}"
                {{else}}disabled{{/if}}
            >
                <i class="fas fa-caret-right"></i>
            </a>
            {{/if}}
            <a
                class="combat-control"
                title="{{localize 'COMBAT.Delete'}}"
                data-control="endCombat"
                {{#unless combatCount}}disabled{{/unless}}
            >
                <i class="fas fa-trash"></i>
            </a>
        </nav>
        {{/if}}

        {{#if combat.data.flags.torgeternity.activeCard}}
        <img src="{{combat.data.flags.torgeternity.activeCard}}" style="object-fit:contain">
        {{else}}
        <img src="systems/torgeternity/images/cards/drama-back.jpg" style="object-fit:contain">
        {{/if}}
        <!-- <img src="systems/torgeternity/images/cards/drama-back.jpg" id="active-drama-card" style="object-fit:contain"> -->
        <nav class="encounters flexrow">
            {{#if user.isGM}}
            <a
                class="heros-first"
                title="heros first"
                {{#unless turns}}disabled{{/unless}}
            >
                <i
                    class="fas fa-users"
                    style="color:rgb(132, 132, 255)"
                ></i>
            </a>
            <a
                class="vilains-first"
                title="vilains first"
                {{#unless turns}}disabled{{/unless}}
            >
                <i
                    class="fas fa-users"
                    style="color:rgb(253, 148, 148)"
                ></i>
            </a>
            {{/if}} {{#if combatCount}} {{#if combat.data.round}}
            <h3>{{localize 'COMBAT.Round'}} {{combat.data.round}}</h3>
            {{else}}
            <h3>{{localize 'COMBAT.NotStarted'}}</h3>
            {{/if}} {{else}}
            <h3>{{localize "COMBAT.None"}}</h3>
            {{/if}} {{#if @root.user.isGM}}
            <a
                class="combat-control"
                title="{{localize 'COMBAT.InitiativeReset'}}"
                data-control="resetAll"
                {{#unless hasCombat}}disabled{{/unless}}
            >
                <i class="fas fa-undo"></i>
            </a>
            <a
                class="combat-settings"
                title="{{localize 'COMBAT.Settings'}}"
                data-control="trackerSettings"
            >
                <i class="fas fa-cog"></i>
            </a>
            {{/if}}
        </nav>
    </header>

    <ol
        id="combat-tracker"
        class="directory-list"
    >
        {{#each combat.turns as |turn id|}}
        <li
            class="combatant actor directory-item flexrow dispo{{turn.token.data.disposition}}
            {{#ifequal ../this.combat.current.turn id}} active{{/ifequal}}
            "
            data-combatant-id="{{turn.id}}"
        >
            <!--
            <div class="token-initiative">
                <span>{{turn.initiative}}</span>
            </div>
        -->
            <div class="flexrow">
                <img
                    class="token-image"
                    data-src="{{turn.img}}"
                    title="{{turn.name}}"
                />
                <div class="token-name flexcol">
                    <h4 style="color:white">{{turn.name}}</h4>
                    <div class="combatant-controls flexrow">
                        {{#if ../user.isGM}}
                        <a
                            class="has-played"
                            style="margin: 0px 5px 0px 0px"
                        ><i
                                {{#if turn.data.flags.world.turnTaken}}class="fas fa-check"
                                style="color:green"
                                {{else}}class="fas fa-check"
                                style="color:gray"
                                {{/if}}
                            ></i></a>
                        <a
                            class="combatant-control {{#if turn.hidden}}active{{/if}}"
                            title="{{localize 'COMBAT.ToggleVis'}}"
                            data-control="toggleHidden"
                        >
                            <i class="fas fa-eye-slash"></i></a>
                        <a
                            class="combatant-control {{#if turn.defeated}}active{{/if}}"
                            title="{{localize 'COMBAT.ToggleDead'}}"
                            data-control="toggleDefeated"
                        >
                            <i class="fas fa-skull"></i></a>
                        {{/if}}
                        <div class="token-effects">
                            {{#each turn.effects}}
                            <img
                                class="token-effect"
                                src="{{this}}"
                            /> {{/each}}
                        </div>
                    </div>
                </div>
            </div>

            <!--
            {{#if ../user.isGM}}
            <a class="init-up"><i class="fas fa-arrow-up"></i></a>
            <a class="init-down"><i class="fas fa-arrow-down"></i></a> 
            {{/if}}
-->
        </li>
        {{#ifequal turn.actor.type "stormknight"}}
        <ul style="background-color:rgba(15,47,189,0.212); margin: 0 0 0.5em 0">
            Pool: 
            <span class="pool-list">{{poolList turn.name}}</span>
            
        </ul>
        {{/ifequal}}
        {{/each}}
    </ol>

    <nav
        id="combat-controls"
        class="directory-footer flexrow"
    >
        {{#if hasCombat}} {{#if user.isGM}} {{#if round}}
<!--
        <a
            class="combat-control"
            title="{{localize 'COMBAT.RoundPrev'}}"
            data-control="previousRound"
        ><i class="fas fa-step-backward"></i></a>

        <a
            class="combat-control"
            title="{{localize 'COMBAT.TurnPrev'}}"
            data-control="previousTurn"
        ><i class="fas fa-arrow-left"></i></a>
-->
        <a
            class="combat-control"
            title="{{localize 'COMBAT.RoundNext'}} (New Card)"
            data-control="nextRound"
        ><i class="fas fa-step-forward"></i>  New</a> 

        <a
            class="combat-control"
            title="Next Round (Keep Current Card)"
            data-control="nextRoundKeep"
        ><i class="fas fa-step-forward"></i>  Keep</a>

        <a
            class="combat-control"
            title="{{localize 'COMBAT.End'}}"
            data-control="endCombat"
        ><i class="fas fa-stop"></i>  End</a>
<!--
        <a
            class="combat-control"
            title="{{localize 'COMBAT.TurnNext'}}"
            data-control="nextTurn"
        ><i class="fas fa-arrow-right"></i></a>
-->
        {{else}}
        <a
            class="combat-control center"
            title="{{localize 'COMBAT.Begin'}}"
            data-control="startCombat"
        >{{localize
            'COMBAT.Begin'}}</a> {{/if}} {{else if control}}
        <a
            class="combat-control"
            title="{{localize 'COMBAT.TurnPrev'}}"
            data-control="previousTurn"
        ><i class="fas fa-arrow-left"></i></a>
        <a
            class="combat-control center"
            title="{{localize 'COMBAT.TurnEnd'}}"
            data-control="nextTurn"
        >{{localize
            'COMBAT.TurnEnd'}}</a>
        <a
            class="combat-control"
            title="{{localize 'COMBAT.TurnNext'}}"
            data-control="nextTurn"
        ><i class="fas fa-arrow-right"></i></a> {{/if}} {{/if}}
    </nav>
</section>