@font-face {
    font-family: "graveBolt";
    src: url("../fonts/GraveSideBB.ttf"),
}

;

@font-face {
    font-family: "Alaska";
    src: url("../fonts/Alaska Extrabold Bold.ttf"),
}

;
/*
@font-face {
    font-family: "Berlin";
    src: url("../fonts/Berlin Email Bold.ttf"),
}
*/
;

@font-face {
    font-family: "Berlin2";
    src: url("../fonts/Friz Quadrata TT Regular.ttf"),
}

;

@font-face {
    font-family: "Friz";
    src: url("../fonts/Friz Quadrata TT Regular.ttf"),
}

;

@font-face {
    font-family: "Palatino";
    src: url("../fonts/palatino_linotype.ttf"),
}








$font-primary:'Palatino';
$font-secondary:'Friz';
$font-bold: 'Alaska';