{{log this}}
<div class="flexrow deckControl">
    <button class="addDeck">add deck</button>
    <button class="clearArea">clear area</button>
</div>
<div class="flexrow playableArea">
    <div class="deckZone">deckzone{{deck.type}}</div>
    <div class="playedCrads">played cards</div>
    <div class="withdrawZone">withdraw</div>
</div>