<form class="cosm-dialog">

  <div class="form-group stacked">
    <label>{{localize "torgeternity.dialogPrompts.selectCosmDeck"}}</label>
    <div class="form-fields torgeternityFormFields">
      <select name="from">
        {{selectOptions decks localize=true}}
      </select>
    </div>
  </div>

</form>