<form class="cosm-dialog">

    <div class="form-group stacked">
        <label>{{localize "torgeternity.dialogPrompts.selectCosmDeck"}}</label>
        <div class="form-fields">
            <select name="from">
                <option value="Core Earth Cosm Deck">{{localize "torgeternity.cosmDecks.coreEarth"}}</option>
                <option value="aysle">{{localize "torgeternity.cosmDecks.aysle"}}</option>
            </select>
        </div>
    </div>

</form>