{{log this}}
<div id="handedCards" class="app {{#if hide}}hidden{{/if}}">
    
    {{#each decks as |deck id|}}
    <div class="cardArea">
        <h3 class="cardTitle">{{deck.label}}</h3>
        <ol class="destinyCards cardHand">
          

            <li class="card deck" data-deck="{{id}}" >
                <div class="item-controls">
                    <a class="item-control deck-shuffle" title="shuffle deck"><i class="fa fa-random"></i></a>
                    <a class="item-control deck-config" title="deck config"><i class="fa fa-cog"></i></a>
                    <a class="item-control deck-draw" title="draw card"><i class="fa fa-share"></i></a>
                    <a class="item-control deck-history" title="draw history"><i class="fa fa-undo"></i></a>
                </div>
                <div>
                    <img src="{{deck.backImg}}" />

                </div>
            </li>
           
        </ol>
    </div>
 
        
    {{/each}}
   
    
</div>