.flex-center,
.flex-left,
.flex-right {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5px;
  border: 1px solid #999;
}

.flex-left {
  justify-content: flex-start;
  text-align: left;
}

.flex-right {
  justify-content: flex-end;
  text-align: right;
}