<div class="readme" style="background-image:url('systems/torgeternity/images/journal-background.webp');background-repeat:no-repeat;padding:2rem 1rem;background-size:cover;color:black;">
   <p style="padding-left:100px; padding-right:100px;"><img src="systems/torgeternity/images/TORG_Logo.webp"></p>
<div style="padding-left:15px; padding-right:15px;">
    <p style="font-family: alaska; font-size: 2rem; color: white; text-shadow: 3px 3px 3px #09090c;  text-align: center; text-transform: uppercase">System</p>
    <h3>Das TORG Eternity System bietet neben allen notwendigen Funktionalitäten um das Spielgefühl vom Tisch auf den Bildschirm zu bringen noch folgende Kompendien:</h3>
    <ul class="flexcol">
        <li><a class="compendium systemRules">Basisregeln</a> das die Schnellstarterregeln, foundryspezifische Erklärungen und eine Liste an Effektbefehlen enthält.</li>
        <li><a class="compendium systemArchetypes">Archetypen</a> das die 16 ikonischen Storm Knights als spielbereite Charaktere enthält.</li>
        <li><a class="compendium systemHandouts">Handouts</a> was teilbare Handouts für die ikonischen Archetypen enthält.</li>
        <li><a class="compendium systemCards">Dramadeck</a> enthält das komplette Haupt-Kartendeck. Dieses wird automatisch importiert und das Drama-Deck in den Kampf-Tracker integriert. Die Cosm-Module beinhalten die jeweiligen Erweiterungskartendecks, welche man einfach ergänzen oder austauschen kann.</li>
        <li><a class="compendium systemScenes">Main Scene</a> enthält den TORG Hintergund als generische Landing Page welche beim ersten Start der Welt eingestellt wird.</li>
        <li><a class="compendium systemMacros">Macros</a> enthält eine Reihe von nützlichen Macros die dem Spielleiter das Leiten erleichtern sollen.</li>
    </ul>
    <p style="padding-left:150px; padding-right:150px;"><a href="https://ulisses-spiele.de/"><img src="systems/torgeternity/images/ulisseslogoDE.webp" alt="logo ulisses"></a></p>
       <p>Herzlichen Dank fürs downloaden und spielen von Torg Eternity auf Foundry. Falls du hilfe mit dem System oder Modul benötigst, bitte besuche unseren Discord Kanal auf dem Foundry oder Ulisses Spiele Server.</p>
    <h3>Danksagung</h3>
    <p>Vielen Dank an @rwanoux für seine großartige Arbeit an diesem Projekt. Dieses System würde nicht so fantastisch aussehen wie es aussieht ohne seine Beiträge. Das Projekt hätte auch nicht sein Potenzial ohne die Torg Eternity Gemeinschaft auf Foundry. Es gibt zu viele Leute, um sie einzeln zu erwähnen, aber ich möchte vor allem einen besonders an @Manuel, @Orome, @Paul Emerson, @Markus Raab und @ForjaSalvaje für ihre Beiträge, Anregungen und Ermutigung. -GM Matt (Dezember 2021)</p>
    <p>Ich möchte mich bei Helmut, BadIdeasBureau und Durak für ihre großartigen Beiträge und Matt, als ehemaligen Hauptentwickler des Systems, herzlich bedanken. - Algor</p>
</div>
</div>
<script>
    let crCompLinks = document.getElementsByClassName("compendium");
    for (let link of crCompLinks) {
        link.addEventListener("click", (ev) => openCrComp(ev));
    }
    function openCrComp(ev) {
        if (ev.currentTarget.classList.contains("systemRules")) {
            game.packs.get("torgeternity.system-de-basisregeln").render(true);
        }
        else if (ev.currentTarget.classList.contains("systemArchetypes")) {
            game.packs.get("torgeternity.system-de-archetypen").render(true);
        }
        else if (ev.currentTarget.classList.contains("systemHandouts")) {
            game.packs.get("torgeternity.system-de-handouts").render(true);
        }
        else if (ev.currentTarget.classList.contains("systemCards")) {
            game.packs.get("torgeternity.system-de-grundkarten").render(true);
        }
        else if (ev.currentTarget.classList.contains("systemScenes")) {
            game.packs.get("torgeternity.core-scenes").render(true);
        }
        else if (ev.currentTarget.classList.contains("systemMacros")) {
            game.packs.get("torgeternity.macros").render(true);
        }
    }
</script>