<h1>Bienvenue dans le système Torg Eternity pour Foundry VTT</h1>
<div class="form-group">
    <a href="https://ulisses-us.com/"><img src="systems/torgeternity/images/ulissesLogo.webp" alt="logo ulisses">
    </a>
    <p>
        Ce système est développé par VTT Southwest, LLC sous licence de Ulisses Medien und Spiel Distributions GmbH. Le
        support français par Black Book Editions </p>
    <p>
        Merci d'avoir téléchargé et joué à Torg Eternity sur Foundry. Si vous avez besoin d'aide avec le système,
        veuillez visiter notre canal Discord sur le serveur Foundry. </p>
    <h3>
        Note à propos des cartes
    </h3>
    <p>
        Ce système comprend toutes les cartes du jeu de base . Il intègre également le paquet de cartes d'actions avec
        le tracker de combat. Le système de cartes intégré est assez intuitif, mais si vous avez besoin d'aide, vous
        pouvez poser toutes les questions à son sujet sur le canal #torg-eternity du serveur Foundry. </p>
    <h2>
        Remerciements
    </h2>
    <p>
        Un grand merci à @rwanoux pour son incroyable travail sur ce projet. Ce système ne serait pas aussi fantastique
        qu'il l'est sans ses contributions. Le projet n'aurait pas non plus réalisé son potentiel sans la communauté
        Torg Eternity sur Foundry. Il y a trop de personnes à mentionner individuellement, mais je tiens
        particulièrement à féliciter @Manuel, @Orome, @Paul Emerson, @Markus Raab, et @ForjaSalvaje pour leurs
        contributions, leurs apports et leurs encouragements. -GM Matt (décembre 2021)

    </p>
</div>