<h1>Willkommen im Torg Eternity System für Foundry VTT</h1>
<div class="form-group">
    <a href="https://ulisses-us.com/"><img src="systems/torgeternity/images/ulissesLogo.webp" alt="logo ulisses">
    </a>
    <p>
        Dieses System wurde von VTT Southwest, LLC unter Lizenz von Ulisses Medien und Spiel Distributions GmbH
        entwickelt.
    <p>
        Vielen Dank, dass Sie Torg Eternity auf Foundry heruntergeladen und gespielt haben. Wenn Sie Hilfe mit dem
        System benötigen, besuchen Sie bitte
        unseren Discord-Kanal auf dem Foundry-Server. </p>
    <h3>
        Ein Hinweis zum Kartenspiel </h3>
    <p>
        Dieses System enthält alle Karten des Haupt-Drama-Decks. Außerdem integriert es das Drama-Deck mit dem
        Kampf-Tracker. Das eingebaute Kartensystem ist ziemlich intuitiv, aber wenn ihr Hilfe braucht, könnt ihr alle
        Fragen dazu im Channel #torg-eternity auf dem Foundry-Server stellen.
    </p>
    <h2>
        Danksagung
    </h2>
    <p>
        Vielen Dank an @rwanoux für seine großartige Arbeit an diesem Projekt. Dieses System würde nicht so fantastisch
        aussehen wie es aussieht
        ohne seine Beiträge. Das Projekt hätte auch nicht sein Potenzial ohne die Torg Eternity
        Gemeinschaft auf Foundry. Es gibt zu viele Leute, um sie einzeln zu erwähnen, aber ich möchte vor allem einen
        besonders an @Manuel, @Orome, @Paul Emerson, @Markus Raab und @ForjaSalvaje für ihre Beiträge, Anregungen und
        Ermutigung. -GM Matt (Dezember 2021)

</div>