<fieldset>
    <legend>{{localize "torgeternity.sheetLabels.multiActionPenalty"}}</legend>
    <span class="skill-check-options">{{localize "torgeternity.sheetLabels.actions"}}:
        <input type="radio" id="multi1-radio" name="multiAction" value=0 checked>
        <label for="1">1</label>
        <input type="radio" id="multi2-radio" name="multiAction" value=-2>
        <label for="2">2 (-2)</label>
        <input type="radio" id="multi3-radio" name="multiAction" value=-4>
        <label for="3">3 (-4)</label>
        <input type="radio" id="multi4-radio" name="multiAction" value=-6>
        <label for="4">4 (-6)</label>
    </span>
</fieldset>
