<legend>{{localize "torgeternity.sheetLabels.difficulty"}}</legend>
<span class="skill-check-options">
    {{localize "torgeternity.sheetLabels.target"}}
    {{test.targetDefenseSkill}}:
    {{test.targetDefenseValue}}
</span>
