<fieldset>
  <legend data-tooltip="{{localize 'torgeternity.sheetLabels.inputExistingTooltip'}}">Bonus</legend>
  <div class="skill-check-options flexrow">
    <label for="bonus">{{localize 'torgeternity.sheetLabels.inputExisting'}}</label>
    <input type="number" data-dtype="Number" id="bonus-text" name="bonus"
      data-tooltip="{{localize 'torgeternity.sheetLabels.inputExistingTitle'}}"
      placeholder="???" value="{{test.bonus}}" />
  </div>
</fieldset>