<fieldset>
    <legend>{{localize "torgeternity.sheetLabels.dn"}}</legend>
    <span class="skill-check-options">
        <select id="difficulty" name="DN" class="input-box">
            {{#select test.DN}}
                {{#if test.targets}}
                    {{selectOptions config.dnTypes selected=test.DN localize=true}}
                {{else}}
                    {{selectOptions config.dnTypesBasic selected=test.DN localize=true}}
                {{/if}}
            {{/select}}

        </select>
    </span>
</fieldset>
