<fieldset>
    <legend>{{localize "torgeternity.sheetLabels.otherModifiers"}}</legend>
    <table>
        <tr>
            <th style="width:75%">
                {{localize "torgeternity.sheetLabels.description"}}
            </th>
            <th>
                {{localize "torgeternity.sheetLabels.effect"}}
            </th>
        <tr>
            <td>
                <input type="text" id="other1-description-text" name="otherDescription1" value="">
            </td>
            <td>
                <input type="number" id="other1-modifier-text" name="otherEffect1" value=0>
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" id="other2-description-text" name="otherDescription2" value="">        
            </td>
            <td>
                <input type="number" id="other2-modifier-text" name="otherEffect2" value=0>
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" id="other3-description-text" name="otherDescription3" value="">
            </td>
            <td>
                <input type="number" id="other3-modifier-text" name="otherEffect3" value=0>
            </td>
        </tr>
    </table>
</fieldset>
