<fieldset>
  <legend>{{localize "torgeternity.sheetLabels.movementPenalty"}}</legend>
  <span class="skill-check-options">
    {{radioBoxesNumber "movementModifier" choices.movement checked=test.movementModifier localize=true}}
  </span>
</fieldset>