<fieldset>
  <legend>{{localize "torgeternity.sheetLabels.movementPenalty"}}</legend>
  <div class="skill-check-options flexrow">
    {{radioBoxesNumber "movementModifier" choices.movement checked=test.movementModifier localize=true tooltip=true}}
  </div>
</fieldset>