<fieldset>
  <legend>{{localize "torgeternity.sheetLabels.multiActionPenalty"}}</legend>

  <span class="skill-check-options">
    <span>{{localize "torgeternity.sheetLabels.actions"}}:</span>
    {{radioBoxesNumber "multiModifier" choices.multipleActions checked=test.multiModifier localize=true}}
  </span>
</fieldset>