<fieldset>
    <legend>{{localize "torgeternity.sheetLabels.multiTargetPenalty"}}</legend>
    <span class="skill-check-options">
        {{localize "torgeternity.sheetLabels.targets"}}: 
        <input type="radio" id="targets1-radio" name="multiTarget" value=0 checked>
        <label for="1">1</label>
        <input type="radio" id="targets2-radio" name="multiTarget" value=-2>
        <label for="2">2 (-2)</label>
        <input type="radio" id="targets3-radio" name="multiTarget" value=-4>
        <label for="3">3 (-4)</label>
        <input type="radio" id="targets4-radio" name="multiTarget" value=-6>
        <label for="4">4 (-6)</label>
        <input type="radio" id="targets5-radio" name="multiTarget" value=-8>
        <label for="4">5 (-8)</label>
        <input type="radio" id="targets6-radio" name="multiTarget" value=-10>
        <label for="4">6 (-10)</label>
    </span>
</fieldset>
