<fieldset>
  <legend>{{localize "torgeternity.sheetLabels.multiActionPenalty"}}</legend>

  <div class="skill-check-options flexrow">
    <span>{{localize "torgeternity.sheetLabels.actions"}}:</span>
    {{radioBoxesNumber "multiModifier" choices.multipleActions checked=test.multiModifier localize=true tooltip=true}}
  </div>
</fieldset>