<fieldset>
  <legend>{{localize "torgeternity.sheetLabels.multiTargetPenalty"}}</legend>
  <div class="skill-check-options flexrow">
    <span>{{localize "torgeternity.sheetLabels.targets"}}:</span>
    {{radioBoxesNumber "targetsModifier" choices.targets checked=test.targetsModifier localize=true tooltip=true}}
  </div>
</fieldset>