<fieldset>
  <legend>{{localize "torgeternity.sheetLabels.multiTargetPenalty"}}</legend>
  <span class="skill-check-options">
    <span>{{localize "torgeternity.sheetLabels.targets"}}:</span>
    {{radioBoxesNumber "targetsModifier" choices.targets checked=test.targetsModifier localize=true}}
  </span>
</fieldset>