@keyframes rotateblur {
  0% {
    transform: rotateZ(0deg);
    top: 5px;
  }

  50% {
    transform: rotateZ(180deg);
    top: -65px;
  }

  75% {
    transform: rotateZ(310deg);
    top: 20px;
  }

  100% {
    transform: rotateZ(360deg);
    top: 5px;
  }
}

//--------style global
body {
  font-family: OptiLight;
  font-size: 12px;

  * {

    scrollbar-color: #227878 #2e2e2e94;
    scrollbar-width: thin;

    ::-webkit-scrollbar-thumb {
      outline: none;
      border-radius: 3px;
      background: #227878;
      border: 1px solid #2e2e2e94;
    }
  }

}

input[type="text"],
input[type="number"],
input[type="password"],
input[type="date"],
input[type="time"],
select,
option,
textarea {
  font-family: OptiLight;
}

button {
  font-family: OptiBold;
}

button:hover,
button:focus {
  box-shadow: 0 0 10px #3bb3b3;
}

a:hover {
  text-shadow: 0 0 10px#3bb3b3;
}

.app,
.window-app {
  a.entity-link {
    color: black
  }

  border-radius: 5px;
  box-shadow: 0 0 15px #122529;
  padding-bottom: 0.5em;

  color: rgb(112, 112, 112);
  z-index: 30;

  input[type="text"]::placeholder,
  input[type="number"]::placeholder {
    color: rgba(0, 0, 0, 0.472);
    text-shadow: 0px 0px 10px black;
  }

  option {
    background: grey;
  }

  optgroup {
    background: rgb(68, 66, 66);
  }

  textarea {
    color: white;
  }

  div.form-group {
    margin: 10px;
    padding-bottom: 5px;
    border-bottom: 2px solid rgb(119, 119, 119);
  }
}

.window-app .window-resizable-handle {
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: -10px;
  right: -10px;
  background: url(../images/resizerRound.webp);
  background-size: 115% 115%;
  background-position: center;
  padding: 2px;
  border: none;
  border-radius: 50%;
  box-shadow: 0px 0px 5px blue;
  transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;

  i.fas {
    transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;

    transform: rotate(45deg);
    top: 25%;
    left: 25%;
    position: absolute;
    color: rgba(255, 255, 255, 0);
    text-shadow: 0px 0px 30px rgba(255, 255, 255, 0);
  }

  i.fas:hover {
    transform: rotate(45deg) scaleX(1.6);
    color: #ffffff;
    -webkit-text-fill-color: white;
    /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
  }
}

.window-app .window-resizable-handle:active {
  box-shadow: 0px 0px 30px blue;
}

.window-app .window-header {
  background: url(../images/tab-header.webp);
  background-size: 100% 100%;
  font-family: Alaska;
  font-weight: bold;
  color: white;
  transform: scaleX(1.06);
  padding-left: 5%;
  padding-right: 5%;
  border: none;
  box-shadow: 0px 15px 30px black;
  z-index: 100;
}

//-----------
//---pause
//-----------
#pause img {
  content: url(../images/pause.webp);
  height: 130px;
  width: 130px;
  top: -0px;
  left: calc(50% - 65px);
  opacity: 0.7;
}

//-----------
//---controls
//-----------

#controls {

  .scene-control,
  .control-tool,
  .scene-control:hover,
  .control-tool:hover {
    transition: all 250ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;

    background: url(../images/resizerRound.webp);
    background-size: 100% 100%;
    color: rgb(107, 107, 107);
    border: none;
    border-radius: 50% 50%;
    box-shadow: 0px 0px 15px rgb(0, 0, 0) inset;

    i.fa,
    i.fas {
      font-weight: 600;
      font-size: 16px;
    }

    i.fa::before,
    i.fas:before {
      position: relative;
      top: -2px;
    }
  }
}

#controls .scene-control.active,
#controls .control-tool.active,
#controls .scene-control:hover,
#controls .control-tool:hover {
  color: white;
  text-shadow: black 0px 0px 15px;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.678) inset;

  border: none;
}

//-----------
//---SIDEBAR
//-----------
#sidebar {
  color: white;
  background-image: url(../images/thunder.webp);
  z-index: 20;
  background-size: 80% 100%;
  padding-left: 80px;
  width: 380px;
  height: 100%;
  background-position-x: 80px;
  background-repeat: no-repeat;
  border: none;
  box-shadow: none;

  #sidebar-tabs {
    flex: 0 0 32px;
    box-sizing: border-box;
    margin: 0 0 5px;
    border-bottom: 1px solid #2c6d6d;
    box-shadow: 0 0 10px #227878;
  }

  #sidebar-tabs>.item.active {
    color: #fff;
    border: 1px solid #154949;
    border-bottom: none;
    box-shadow: 0 0 6px inset #154949;
  }

  .tabs .item.active {
    text-shadow: 0 0 10px #154949;
  }

  a:hover {
    text-shadow: 0 0 10px#001aff;
  }

  textarea#chat-message {
    color: black;
  }
}

div#sidebar::before {
  width: 80px;
  height: 120%;
  position: fixed;
  right: 155px;
  /* top: -50px; */
  background: url(../images/separatorSidebar.webp);
  content: "";
  margin-right: 150px;
  background-size: 80% 100%;
  background-position: 280% 50%;
  background-repeat: no-repeat;
  /* box-shadow: 20px 0px 100px #000000a6; */
  z-index: 200;
  opacity: 1;
  transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;


}

div#sidebar.collapsed::before {
  width: 0px;
  height: 0px;
  opacity: 0;
  z-index: -100;
  right: -210px;
  transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;

}

div#sidebar.collapsed {
  right: 0px;
  padding-left: 0px;
  background-position: center;
  background-size: 100% 100%;
}

//-----------
//---macros bar
//-----------
#hotbar {
  width: 630px;

  .bar-controls {
    flex: 0 0 55px;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 15px;
    padding-bottom: 15px;
    height: 120%;
    margin: 0 2px;
    text-align: center;
    background: url(../images/resizerRound.webp);
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    background-size: 100% 100%;
    background-position: center;
    border: none;
    box-shadow: none;
    border-radius: 40%;
    font-weight: bolder;

    a,
    a.page-control,
    span.page-number {
      transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;

      display: block;
      line-height: 5px;
      font-size: 20px;
    }

    a:hover {
      transform: scale(1.8);
    }
  }

  #action-bar {
    ol#macro-list {
      border: none;

      li.macro {
        position: relative;
        flex: 0 0 50px;
        height: 50px;
        background: url(../images/backg-page.webp);
        border-radius: 25%;
        box-shadow: 0 0 5px #000 inset;
        cursor: pointer;
        border-radius: 0% 0% 75%;
      }

      li.macro.active {
        border-radius: 10%;
      }

      li.macro:hover {
        box-shadow: 0 0 10px #004777 inset;
      }
    }
  }
}

#navigation {
  #nav-toggle {
    flex: 0 0 50px;
    height: 50px;
    background: url(../images/resizerRound.webp);
    background-size: 100% 100%;
    text-align: center;
    text-shadow: 0 0 10px rgb(219, 3, 3);
    border: none;
    color: white;
    padding-top: 10px;
    font-size: 30px;
  }

  div.cosm-card {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 600px;
    height: 400px;
    
    transform: scale(0.05) translateY(-0px);
    transform-origin: 0% 0%;
    opacity: 0;
    z-index: 1000;
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  }


  div.cosm-card:hover {
    top: 0%;
    left: 0%;
    width: 600px;
    height: 400px;
    transform: scale(0.7) translateY(-0px);
    transform-origin: 0% 0%;
    opacity: 1;
    z-index: 200;
  }


  .cosm-card.coreEarth {
    background: url(../images/cosm-cards/coreEarth.webp);
    background-size: 100% 100%;
  }

  .cosm-card.livingLand {
    background: url(../images/cosm-cards/livingLand.webp);
    background-size: 100% 100%;
  }

  .cosm-card.nileEmpire {
    background: url(../images/cosm-cards/nileEmpire.webp);
    background-size: 100% 100%;

  }

  .cosm-card.aysle {
    background: url(../images/cosm-cards/aysle.webp);
    background-size: 100% 100%;

  }

  .cosm-card.cyberpapacy {

    background: url(../images/cosm-cards/cyberpapacy.webp);
    background-size: 100% 100%;

  }

  .cosm-card.panPacifica {
    background: url(../images/cosm-cards/panPacifica.webp);
    background-size: 100% 100%;

  }

  .cosm-card.orrorsh {
    background: url(../images/cosm-cards/orrorsh.webp);
    background-size: 100% 100%;

  }

  .cosm-card.tharkold {
    background: url(../images/cosm-cards/tharkold.webp);
    background-size: 100% 100%;

  }

  a.scene-name {
    font-family: "Alaska";
    text-transform: uppercase;
    border: none;

    .cosm-icone {
      min-width: 28px;
      min-height: 28px;
      display: inline-block;
      position: relative
    }

    .cosm-icone.coreEarth {
      background: url(../images/cosm-icons/coreEarth.webp);
      background-size: 100% 100%;
    }

    .cosm-icone.livingLand {
      background: url(../images/cosm-icons/livingLand.webp);
      background-size: 100% 100%;
    }

    .cosm-icone.nileEmpire {
      background: url(../images/cosm-icons/nileEmpire.webp);
      background-size: 100% 100%;

    }

    .cosm-icone.aysle {
      background: url(../images/cosm-icons/aysle.webp);
      background-size: 100% 100%;

    }

    .cosm-icone.cyberpapacy {
      background: url(../images/cosm-icons/cyberpapacy.webp);
      background-size: 100% 100%;

    }

    .cosm-icone.tharkold {
      background: url(../images/cosm-icons/tharkold.webp);
      background-size: 100% 100%;

    }

    .cosm-icone.panPacifica {
      background: url(../images/cosm-icons/panPacifica.webp);
      background-size: 100% 100%;

    }

    .cosm-icone.orrorsh {
      background: url(../images/cosm-icons/orrorsh.webp);
      background-size: 100% 100%;

    }

  }


  #scene-list {
    .scene {
      text-align: justify;
      background: url(../images/scene.webp);
      background-size: 100% 100%;
      padding-left: 10px;
      padding-right: 10px;
      min-height: 40px;
      min-width: 70px;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: none;
      color: rgb(160, 160, 160);
      text-shadow: 0px 0px 3px black;
    }

    .scene.gm {
      background: url(../images/scene-gm.webp);
      background-size: 100% 100%;
      border: none;
      box-shadow: none;
    }

    .scene.active {
      background: url(../images/scene-active.webp);
      background-size: 100% 100%;
      border: none;
      box-shadow: none;
    }

    .scene.view {
      background: url(../images/scene-view.webp);
      background-size: 100% 100%;
      border: none;
      box-shadow: none;
    }
  }
}

.dialog-button {
  color: rgb(180, 180, 180);
}

//-----------
//---players
//-----------
#players-popout {
  div.app {
    top: 0%;
    width: 100%;
    z-index: auto;
    background-size: cover;
    line-height: 25px;
  }
}

#players {
  background-image: url(../images/thunder.webp);
  background-position: center;
  bottom: 0px;
  left: 0px;
  width: 200px;
  margin: 0;
  border: none;
  min-width: 200px;
  min-height: 20px;
  box-shadow: none;
  padding: 0% 0% 0% 0%;
  color: rgb(255, 255, 255);

  .players-popout {
    color: white;
    font-size: larger;
    position: relative;
    top: -25px;
    z-index: +1;
    left: 15px;
  }

  h3 {
    text-shadow: 0px 3px 10px #8181cc;
    padding: 4px;
    border: none;
    box-shadow: 0px 5px 15px rgba(255, 255, 255, 0.459);
    text-align: center;
    color: rgb(255, 255, 255);
    position: relative;

    .players-mode {
      color: rgb(255, 255, 255);
    }
  }

  ol {
    list-style: none;
    margin: 0 0 4px;
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-right: 25%;

    /* justify-items: flex-end; */
    li.player {
      line-height: 25px;
      padding: 1px 8px;
      justify-content: flex-end;
      display: flex;

      .player-active {
        flex: 0 0 15px;
        height: 15px;
        border: 1px solid #000;
        border-radius: 50%;
        margin: 5px 5px 0 0;
        background-size: cover;
      }

      .player-name {
        text-shadow: 0px 3px 10px #8181cc;
        color: white;
      }

      .player-name.self {
        text-decoration: underline;
        color: rgb(246, 246, 246);
      }
    }
  }
}

#players::after {
  background: url(../images/separatorRound.webp);
  width: 230px;
  height: 35px;
  content: "";
}

#player-config {
  label {
    color: lightblue;
    font-weight: normal;
    font-size: 12px;
  }
}

//----------ALL UI transition

#controls,
#logo,
#navigation,
#sidebar,
#hotbar,
#players {
  position: fixed;
  -webkit-transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  -moz-transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  -o-transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
}

//----------
//---COMBAT
//----------

#combat {
  .combatant-init {
    color: white;
  }

  ol {
    li.combatant {
      border-left: 5px solid black;
    }

    li.combatant.dispo1 {
      background-color: rgba(15, 47, 189, 0.212);
    }

    li.combatant.dispo-1 {
      background-color: rgba(143, 1, 1, 0.28);
    }

    li.combatant.dispo0 {
      background-color: rgba(141, 143, 1, 0.28);
    }

    li.combatant.active {
      border-left: 5px solid rgb(255, 255, 255);
      box-shadow: 0px -10px 40px rgba(255, 255, 255, 0.5) inset;
    }

    a.has-played {
      color: rgba(128, 128, 128, 0.739);
      text-shadow: 0px 0px 6px black;
      max-width: 5%;
    }

    a.has-played.playedOK {
      color: rgb(160, 189, 142);
      text-shadow: 0px 0px 6px rgb(255, 255, 255);
    }

    a.init-up,
    a.init-down {
      max-width: 5%;
    }

    a.init-up:hover,
    a.init-down:hover {
      text-shadow: 0px 0px 5px #c8cf00;
      color: rgb(248, 248, 60);
    }
  }
}

//----------
//---Party-sheet
//----------

#party-sheet {

  h1,
  h2,
  h3,
  h4 {
    text-align: center;
  }

  h2 {
    border-bottom: 2px solid #419c9c;
  }

  h3 {
    border-bottom: 2px solid #215050;
  }

  h4 {
    text-decoration: underline;
  }

  .flexrow {
    margin: 4px;

    div {
      border: 1px solid rgba(128, 128, 128, 0.301);
      padding: 2px;
      box-shadow: 0px 0px 0px rgba(87, 87, 87, 0.301) inset;
      transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;

      div:hover {
        box-shadow: 0px 0px 35px rgb(90, 90, 90) inset;
      }
    }
  }
}



div.readme {
  a.compendium {
    text-decoration: underline;
    color: #419c9c
  }
}