//--------style global
body {
    font-family: Berlin;

    ::-webkit-scrollbar-thumb {
        outline: none;
        border-radius: 3px;
        background: #227878;
        border: 1px solid #efedeb;
    }
}

button:hover,
button:focus {

    box-shadow: 0 0 10px #3bb3b3;
}

a:hover {
    text-shadow: 0 0 10px#3bb3b3;

}

.app,
.window-app {

    border-radius: 5px;
    box-shadow: 0 0 15px #122529;
    padding-bottom: 0.5em;

    color: rgb(112, 112, 112);
    z-index: 30;

    input[type="text"]::placeholder,
    input[type="number"]::placeholder {
        color: rgba(0, 0, 0, 0.472);
        text-shadow: 0px 0px 10px black;
    }

    option {
        background: grey;
    }

    optgroup {

        background: rgb(68, 66, 66);
    }

    textarea {
        color: white;
    }

    div.form-group {
        margin: 10px;
        padding-bottom: 5px;
        border-bottom: 2px solid black;

    }

}

.window-app .window-resizable-handle {
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: -10px;
    right: -10px;
    background: url(../images/resizerRound.png);
    background-size: 115% 115%;
    background-position: center;
    padding: 2px;
    border: none;
    border-radius: 50%;
    box-shadow: 0px 0px 5px blue;
    transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;


    i.fas {
        transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;

        transform: rotate(45deg);
        top: 25%;
        left: 25%;
        position: absolute;
        color: rgba(255, 255, 255, 0);
        text-shadow: 0px 0px 30px rgba(255, 255, 255, 0);
    }

    ;

    i.fas:hover {
        transform: rotate(45deg) scaleX(1.6);
        color: #ffffff;
        -webkit-text-fill-color: white;
        /* Will override color (regardless of order) */
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
    }
}

.window-app .window-resizable-handle:active {

    box-shadow: 0px 0px 30px blue;


}

.window-app .window-header {
    background: url(../images/tab-header.png);
    background-size: 100% 100%;
    font-family: Alaska;
    font-weight: bold;
    color: white;
    transform: scaleX(1.06);
    padding-left: 5%;
    padding-right: 5%;
    border: none;
    box-shadow: 0px 15px 30px black;
    z-index: 100;

}


//---------bouttons scene control

#controls .scene-control,
#controls .control-tool,
#controls .scene-control,
#controls .control-tool {
    border: 1px solid black;
    color: grey;
    box-shadow: none;

}


#controls .scene-control,
#controls .control-tool,
#controls .scene-control:hover,
#controls .control-tool:hover {
    background: url(../images/tab-header.png);
    background-size: 100% 20%;
    color: rgb(160, 159, 159);
    border: none;


    .fa,
    .fas {
        font-weight: 600;
        font-size: 16px;
    }

}

#controls .scene-control.active,
#controls .control-tool.active,
#controls .scene-control:hover,
#controls .control-tool:hover {
    color: white;
    text-shadow: black 0px 0px 15px;
    box-shadow: 0px 0px 3px white;
    border: none;
    background: #5772a1;
}





//------------SIDEBAR
#sidebar {
    color: white;
    background-image: url(../images/thunder.png);
    background-size: 80% 100%;
    padding-left: 80px;
    width: 380px;
    background-position-x: 80px;
    background-repeat: no-repeat;
    border: none;
    box-shadow: none;


    #sidebar-tabs {
        flex: 0 0 32px;
        box-sizing: border-box;
        margin: 0 0 5px;
        border-bottom: 1px solid #2c6d6d;
        box-shadow: 0 0 10px #227878;
    }

    #sidebar-tabs>.item.active {
        color: #FFF;
        border: 1px solid #154949;
        border-bottom: none;
        box-shadow: 0 0 6px inset #154949;
    }

    .tabs .item.active {
        text-shadow: 0 0 10px #154949;
    }

    a:hover {
        text-shadow: 0 0 10px#001aff;
    }

}

div#sidebar::before {
    width: 80px;
    height: 120%;
    position: absolute;
    left: 0px;
    /* top: -50px; */
    background: url(../images/separatorSidebar.png);
    content: "";
    margin-right: 150px;
    background-size: 80% 100%;
    background-position: 280% 50%;
    background-repeat: no-repeat;
    box-shadow: 10px 0px 60px #246270a6;
}

div#sidebar.collapsed::before {
    width: 0px;
    content: unset;
}

div#sidebar.collapsed {
    right: 0px;
    padding-left: 0px;
    background-position: center;
    background-size: 100% 100%;

}


.dialog-button {
    color: rgb(180, 180, 180);
}

#controls,
#logo,
#navigation,
#sidebar,
#hotbar,
#players {
    -webkit-transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
    -moz-transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
    -o-transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
    transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
}