.window-app .window-content {
    div.form-group {
        input {
            color: white
        }
    }

    input[type="text"],
    input[type="number"],
    input[type="password"],
    input[type="date"],
    input[type="time"] .editor {
        background-color: rgba(255, 255, 255, 0.39);
    };
    input::placeholder{
        background-color: rgba(0, 0, 0, 0);
    }
    

    font-family: Berlin;

    background-image: url(../images/thunder.png);
    background-size: cover;
    color: rgb(255, 255, 255);

    .rollable {

        &:hover,
        &:focus {
            color: #000;
            text-shadow: 0 0 10px white;
            cursor: pointer;
        }
    }

    form {

        .notes,
        .hint {
            color: rgb(177, 175, 175);
        }

        button,
        select {
            color: grey;

            option {
                color: white
            }
        }

        button:hover {
            box-shadow: 0px 0px 5px rgb(73, 112, 250);
        }

    }
textarea{
    background-color: rgba(90, 157, 163, 0.493);
}
textarea:focus,
textarea:hover{
    background-color: rgba(90, 157, 163, 0.65);
    outline: 1px solid #222378;
    box-shadow: 0 0 10px #008cff7a;
}

}

#module-management {
    color: white;

    input {
        color: lightgray
    }

    .package-list {
        .package-title {
            color: rgb(198, 226, 250);

        }
    }
}