<div>
  <fieldset>
    <legend>Status Effects</legend>
    This is a message.
  </fieldset>
  <table>
    <tr>
      <td>
        <fieldset>
          <legend>Darkness</legend>
          <input type="radio" id="none" name="darkness" value="0" checked />
          <label for="None">None</label><br />
          <input type="radio" id="dim" name="darkness" value="-2" />
          <label for="dim">Dim (-2)</label><br />
          <input type="radio" id="dark" name="darkness" value="-4" />
          <label for="dark">Dark (-4)</label>
          <br />
          <input type="radio" id="pitchBlack" name="darkness" value="-6" />
          <label for="pitchBlack">Pitch Black (-6)</label>
        </fieldset>
      </td>
      <td>
        <fieldset>
          <legend>Difficulty</legend>
          <label for="dn">DN: </label>
          <input type="number" id="dn" name="dn" value="10" style="width:3em" />
        </fieldset>
        <fieldset>
          <legend>Movement</legend>
          <input type="radio" id="walking" name="movement" value="0" checked />
          <label for="walking">Walking</label><br />
          <input type="radio" id="running" name="movement" value="-2" />
          <label for="running">Running (-2)</label>
        </fieldset>
      </td>
    </tr>
  </table>
</div>