<div>
    <form>
        <div>
            {{#if test.isActiveDefenseRoll}}{{else}}
                {{> "systems/torgeternity/templates/testDialogs/difficulty-selector.hbs"}}
            {{/if}}
            {{> "systems/torgeternity/templates/testDialogs/bonus-selector.hbs"}}   
        </div>
        <div>
            {{> "systems/torgeternity/templates/testDialogs/movement-penalty-selector.hbs"}}
        </div>
        <div>
            {{> "systems/torgeternity/templates/testDialogs/multi-action-selector.hbs"}}
        </div>
        <div>
            {{> "systems/torgeternity/templates/testDialogs/multi-target-selector.hbs"}}
        </div>
        <div>
            {{> "systems/torgeternity/templates/testDialogs/modifiers-table.hbs"}}
        </div>
        {{#if test.hasModifiers}}
        <div>
            {{> "systems/torgeternity/templates/testDialogs/fixed-modifiers.hbs"}}
        </div>
        {{/if}}
    </form>
    <button class="skill-update-button"><i class="fas fa-redo"></i>{{localize "torgeternity.sheetLabels.update"}}</button>
</div>