<h1>Welcome to the Torg Eternity System for Foundry VTT</h1>
<div class="form-group">
  <a href="https://ulisses-us.com/"><img src="systems/torgeternity/images/ulissesLogo.webp" alt="logo ulisses" />
  </a>
  <p>
    This system is developed by VTT Southwest, LLC under license from Ulisses Medien und Spiel Distributions GmbH.
  </p>
  <p>
    Thank you for downloading and playing Torg Eternity on Foundry. If you need help with the system, please visit our
    Discord channel on the Foundry server.
  </p>
  <h3>
    A Note on Card Play
  </h3>
  <p>
    This system includes all of the cards from the Core Drama Deck. It also integrates the Drama Deck with the combat
    tracker. The built-in cards system is fairly intuitive, but if you need help, you can ask any/all questions about it
    on the #torg-eternity channel in the Foundry server.
  </p>
  <h2>
    Acknowledgements
  </h2>
  <p>
    Many thanks to @rwanoux for his amazing work on this project. This system would not look as fantastic as it does
    without his contributions. The project would also not have realized its potential without the Torg Eternity
    community on Foundry. There are too many people to mention individually, but I especially want to give a shout-out
    to @Manuel, @Orome, @Paul Emerson, @Markus Raab, and @ForjaSalvaje for their contributions, input, and
    encouragement. -GM Matt (December 2021)
  </p>
  <p>
    On additional acknowledgements I like to thank Helmut, BadIdeasBureau and Durak for their contributions, and Matt
    for being the first Chief o.D. - Algor
  </p>
</div>