

<h1>Welcome to the Torg Eternity System for Foundry VTT</h1>
<div class="form-group">
    <p>
        This system is developed by VTT Southwest, LLC under license from <a href="https://ulisses-us.com/"><img
                src="systems/torgeternity/images/ulissesLogo.webp" alt="logo ulisses"></a>
    </p>
    <p>
        Thank you for downloading and playing Torg Eternity on Foundry. If you need help with the system, please visit our Discord channel on the Foundry server. 
    </p>
    <h3>
        Installing the Drama Deck
    </h3>
    <p>
        This system includes the core Drama Deck. To install the deck, just follow the prompts when you first load a new world.
    </p>
    <h3>
        Tutorial
    </h3>
    <p>
        For a quick introduction to the system, here is a great video from one of our community members:
    </p>
    <iframe width="280" height="157" src="https://www.youtube.com/embed/4AaInHj0sIw" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    <h2>
        Acknowledgements
    </h2>
    <p>
        Many thanks to @rwanoux for his amazing work on this project. This system would not look as fantastic as it does without his contributions. The project would also not have realized its potential without the Torg Eternity community on Foundry. There are too many people to mention individually, but I especially want to give a shout-out to @Manuel, @Orome, @Paul Emerson, @Markus Raab, and @ForjaSalvaje for their contributions, input, and encouragement. -GM Matt (May 2021) 
    </p>
</div>