{{#if ammunition.length}}
<fieldset class="ammofield">
    <legend>{{localize "torgeternity.gear.ammunition"}}</legend>
    <ul>
        {{#each ammunition}}
        <li>
            <p>{{name}}</p>
            <a data-tooltip="{{localize "torgeternity.iconeTitles.reload"}}"><i class="fa-solid fa-bullseye"></i></a>
            <a data-tooltip="{{localize "torgeternity.iconeTitles.delete"}}"><i class="fa-solid fa-trash"></i></a>
        </li>
        {{/each}}
    </ul>
</fieldset>
{{/if}}