{{#if ammunition.length}}
<fieldset class="ammofield"> <!--TODO: Localize the whole thing-->
    <legend>Ammunition</legend>
    <ul>
        {{#each ammunition}}
        <li>
            <p>{{name}}</p>
            <a><i class="fa-solid fa-bullseye"></i></a>
            <a><i class="fa-solid fa-trash"></i></a>
        </li>
        {{/each}}
    </ul>
</fieldset>
{{/if}}