<form class="{{cssClass}} item-sheet" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Firearm Name" style="background-color:white;border-radius:10px;width:300px;font-family:'Palatino Linotype"/></h1>
        <h1 style="font-size:40px;text-align:right;font-family:'Palatino Linotype'">{{localize "torgeternity.itemSheetDescriptions.armor"}}</h1>
    </header>
    <div class="sheet-content">
        <table style="background-color:transparent;border: 0px solid black">
        <tr>
            <td style="width:25%;vertical-align:top"> <!-- left column -->
                <p class="item-data-label">
                    {{localize "torgeternity.gear.cosm"}}
                </p>
                <select name="data.cosm" class="input-box">
                    {{#select data.cosm}}
                    {{#each config.cosmTypes as |name type|}}
                    <option value="{{localize name}}">{{localize name}}</option>
                    {{/each}}
                    {{/select}}
                </select>
                <p class="item-data-label">
                    {{localize "torgeternity.gear.techlevel"}}
                </p>
                <input name="data.techlevel" type="text" value="{{data.techlevel}}" class="input-box" />
                <p class="item-data-label">
                    {{localize "torgeternity.gear.price"}}/{{torgeternity.gear.value}}
                </p>
                <input name="data.price" type="text" value="{{data.price}}" class="input-box-small" />
                <input name="data.value" type="text" value="{{data.value}}" class="input-box-small" />
                <p class="item-data-label">
                    {{localize "torgeternity.gear.bonus"}}
                </p>
                <input name="data.bonus" type="text" value="{{data.bonus}}" class="input-box" />
                <p class="item-data-label">
                    {{localize "torgeternity.gear.maxDex"}}
                </p>
                <input name="data.maxDex" type="text" value="{{data.maxDex}}" class="input-box" />
                <p class="item-data-label">
                    {{localize "torgeternity.gear.notes"}}
                </p>
                <input name="data.notes" type="text" value="{{data.notes}}" class="input-box" />
            </td>
            <td style="width:65%"> <!-- right column -->
                <div style="padding:10px 10px">
                    <textarea name="data.description" class="item-description-textarea">{{data.description}}</textarea>
                </div>
            </td> 
        </tr>
        </table>         
    </div>
</form>
