{{log this}}
<form>
    <header class="sheet-header">
        <h1><input name="item.name" type="text" value="{{item.name}}" placeholder="card name" /></h1>
    </header>
    <div><input name="data.label" type="text" value="{{data.label}}" placeholder="card label" /></div>

    <div class="actionCard">
        <img src="{{item.img}}" style="width:528px; height:342px" data-edit="img" title="{{item.name}}" />
    </div>
    <div>
        {{> "systems/torgeternity/templates/parts/active-effects.hbs"}}
    </div>
</form>