<section class="tab stats {{tab.cssClass}}" data-group="primary" data-tab="stats">
  <div class="sheet-content">
    <div class="asside">
      <p class="item-data-label">{{localize "torgeternity.sheetLabels.skillAdds"}}</p>
      <input name="system.adds" type="number" value="{{item.system.adds}}" class="input-box" />

      <p class="item-data-label">{{localize "torgeternity.sheetLabels.skillValue"}}</p>
      <input
        name="system.value"
        type="number"
        value="{{item.system.value}}"
        class="input-box" />

      <p class="item-data-label">{{localize "torgeternity.sheetLabels.baseAttribute"}}</p>
      <select name="system.baseAttribute" class="input-box">
        {{selectOptions config.attributeTypes selected=item.system.baseAttribute localize=true sort=true}}
      </select>

      <p class="item-data-label">{{localize "torgeternity.sheetLabels.favored"}}</p>
      <input
        type="checkbox"
        name="system.isFav"
        {{checked
        item.system.isFav}}
        data-tooltip="{{localize 'torgeternity.skillDialogs.favoredChoice'}}" />
    </div>
    <div class="main-content">
      <div name="system.description" class="item-description-textarea">
        <prose-mirror toggled name="system.description" {{disabled (not editable)}}
          value="{{ item`.system.description }}">{{{ description }}}</prose-mirror>
      </div>
    </div>
  </div>
</section>