<form class="{{cssClass}} item-sheet" autocomplete="off" height=400>
    <h3 class="item-type"><span>{{localize "torgeternity.itemSheetDescriptions.enhancement"}}</span></h3>

    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64" />
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Enhancement Name" /></h1>
    </header>
    <div class="sheet-content">
        <div class="asside">
            <p class="item-data-label">
                {{localize "torgeternity.enhancements.perk"}}
            </p>
            <input name="data.perk" type="text" value="{{data.perk}}" class="input-box" />
        </div>
        <div class="main-content">
            <!-- right column -->
            <div class="item-description-textarea">
                {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
            </div>
        </div>
    </div>
</form>