<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </header>
    <div class="sheet-content">
        <div style="padding-top:15px">
            <p>
                {{localize "torgeternity.gear.cosm"}}: <input name="data.cosm" type="text" value="{{data.cosm}}" style="width:100px" />
            </p>
            <p>
                {{localize "torgeternity.gear.possibilities"}}: <input name="data.possibilities" type="text" value="{{data.possibilities}}" style="width:25px" />
            </p>
            <p>
                {{localize "torgeternity.gear.tappingDifficulty"}}: <input name="data.tappingDifficulty" type="text" value="{{data.tappingDifficulty}}" style="width:75px" />
            </p>
            <p>
                {{localize "torgeternity.gear.purpose"}}: 
                <div style="height:75px;border:1px solid black">
                    {{editor content=data.purpose target="data.purpose" button=true owner=owner editable=editable}}
                </div>
            </p>
            <p>
                {{localize "torgeternity.gear.description"}}: 
                <div style="height:125px;border:1px solid black">
                    {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
                </div>
                
            </p>
            <p>
                {{localize "torgeternity.gear.powers"}}:
                <div style="height:75px;border:1px solid black">
                    {{editor content=data.powers target="data.powers" button=true owner=owner editable=editable}}
                </div>

            </p>
            <p>
                {{localize "torgeternity.gear.restrictions"}}: 
                <div style="height:75px;border:1px solid black">
                    {{editor content=data.restrictions target="data.restrictions" button=true owner=owner editable=editable}}
                </div>
            </p>
    </div>
</form>
