<form class="{{cssClass}} item-sheet" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </header>
    <div class="sheet-content">
        <div style="padding-top:15px">
            {{localize "torgeternity.gear.cosm"}}: <input name="data.cosm" type="text" value="{{data.cosm}}" style="width:75px" />
            {{localize "torgeternity.gear.notes"}}: <input name="data.notes" type="text" value="{{data.notes}}" style="width:350px"/>
        </div>        
        <table>
            <tr>
                <th>{{localize "torgeternity.gear.damage"}}</th>
                <th>{{localize "torgeternity.gear.ammo"}}</th>
                <th>{{localize "torgeternity.gear.techlevel"}} </th>
                <th>{{localize "torgeternity.gear.range"}}</th>
                <th>{{localize "torgeternity.gear.price"}}</th>
                <th>{{localize "torgeternity.gear.value"}}</th>
            </tr>
            <tr>
                <th>
                    <input name="data.damage" type="text" value="{{data.damage}}" data-dtype="Number" />
                </th>
                <th>
                    <input name="data.ammo" type="text" value="{{data.ammo}}" />
                </th>
                <th>
                    <input name="data.techlevel" type="text" value="{{data.techlevel}}" data-dtype="Number" />
                </th>
                <th>
                    <input name="data.range" type="text" value="{{data.range}}" />
                </th>
                <th>
                    <input name="data.price" type="text" value="{{data.price}}" data-dtype="Number" />
                </th>
                <th>
                    <input name="data.value" type="text" value="{{data.value}}" data-dtype="Number" />
                </th>
            </tr>
        </table>
        {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
    </div>
</form>
