<form class="{{cssClass}} item-sheet" autocomplete="off">
    <h3 class="item-type"><span>{{localize "torgeternity.itemSheetDescriptions.generalGear"}}</span></h3>

    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="gear name" /></h1>
    </header>

    <nav class="sheet-tabs item-tabs tabs" data-group="primary">
        <a class="item" data-tab="stats" >{{localize "torgeternity.sheetLabels.stats"}}</a>
        <a class="item" data-tab="effects">{{localize "torgeternity.sheetLabels.effects"}}</a>
    </nav>

    <section class="sheet-body"  >

        <div class="tab stats" data-group="primary" data-tab="stats">

            <div class="sheet-content">
                <div class="asside">
                    <p class="item-data-label">
                            {{localize "torgeternity.gear.cosm"}}
                        </p>
                        <select name="data.cosm" class="input-box">
                            {{#select data.cosm}}
                            {{#each config.cosmTypes as |name type|}}
                            <option value="{{localize name}}">{{localize name}}</option>
                            {{/each}}
                            {{/select}}
                        </select>
                        <p class="item-data-label">
                            {{localize "torgeternity.gear.techlevel"}}
                        </p>
                        <input name="data.techlevel" type="number" value="{{data.techlevel}}" class="input-box" />
                        <p class="item-data-label">
                            {{localize "torgeternity.gear.price"}}/{{localize "torgeternity.gear.value"}}
                        </p>
                        <input name="data.price" type="text" value="{{data.price}}" class="input-box-small" />
                        <input name="data.value" type="number" value="{{data.value}}" class="input-box-small" />
                    </div>
                    <div class="main-content">
                        <div class="item-description-textarea" >
                            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
                        </div>
                    </div> 
            </div>
        </div>
        <div class="tab effects" data-group="primary" data-tab="effects">
            {{> "systems/torgeternity/templates/parts/active-effects.hbs"}}
        </div>
    
    </section>        

</form>
