<form class="{{cssClass}} item-sheet" autocomplete="off" height="400">
  <h3 class="item-type"><span>{{localize "torgeternity.itemSheetDescriptions.heavyWeapon"}}</span></h3>

  <header class="sheet-header">
    <img src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <h1><input name="name" type="text" value="{{item.name}}" placeholder="heavy weapon Name" /></h1>
  </header>

  <nav class="sheet-tabs item-tabs tabs" data-group="primary">
    <a class="item" data-tab="stats" style="vertical-align: center">{{localize "torgeternity.sheetLabels.stats"}}</a>
    <a class="item" data-tab="effects">{{localize "torgeternity.sheetLabels.effects"}}</a>
  </nav>

  <section class="sheet-body" style="display: flex; flex-direction: column">
    <div class="tab stats" data-group="primary" data-tab="stats">
      <div class="sheet-content">
        <div class="asside">
          <p class="item-data-label">{{localize "torgeternity.gear.cosm"}}</p>
          <select name="system.cosm" class="input-box">
            {{#select item.system.cosm}} {{#each config.cosmTypes as |name type|}}
            <option value="{{localize name}}">{{localize name}}</option>
            {{/each}} {{/select}}
          </select>
          <p class="item-data-label">{{localize "torgeternity.gear.techlevel"}}</p>
          <input name="system.techlevel" type="number" value="{{item.system.techlevel}}" class="input-box-small" />
          <p class="item-data-label">{{localize "torgeternity.gear.ammo"}}</p>
          <input name="system.ammo.value" type="number" value="{{item.system.ammo.value}}" class="input-box-small" />/
          <input name="system.ammo.max" type="number" value="{{item.system.ammo.max}}" class="input-box-small" />
          <p class="item-data-label">{{localize "torgeternity.gear.price"}}/{{localize "torgeternity.gear.value"}}</p>
          <input name="system.price" type="text" value="{{item.system.price}}" class="input-box-small" />
          <input name="system.value" type="number" value="{{item.system.value}}" class="input-box-small" />
          <p class="item-data-label">{{localize "torgeternity.gear.range"}}</p>
          <input name="system.range" type="text" value="{{item.system.range}}" class="input-box" />
          <p class="item-data-label">{{localize "torgeternity.gear.damage"}}</p>
          <input name="system.damage" type="number" value="{{item.system.damage}}" class="input-box" />
          <p class="item-data-label">{{localize "torgeternity.gear.ap"}}</p>
          <input name="system.ap" type="number" value="{{item.system.ap}}" class="input-box" />
        </div>
        <div class="main-content">
          <!-- right column -->
          <p class="item-data-label">
            {{localize "torgeternity.gear.notes"}}&nbsp;
            <input name="system.notes" type="text" value="{{item.system.notes}}" class="input-box" />
          </p>
          <p class="item-data-label">
            {{localize "torgeternity.gear.chatNote"}}
            <input name="system.chatNote" type="text" value="{{item.system.chatNote}}" class="input-box" />
          </p>
          <p class="item-data-label">{{localize "torgeternity.gear.description"}}</p>
          <div class="item-description-textarea" style="padding: 0px 0px 0px 10px">
            {{editor description target="system.description" button=true editable=editable}}
          </div>
        </div>
        <div class="heavy-weapon-footer">
          <p class="heavy-weapon-gunners">
            {{localize "torgeternity.gear.gunner"}}
            <input name="system.gunner.name" type="text" value="{{item.system.gunner.name}}" class="gunner-input" />
            {{localize "torgeternity.gear.skill"}}
            <input
              name="system.gunner.skillValue"
              type="number"
              value="{{item.system.gunner.skillValue}}"
              class="gunner-skill"
            />
          </p>
        </div>
      </div>
    </div>
    <div class="tab effects" data-group="primary" data-tab="effects">
      {{> "systems/torgeternity/templates/parts/active-effects.hbs"}}
    </div>
  </section>
</form>
