<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </header>
    <div class="sheet-content">
        <div style="padding-top:15px">
            <p>
                {{localize "torgeternity.powers.axiom"}}: <input name="data.axiom" type="text" value="{{data.axiom}}" style="width:25px" />
            </p>
            <p>
                {{localize "torgeternity.powers.skill"}}: <input name="data.skill" type="text" value="{{data.skill}}" style="width:80px" />
            </p>
            <p>
                {{localize "torgeternity.powers.castingtime"}}: <input name="data.castingtime" type="text" value="{{data.castingtime}}" style="width:100px" />
            </p>
            <p>
                {{localize "torgeternity.powers.dn"}}: <input name="data.dn" type="text" value="{{data.dn}}" style="width:100px" />
            </p>
            <p>
                {{localize "torgeternity.powers.range"}}: <input name="data.range" type="text" value="{{data.range}}" style="width:100px" />
            </p>
            <p>
                {{localize "torgeternity.powers.duration"}}: <input name="data.duration" type="text" value="{{data.duration}}" style="width:100px" />
            </p>
            <p>
                {{localize "torgeternity.powers.description"}}: 
                <div style="height:200px;border:1px solid black">
                    {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
                </div>
            </p>
            <p>
                {{localize "torgeternity.powers.good"}}: 
                <div style="height:75px;border:1px solid black">
                    {{editor content=data.good target="data.good" button=true owner=owner editable=editable}}
                </div>
            </p>
            <p>
                {{localize "torgeternity.powers.outstanding"}}: 
                <div style="height:75px;border:1px solid black">
                    {{editor content=data.outstanding target="data.outstanding" button=true owner=owner editable=editable}}
                </div>
            </p>    </div>
</form>
