<form class="{{cssClass}} item-sheet" autocomplete="off">
    <h3 class="item-type"><span>{{localize "torgeternity.itemSheetDescriptions.miracle"}}</span></h3>
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Miracle Name" /></h1>
    </header>

    <nav class="sheet-tabs item-tabs tabs" data-group="primary">
        <a class="item" data-tab="stats" >{{localize "torgeternity.sheetLabels.stats"}}</a>
        <a class="item" data-tab="effects">{{localize "torgeternity.sheetLabels.effects"}}</a>
    </nav>

    <secton class="sheet-body"  >

        <div class="tab stats" data-group="primary" data-tab="stats">

            <div class="sheet-content">
                <div class="asside">
                    <p class="item-data-label">
                            {{localize "torgeternity.powers.axiom"}}
                        </p>
                        <input name="data.axiom" type="text" value="{{data.axiom}}" class="input-box" />
                        <p class="item-data-label">
                            {{localize "torgeternity.powers.skill"}}
                        </p>
                        <select name="data.skill" class="input-box" default="faith">
                            {{#select data.skill}}
                            {{#each config.powerSkills as |name type|}}
                            <option value="{{type}}">{{localize name}}</option>
                            {{/each}}
                            {{/select}}
                        </select>
                        <p class="item-data-label">
                            {{localize "torgeternity.powers.skilllevel"}}
                        </p>
                        <input name="data.skilllevel" type="text" value="{{data.skilllevel}}" class="input-box" />
                        <p class="item-data-label">
                            {{localize "torgeternity.powers.castingtime"}}
                        </p>
                        <input name="data.castingtime" type="text" value="{{data.castingtime}}" class="input-box" />
                        <p class="item-data-label">
                            {{localize "torgeternity.powers.dn"}}
                        </p>
                        <input name="data.dn" type="text" value="{{data.dn}}" class="input-box" />
                        <p class="item-data-label">
                            {{localize "torgeternity.powers.range"}}
                        </p>
                        <input name="data.range" type="text" value="{{data.range}}" class="input-box" />
                        <p class="item-data-label">
                            {{localize "torgeternity.powers.duration"}}
                        </p>
                        <input name="data.duration" type="text" value="{{data.duration}}" class="input-box" />
                        <p class="item-data-label">
                            Attack?/{{localize "torgeternity.powers.damage"}}
                        </p>
                        <select name="data.isAttack" class="input-box-small" default="false">
                            {{#select data.isAttack}}
                            {{#each config.yesNo as |name type|}}
                            <option value="{{type}}">{{localize name}}</option>
                            {{/each}}
                            {{/select}}
                        </select>
                        <input name="data.damage" type="text" value="{{data.damage}}" class="input-box-small" />
                    </div>
                    <div class="main-content">
                        <p class="item-data-label">
                            {{localize "torgeternity.gear.description"}}
                        </p>
                        <div class="item-description-textarea" >
                            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
                        </div>
                        <p class="item-data-label">
                            {{localize "torgeternity.sheetLabels.goodResult"}}
                        </p>
                        <div >
                            <textarea name="data.good" class="item-description-textarea" >{{data.good}}</textarea>
                        </div>
                        <p class="item-data-label">
                            {{localize "torgeternity.sheetLabels.outstandingResult"}}
                        </p>
                        <div >
                            <textarea name="data.outstanding" class="item-description-textarea" >{{data.outstanding}}</textarea>
                        </div>
                    </div> 
                       
            </div>
        </div>
        <div class="tab effects" data-group="primary" data-tab="effects">
            {{> "systems/torgeternity/templates/parts/active-effects.hbs"}}
        </div>
    
    </secton>        
</form>
