<form class="{{cssClass}}" autocomplete="off" height=400>
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Perk Name" style="background-color:white;border-radius:10px;width:320px;font-family:'Palatino Linotype"/></h1>
        <h1 style="font-size:46px;text-align:right;font-family:'Palatino Linotype'">Perk</h1>
    </header>
    <div class="sheet-content">
        <table style="background-color:transparent;border: 0px solid black">
        <tr>
            <td style="width:25%;vertical-align:top"> <!-- left column -->
                <p class="item-data-label">
                    {{localize "torgeternity.perks.category"}}
                </p>                
                <input name="data.category" type="text" value="{{data.category}}" class="input-box" />
                <p class="item-data-label">
                    {{localize "torgeternity.perks.cosm"}}
                </p>
                <input name="data.cosm" type="text" value="{{data.cosm}}" class="input-box" />
                <p class="item-data-label">
                    {{localize "torgeternity.perks.prerequisites"}}
                </p>
                <input name="data.prerequisites" type="text" value="{{data.prerequisites}}" class="input-box" />
                <p class="item-data-label">
                    {{localize "torgeternity.perks.timestaken"}}
                </p>
                <input name="data.timestaken" type="text" value="{{data.timestaken}}" class="input-box" />
            </td>
            <td style="width:65%"> <!-- right column -->
                <div style="padding:10px 10px">
                    <textarea name="data.description" class="item-description-textarea">{{data.description}}</textarea>
                </div>
            </td> 
        </tr>
        </table>         
    </div>
</form>
