<form class="{{cssClass}} item-sheet" autocomplete="off" height=400>
    <h3 class="item-type"><span>{{localize "torgeternity.itemSheetDescriptions.perk"}}</span></h3>

    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}"  />
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Perk Name"
                 /></h1>
    </header>

    <nav class="sheet-tabs item-tabs tabs" data-group="primary" style="right:-210px;top:210px">
        <a class="item" data-tab="stats" >{{localize "torgeternity.sheetLabels.stats"}}</a>
        <a class="item" data-tab="enhancements" style="font-size:10px">{{localize "torgeternity.sheetLabels.enhancements"}}</a>
        <a class="item" data-tab="limitations">{{localize "torgeternity.sheetLabels.limitations"}}</a>
        <a class="item" data-tab="effects">{{localize "torgeternity.sheetLabels.effects"}}</a>
    </nav>

    <section class="sheet-body" >

        <div class="tab stats" data-group="primary" data-tab="stats">

            <div class="sheet-content">
                <div class="asside">
                    <p class="item-data-label">
                        {{localize "torgeternity.perks.category"}}
                    </p>
                    <select name="data.category" class="input-box">
                        {{#select data.data.category}}
                        {{#each config.perkTypes as |name type|}}
                        <option value="{{localize name}}">{{localize name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                    <p class="item-data-label">
                        {{localize "torgeternity.perks.cosm"}}
                    </p>
                    <select name="data.cosm" class="input-box">
                        {{#select data.data.cosm}}
                        {{#each config.cosmTypes as |name type|}}
                        <option value="{{localize name}}">{{localize name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>

                    <p class="item-data-label">
                        {{localize "torgeternity.perks.prerequisites"}}
                    </p>
                    <input name="data.prerequisites" type="text" value="{{data.data.prerequisites}}" class="input-box" />
                    <p class="item-data-label">
                        {{localize "torgeternity.perks.timestaken"}}
                    </p>
                    <input name="data.timestaken" type="number" value="{{data.data.timestaken}}" class="input-box" />
                </div>
                <div class="main-content">
                    <div name="data.description" class="item-description-textarea">
                        {{editor content=data.data.description target="data.description" button=true owner=owner editable=editable}}
                    </div>
                </div>

            </div>
        </div>

        <div class="tab enhancements" data-group="primary" data-tab="enhancements">

            <div class="list-section-heading">
                {{localize "torgeternity.sheetLabels.enhancements"}}
            </div>
            <div class="available-enhancement">
                {{localize "torgeternity.sheetLabels.availableEnhancements"}}:
                <input name="data.pulpPowers.enhancementNumber" type="number" value="{{data.data.pulpPowers.enhancementNumber}}" class="available-enhancement-input" title="Number of enhancements available for this perk" />
            </div>
            <ol class="item-list">
                <li class="item-block">
                    <div class="item-row flexrow">
                        <div class="item-name enhancement-check">
                            {{localize "torgeternity.sheetLabels.taken"}}
                        </div>
                        <div class="item-name enhancement-content">
                            {{localize "torgeternity.sheetLabels.titleDescription"}}
                        </div>
                    </div>
                </li>
                <li class="item-block">
                    <div class="item-row flexrow">
                        <div class="item-name enhancement-check">
                            <input name="data.pulpPowers.enhancement01.taken" class="toggle" type="checkbox" id="taken01" {{checked data.data.pulpPowers.enhancement01.taken}} title="Check if enhancement has been selected by Storm Knight">
                        </div>
                        <div class="item-name enhancement-content">
                            <input type="text" name="data.pulpPowers.enhancement01.title" value="{{data.data.pulpPowers.enhancement01.title}}" class="input-box" />
                            <textarea name="data.pulpPowers.enhancement01.description" class="pulp-description">{{data.data.pulpPowers.enhancement01.description}}</textarea>
                        </div>
                    </div>
                </li>                
            </ol>

        </div>

        <div class="tab limitations" data-group="primary" data-tab="limitations">
            <div>Limitations Tab!</div>
        </div>

        <div class="tab effects" data-group="primary" data-tab="effects">
            {{> "systems/torgeternity/templates/parts/active-effects.hbs"}}
        </div>

    </section>
</form>