<section class="tab stats {{tab.cssClass}}" data-group="primary" data-tab="stats">
  <div class="sheet-content">
    <div class="main-content" style="grid-column:1/5;">
      <h1 class="raceDescriptionHeadline">{{localize "torgeternity.sheetLabels.description"}}</h1>
      <div name="description" class="item-description-textarea">
        {{editor description target="system.description" engine="prosemirror" button=true editable=editable}}
      </div>
    </div>
  </div>
  <div class="raceAttributes">
    <h1>{{localize "torgeternity.sheetLabels.attributeMaximum"}}</h1>
    <label for="system.attributeMaximum.charisma" class="item-data-label">
      {{localize "torgeternity.attributes.charisma"}}
    </label>
    <input
      name="system.attributeMaximum.charisma"
      type="number"
      value="{{item.system.attributeMaximum.charisma}}"
      class="input-box" />
    <label for="system.attributeMaximum.dexterity" class="item-data-label">
      {{localize "torgeternity.attributes.dexterity"}}
    </label>
    <input
      name="system.attributeMaximum.dexterity"
      type="number"
      value="{{item.system.attributeMaximum.dexterity}}"
      class="input-box" />
    <label for="system.attributeMaximum.mind" class="item-data-label">
      {{localize "torgeternity.attributes.mind"}}
    </label>
    <input
      name="system.attributeMaximum.mind"
      type="number"
      value="{{item.system.attributeMaximum.mind}}"
      class="input-box" />
    <label for="system.attributeMaximum.spirit" class="item-data-label">
      {{localize "torgeternity.attributes.spirit"}}
    </label>
    <input
      name="system.attributeMaximum.spirit"
      type="number"
      value="{{item.system.attributeMaximum.spirit}}"
      class="input-box" />
    <label for="system.attributeMaximum.strength" class="item-data-label">
      {{localize "torgeternity.attributes.strength"}}
    </label>
    <input
      name="system.attributeMaximum.strength"
      type="number"
      value="{{item.system.attributeMaximum.strength}}"
      class="input-box" />
  </div>
  <hr>
  <div class="raceSpecs">
    <label for="system.size" class="item-data-label">
      {{localize "torgeternity.sheetLabels.size"}}
    </label>
    <select name="system.size" class="input-box">
      {{selectOptions config.sizes selected=item.system.size localize=true}}
    </select>
    <label for="system.darkvision" class="item-data-label">
      {{localize "torgeternity.sheetLabels.darkvision"}}
    </label>
    <input name="system.darkvision"
      id="system.darkvision"
      type="checkbox"
      {{checked item.system.darkvision}}
      data-dtype="Boolean">
  </div>
</section>