<form class="{{cssClass}} item-sheet specialability-sheet" autocomplete="off" >
    <h3 class="item-type"><span>{{localize "torgeternity.itemSheetDescriptions.specialability"}}</span></h3>

    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="spacial ability Name" /></h1>
    </header>

    <nav class="sheet-tabs item-tabs tabs" data-group="primary">
        <a class="item" data-tab="stats" >{{localize "torgeternity.sheetLabels.stats"}}</a>
        <a class="item" data-tab="effects">{{localize "torgeternity.sheetLabels.effects"}}</a>
    </nav>

    <section class="sheet-body">

        <div class="tab stats" data-group="primary" data-tab="stats">
            <div class="sheet-content">
                    <div class="asside">
                        <p class="item-data-label">
                                {{localize "torgeternity.powers.skill"}}
                            </p>
                            <select name="data.attackWith" class="input-box">
                                {{#select data.data.attackWith}}
                                {{#each config.skills as |name type|}}
                                <option value="{{type}}">{{localize name}}</option>
                                {{/each}}
                                {{/select}}
                            </select>
                            <p class="item-data-label">
                                {{localize "torgeternity.powers.damage"}}
                            </p>
                            <input name="data.damage" type="number" value="{{data.data.damage}}" class="input-box" />
                        </div>
                        <div class="main-content">
                            <div name="data.description" class="item-description-textarea">
                                {{editor content=data.data.description target="data.description" button=true owner=owner editable=editable}}
                            </div>
                        </div> 
            </div>
        </div>

        <div class="tab effects" data-group="primary" data-tab="effects">
            {{> "systems/torgeternity/templates/parts/active-effects.hbs"}}
        </div>


    </section>
</form>
