<form class="{{cssClass}} item-sheet" autocomplete="off">
    <h3 class="item-type"><span>{{localize "torgeternity.sheetLabels.vehicles"}}</span></h3>

    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="vehicule Name"
                style="background-color:white;border-radius:10px;width:320px;font-family:'Palatino Linotype'" /></h1>
    </header>

    <nav class="sheet-tabs item-tabs tabs" data-group="primary">
        <a class="item" data-tab="stats" style="vertical-align:center">{{localize "torgeternity.sheetLabels.stats"}}</a>
        <a class="item" data-tab="effects">{{localize "torgeternity.sheetLabels.effects"}}</a>
    </nav>

    <section class="sheet-body" style="display:flex;flex-direction:column">

        <div class="tab stats" data-group="primary" data-tab="stats">

            <div class="sheet-content">
                <div class="asside">
                    <p class="item-data-label">
                        {{localize "torgeternity.gear.cosm"}}
                    </p>
                    <select name="data.cosm" class="input-box">
                        {{#select data.cosm}}
                        {{#each config.cosmTypes as |name type|}}
                        <option value="{{localize name}}">{{localize name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                    <p class="item-data-label">
                        {{localize "torgeternity.gear.techlevel"}}
                    </p>
                    <input name="data.techlevel" type="number" value="{{data.techlevel}}" class="input-box" />
                    <p class="item-data-label">
                        {{localize "torgeternity.gear.price"}}/{{localize "torgeternity.gear.value"}}
                    </p>
                    <input name="data.price" type="text" value="{{data.price}}" class="input-box-small" />
                    <input name="data.value" type="number" value="{{data.value}}" class="input-box-small" />
                    <p class="item-data-label">
                        {{localize "torgeternity.gear.topspeed"}}
                    </p>
                    <input name="data.topspeed" type="text" value="{{data.topspeed}}" class="input-box" />
                    <p class="item-data-label">
                        {{localize "torgeternity.gear.passengers"}}
                    </p>
                    <input name="data.pass" type="number" value="{{data.pass}}" class="input-box" />
                    <p class="item-data-label">
                        {{localize "torgeternity.gear.mr"}}
                    </p>
                    <input name="data.mr" type="number" value="{{data.mr}}" class="input-box" />
                    <p class="item-data-label">
                        {{localize "torgeternity.gear.wounds"}}/{{localize "torgeternity.gear.toughness"}}
                    </p>
                    <input name="data.wounds" type="number" value="{{data.wounds}}" class="input-box-small" />
                    <input name="data.tough" type="text" value="{{data.tough}}" class="input-box-small" />
                </div>
                <div class="main-content">
                    <div class="item-description-textarea" style="padding:0px 0px 0px 10px">
                        {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
                    </div>
                </div>

            </div>
        </div>
        <div class="tab effects" data-group="primary" data-tab="effects">
            {{> "systems/torgeternity/templates/parts/active-effects.hbs"}}
        </div>

    </section>
</form>