<form class="{{cssClass}} item-sheet vehicleAddOn-sheet" autocomplete="off">
  <h3 class="item-type"><span>{{localize "torgeternity.itemSheetDescriptions.vehicleAddOn"}}</span></h3>

  <header class="sheet-header">
    <img src="{{item.img}}" data-edit="img" data-tooltip="{{item.name}}" />
    <h1><input name="name" type="text" value="{{item.name}}" placeholder="Custom Skill Name" /></h1>
  </header>

  <nav class="sheet-tabs item-tabs tabs" data-group="primary">
    <a class="item" data-tab="stats">{{localize "torgeternity.sheetLabels.stats"}}</a>
    <a class="item" data-tab="effects">{{localize "torgeternity.sheetLabels.effects"}}</a>
  </nav>

  <section class="sheet-body">
    <div class="tab stats" data-group="primary" data-tab="stats">
      <div class="main-content">
        <div class="sheet-content" style="display:block">
          <div style="grid-column: 1/5" class="item-description-textarea">
            <p class="item-data-label">
              {{localize "torgeternity.gear.short-description"}}&nbsp;
              <input
                name="system.short-description"
                type="text"
                value="{{item.system.short-description}}"
                class="input-box"
              />
            </p>
            {{editor description target="system.description" engine="prosemirror" button=true editable=editable}}
          </div>
        </div>
      </div>
    </div>

    <div class="tab effects" data-group="primary" data-tab="effects">
      {{> "systems/torgeternity/templates/parts/active-effects.hbs"}}
    </div>
  </section>
</form>
