<section class="tab stats {{tab.cssClass}}" data-group="primary" data-tab="stats">
  <div class="main-content">
    <div class="sheet-content" style="display:block">
      <div style="grid-column: 1/5" class="item-description-textarea">
        <p class="item-data-label">
          {{localize "torgeternity.gear.short-description"}}&nbsp;
          <input
            name="system.short-description"
            type="text"
            value="{{item.system.short-description}}"
            class="input-box" />
        </p>
        {{editor description target="system.description" engine="prosemirror" button=true editable=editable}}
      </div>
    </div>
  </div>
</section>