body {
  font-family: OptiLight;
  font-size: 12px;
}

body ::-webkit-scrollbar-thumb {
  outline: none;
  border-radius: 3px;
  background: #227878;
  border: 1px solid #efedeb;
}

input[type="text"],
input[type="number"],
input[type="password"],
input[type="date"],
input[type="time"],
select,
option,
textarea {
  font-family: OptiLight;
}

button {
  font-family: OptiBold;
}

button:hover,
button:focus {
  box-shadow: 0 0 10px #3bb3b3;
}

a:hover {
  text-shadow: 0 0 10px #3bb3b3;
}

.app,
.window-app {
  border-radius: 5px;
  box-shadow: 0 0 15px #122529;
  padding-bottom: 0.5em;
  color: #707070;
  z-index: 30;
}

.app input[type="text"]::-moz-placeholder, .app input[type="number"]::-moz-placeholder, .window-app input[type="text"]::-moz-placeholder, .window-app input[type="number"]::-moz-placeholder {
  color: rgba(0, 0, 0, 0.472);
  text-shadow: 0px 0px 10px black;
}

.app input[type="text"]:-ms-input-placeholder, .app input[type="number"]:-ms-input-placeholder, .window-app input[type="text"]:-ms-input-placeholder, .window-app input[type="number"]:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.472);
  text-shadow: 0px 0px 10px black;
}

.app input[type="text"]::placeholder,
.app input[type="number"]::placeholder,
.window-app input[type="text"]::placeholder,
.window-app input[type="number"]::placeholder {
  color: rgba(0, 0, 0, 0.472);
  text-shadow: 0px 0px 10px black;
}

.app option,
.window-app option {
  background: grey;
}

.app optgroup,
.window-app optgroup {
  background: #444242;
}

.app textarea,
.window-app textarea {
  color: white;
}

.app div.form-group,
.window-app div.form-group {
  margin: 10px;
  padding-bottom: 5px;
  border-bottom: 2px solid black;
}

.window-app .window-resizable-handle {
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: -10px;
  right: -10px;
  background: url(../images/resizerRound.webp);
  background-size: 115% 115%;
  background-position: center;
  padding: 2px;
  border: none;
  border-radius: 50%;
  box-shadow: 0px 0px 5px blue;
  transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
}

.window-app .window-resizable-handle i.fas {
  transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  transform: rotate(45deg);
  top: 25%;
  left: 25%;
  position: absolute;
  color: rgba(255, 255, 255, 0);
  text-shadow: 0px 0px 30px rgba(255, 255, 255, 0);
}

.window-app .window-resizable-handle i.fas:hover {
  transform: rotate(45deg) scaleX(1.6);
  color: #ffffff;
  -webkit-text-fill-color: white;
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.window-app .window-resizable-handle:active {
  box-shadow: 0px 0px 30px blue;
}

.window-app .window-header {
  background: url(../images/tab-header.webp);
  background-size: 100% 100%;
  font-family: Alaska;
  font-weight: bold;
  color: white;
  transform: scaleX(1.06);
  padding-left: 5%;
  padding-right: 5%;
  border: none;
  box-shadow: 0px 15px 30px black;
  z-index: 100;
}

#controls .scene-control,
#controls .control-tool,
#controls .scene-control:hover,
#controls .control-tool:hover {
  transition: all 250ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  background: url(../images/resizerRound.webp);
  background-size: 100% 100%;
  color: #6b6b6b;
  border: none;
  border-radius: 50% 50%;
  box-shadow: 0px 0px 15px black inset;
}

#controls .scene-control i.fa,
#controls .scene-control i.fas,
#controls .control-tool i.fa,
#controls .control-tool i.fas,
#controls .scene-control:hover i.fa,
#controls .scene-control:hover i.fas,
#controls .control-tool:hover i.fa,
#controls .control-tool:hover i.fas {
  font-weight: 600;
  font-size: 16px;
}

#controls .scene-control i.fa::before,
#controls .scene-control i.fas:before,
#controls .control-tool i.fa::before,
#controls .control-tool i.fas:before,
#controls .scene-control:hover i.fa::before,
#controls .scene-control:hover i.fas:before,
#controls .control-tool:hover i.fa::before,
#controls .control-tool:hover i.fas:before {
  position: relative;
  top: -2px;
}

#controls .scene-control.active,
#controls .control-tool.active,
#controls .scene-control:hover,
#controls .control-tool:hover {
  color: white;
  text-shadow: black 0px 0px 15px;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.678) inset;
  border: none;
}

#sidebar {
  color: white;
  background-image: url(../images/thunder.webp);
  background-size: 80% 100%;
  padding-left: 80px;
  width: 380px;
  height: 100%;
  background-position-x: 80px;
  background-repeat: no-repeat;
  border: none;
  box-shadow: none;
}

#sidebar #sidebar-tabs {
  flex: 0 0 32px;
  box-sizing: border-box;
  margin: 0 0 5px;
  border-bottom: 1px solid #2c6d6d;
  box-shadow: 0 0 10px #227878;
}

#sidebar #sidebar-tabs > .item.active {
  color: #fff;
  border: 1px solid #154949;
  border-bottom: none;
  box-shadow: 0 0 6px inset #154949;
}

#sidebar .tabs .item.active {
  text-shadow: 0 0 10px #154949;
}

#sidebar a:hover {
  text-shadow: 0 0 10px #001aff;
}

#sidebar textarea#chat-message {
  color: black;
}

div#sidebar::before {
  width: 80px;
  height: 120%;
  position: absolute;
  left: 0px;
  /* top: -50px; */
  background: url(../images/separatorSidebar.webp);
  content: "";
  margin-right: 150px;
  background-size: 80% 100%;
  background-position: 280% 50%;
  background-repeat: no-repeat;
  box-shadow: 20px 0px 100px #000000a6;
  z-index: 200;
}

div#sidebar.collapsed::before {
  width: 0px;
  content: unset;
}

div#sidebar.collapsed {
  right: 0px;
  padding-left: 0px;
  background-position: center;
  background-size: 100% 100%;
}

#hotbar {
  width: 630px;
}

#hotbar .bar-controls {
  flex: 0 0 55px;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 15px;
  padding-bottom: 15px;
  height: 120%;
  margin: 0 2px;
  text-align: center;
  background: url(../images/resizerRound.webp);
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  background-size: 100% 100%;
  background-position: center;
  border: none;
  box-shadow: none;
  border-radius: 40%;
  font-weight: bolder;
}

#hotbar .bar-controls a,
#hotbar .bar-controls a.page-control,
#hotbar .bar-controls span.page-number {
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  display: block;
  line-height: 5px;
  font-size: 20px;
}

#hotbar .bar-controls a:hover {
  transform: scale(1.8);
}

#hotbar #action-bar ol#macro-list {
  border: none;
}

#hotbar #action-bar ol#macro-list li.macro {
  position: relative;
  flex: 0 0 50px;
  height: 50px;
  background: url(../images/backg-page.webp);
  border-radius: 25%;
  box-shadow: 0 0 5px #000 inset;
  cursor: pointer;
  border-radius: 0% 0% 75%;
}

#hotbar #action-bar ol#macro-list li.macro.active {
  border-radius: 10%;
}

#hotbar #action-bar ol#macro-list li.macro:hover {
  box-shadow: 0 0 10px #004777 inset;
}

#navigation #nav-toggle {
  flex: 0 0 50px;
  height: 50px;
  background: url(../images/resizerRound.webp);
  background-size: 100% 100%;
  text-align: center;
  text-shadow: 0 0 10px #db0303;
  border: none;
  color: white;
  padding-top: 10px;
  font-size: 30px;
}

#navigation a.scene-name {
  font-family: "Alaska";
  text-transform: uppercase;
  border: none;
}

#navigation #scene-list .scene {
  text-align: justify;
  background: url(../images/scene.webp);
  background-size: 100% 100%;
  padding-left: 10px;
  padding-right: 10px;
  min-height: 40px;
  min-width: 70px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: none;
  color: #a0a0a0;
  text-shadow: 0px 0px 3px black;
}

#navigation #scene-list .scene.gm {
  background: url(../images/scene-gm.webp);
  background-size: 100% 100%;
  border: none;
  box-shadow: none;
}

#navigation #scene-list .scene.active {
  background: url(../images/scene-active.webp);
  background-size: 100% 100%;
  border: none;
  box-shadow: none;
}

#navigation #scene-list .scene.view {
  background: url(../images/scene-view.webp);
  background-size: 100% 100%;
  border: none;
  box-shadow: none;
}

.dialog-button {
  color: #b4b4b4;
}

#players-popout div.app {
  top: 0%;
  width: 100%;
  z-index: auto;
  background-size: cover;
  line-height: 25px;
}

#players {
  background-image: url(../images/thunder.webp);
  background-position: center;
  bottom: 0px;
  left: 0px;
  width: 200px;
  margin: 0;
  border: none;
  min-width: 200px;
  min-height: 20px;
  box-shadow: none;
  padding: 0% 0% 0% 0%;
  color: white;
}

#players .players-popout {
  color: white;
  font-size: larger;
  position: relative;
  top: -25px;
  z-index: +1;
  left: 15px;
}

#players h3 {
  text-shadow: 0px 3px 10px #8181cc;
  padding: 4px;
  border: none;
  box-shadow: 0px 5px 15px rgba(255, 255, 255, 0.459);
  text-align: center;
  color: white;
  position: relative;
}

#players h3 .players-mode {
  color: white;
}

#players ol {
  list-style: none;
  margin: 0 0 4px;
  padding: 0;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin-right: 25%;
  /* justify-items: flex-end; */
}

#players ol li.player {
  line-height: 25px;
  padding: 1px 8px;
  justify-content: flex-end;
  display: flex;
}

#players ol li.player .player-active {
  flex: 0 0 15px;
  height: 15px;
  border: 1px solid #000;
  border-radius: 50%;
  margin: 5px 5px 0 0;
  background-size: cover;
}

#players ol li.player .player-name {
  text-shadow: 0px 3px 10px #8181cc;
  color: white;
}

#players ol li.player .player-name.self {
  text-decoration: underline;
  color: #f6f6f6;
}

#players::after {
  background: url(../images/separatorRound.webp);
  width: 230px;
  height: 35px;
  content: "";
}

#player-config label {
  color: lightblue;
  font-weight: normal;
  font-size: 12px;
}

#controls,
#logo,
#navigation,
#sidebar,
#hotbar,
#players {
  position: absolute;
  transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
}

#combat .combatant-init {
  color: white;
}

#combat ol li.combatant {
  border-left: 5px solid black;
}

#combat ol li.combatant.dispo1 {
  background-color: rgba(15, 47, 189, 0.212);
}

#combat ol li.combatant.dispo-1 {
  background-color: rgba(143, 1, 1, 0.28);
}

#combat ol li.combatant.dispo0 {
  background-color: rgba(141, 143, 1, 0.28);
}

#combat ol li.combatant.active {
  border-left: 5px solid white;
  box-shadow: 0px -10px 40px rgba(255, 255, 255, 0.5) inset;
}

#combat ol a.has-played {
  color: rgba(128, 128, 128, 0.739);
  text-shadow: 0px 0px 6px black;
  max-width: 5%;
}

#combat ol a.has-played.playedOK {
  color: #a0bd8e;
  text-shadow: 0px 0px 6px white;
}

#combat ol a.init-up,
#combat ol a.init-down {
  max-width: 5%;
}

#combat ol a.init-up:hover,
#combat ol a.init-down:hover {
  text-shadow: 0px 0px 5px #c8cf00;
  color: #f8f83c;
}

#party-sheet h1,
#party-sheet h2,
#party-sheet h3,
#party-sheet h4 {
  text-align: center;
}

#party-sheet h2 {
  border-bottom: 2px solid #419c9c;
}

#party-sheet h3 {
  border-bottom: 2px solid #215050;
}

#party-sheet h4 {
  text-decoration: underline;
}

#party-sheet .flexrow {
  margin: 4px;
}

#party-sheet .flexrow div {
  border: 1px solid rgba(128, 128, 128, 0.301);
  padding: 2px;
  box-shadow: 0px 0px 0px rgba(87, 87, 87, 0.301) inset;
  transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
}

#party-sheet .flexrow div div:hover {
  box-shadow: 0px 0px 35px #5a5a5a inset;
}
