body {
  font-family: Berlin;
}

body ::-webkit-scrollbar-thumb {
  outline: none;
  border-radius: 3px;
  background: #227878;
  border: 1px solid #efedeb;
}

button:hover,
button:focus {
  box-shadow: 0 0 10px #3bb3b3;
}

a:hover {
  text-shadow: 0 0 10px #3bb3b3;
}

.app,
.window-app {
  border-radius: 5px;
  box-shadow: 0 0 15px #122529;
  padding-bottom: 0.5em;
  color: #707070;
  z-index: 30;
}

.app input[type="text"]::-moz-placeholder, .app input[type="number"]::-moz-placeholder, .window-app input[type="text"]::-moz-placeholder, .window-app input[type="number"]::-moz-placeholder {
  color: rgba(0, 0, 0, 0.472);
  text-shadow: 0px 0px 10px black;
}

.app input[type="text"]:-ms-input-placeholder, .app input[type="number"]:-ms-input-placeholder, .window-app input[type="text"]:-ms-input-placeholder, .window-app input[type="number"]:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.472);
  text-shadow: 0px 0px 10px black;
}

.app input[type="text"]::placeholder,
.app input[type="number"]::placeholder,
.window-app input[type="text"]::placeholder,
.window-app input[type="number"]::placeholder {
  color: rgba(0, 0, 0, 0.472);
  text-shadow: 0px 0px 10px black;
}

.app option,
.window-app option {
  background: grey;
}

.app optgroup,
.window-app optgroup {
  background: #444242;
}

.app textarea,
.window-app textarea {
  color: white;
}

.app div.form-group,
.window-app div.form-group {
  margin: 10px;
  padding-bottom: 5px;
  border-bottom: 2px solid black;
}

.window-app .window-resizable-handle {
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: -10px;
  right: -10px;
  background: url(../images/resizerRound.png);
  background-size: 115% 115%;
  background-position: center;
  padding: 2px;
  border: none;
  border-radius: 50%;
  box-shadow: 0px 0px 5px blue;
  transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
}

.window-app .window-resizable-handle i.fas {
  transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  transform: rotate(45deg);
  top: 25%;
  left: 25%;
  position: absolute;
  color: rgba(255, 255, 255, 0);
  text-shadow: 0px 0px 30px rgba(255, 255, 255, 0);
}

.window-app .window-resizable-handle i.fas:hover {
  transform: rotate(45deg) scaleX(1.6);
  color: #ffffff;
  -webkit-text-fill-color: white;
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.window-app .window-resizable-handle:active {
  box-shadow: 0px 0px 30px blue;
}

.window-app .window-header {
  background: url(../images/tab-header.png);
  background-size: 100% 100%;
  font-family: Alaska;
  font-weight: bold;
  color: white;
  transform: scaleX(1.06);
  padding-left: 5%;
  padding-right: 5%;
  border: none;
  box-shadow: 0px 15px 30px black;
  z-index: 100;
}

#controls .scene-control,
#controls .control-tool,
#controls .scene-control:hover,
#controls .control-tool:hover {
  transition: all 250ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  background: url(../images/resizerRound.png);
  background-size: 100% 100%;
  color: #6b6b6b;
  border: none;
  border-radius: 50% 50%;
  box-shadow: 0px 0px 15px black inset;
}

#controls .scene-control i.fa,
#controls .scene-control i.fas,
#controls .control-tool i.fa,
#controls .control-tool i.fas,
#controls .scene-control:hover i.fa,
#controls .scene-control:hover i.fas,
#controls .control-tool:hover i.fa,
#controls .control-tool:hover i.fas {
  font-weight: 600;
  font-size: 16px;
}

#controls .scene-control i.fa::before,
#controls .scene-control i.fas:before,
#controls .control-tool i.fa::before,
#controls .control-tool i.fas:before,
#controls .scene-control:hover i.fa::before,
#controls .scene-control:hover i.fas:before,
#controls .control-tool:hover i.fa::before,
#controls .control-tool:hover i.fas:before {
  position: relative;
  top: -2px;
}

#controls .scene-control.active,
#controls .control-tool.active,
#controls .scene-control:hover,
#controls .control-tool:hover {
  color: white;
  text-shadow: black 0px 0px 15px;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.678) inset;
  border: none;
}

#sidebar {
  color: white;
  background-image: url(../images/thunder.png);
  background-size: 80% 100%;
  padding-left: 80px;
  width: 380px;
  background-position-x: 80px;
  background-repeat: no-repeat;
  border: none;
  box-shadow: none;
}

#sidebar #sidebar-tabs {
  flex: 0 0 32px;
  box-sizing: border-box;
  margin: 0 0 5px;
  border-bottom: 1px solid #2c6d6d;
  box-shadow: 0 0 10px #227878;
}

#sidebar #sidebar-tabs > .item.active {
  color: #FFF;
  border: 1px solid #154949;
  border-bottom: none;
  box-shadow: 0 0 6px inset #154949;
}

#sidebar .tabs .item.active {
  text-shadow: 0 0 10px #154949;
}

#sidebar a:hover {
  text-shadow: 0 0 10px #001aff;
}

div#sidebar::before {
  width: 80px;
  height: 120%;
  position: absolute;
  left: 0px;
  /* top: -50px; */
  background: url(../images/separatorSidebar.png);
  content: "";
  margin-right: 150px;
  background-size: 80% 100%;
  background-position: 280% 50%;
  background-repeat: no-repeat;
  box-shadow: 10px 0px 60px #246270a6;
}

div#sidebar.collapsed::before {
  width: 0px;
  content: unset;
}

div#sidebar.collapsed {
  right: 0px;
  padding-left: 0px;
  background-position: center;
  background-size: 100% 100%;
}

.dialog-button {
  color: #b4b4b4;
}

#controls,
#logo,
#navigation,
#sidebar,
#hotbar,
#players {
  transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
}
