.window-app .window-content {
  font-family: Berlin;
  background-image: url(../images/thunder.png);
  background-size: cover;
  color: white;
}

.window-app .window-content .editor {
  background: url(../images/bckg-hex.png);
  background-size: 110% 110%;
  padding: 5%;
  background-position: center;
}

.window-app .window-content .rollable:hover, .window-app .window-content .rollable:focus {
  color: #000;
  text-shadow: 0 0 10px white;
  cursor: pointer;
}

.window-app .window-content form .notes, .window-app .window-content form .hint {
  color: #b1afaf;
}

.window-app .window-content form button, .window-app .window-content form select {
  color: grey;
}

.window-app .window-content form button option, .window-app .window-content form select option {
  color: white;
}

.window-app .window-content form button:hover {
  box-shadow: 0px 0px 5px #4970fa;
}
