.window-app .window-content {
  font-family: Berlin;
  background-image: url(../images/thunder.png);
  background-size: cover;
  color: white;
}

.window-app .window-content div.form-group input {
  color: white;
}

.window-app .window-content input[type="text"],
.window-app .window-content input[type="number"],
.window-app .window-content input[type="password"],
.window-app .window-content input[type="date"],
.window-app .window-content input[type="time"] .editor {
  background-color: rgba(255, 255, 255, 0.39);
}

.window-app .window-content input::-moz-placeholder {
  background-color: rgba(0, 0, 0, 0);
}

.window-app .window-content input:-ms-input-placeholder {
  background-color: rgba(0, 0, 0, 0);
}

.window-app .window-content input::placeholder {
  background-color: rgba(0, 0, 0, 0);
}

.window-app .window-content .rollable:hover, .window-app .window-content .rollable:focus {
  color: #000;
  text-shadow: 0 0 10px white;
  cursor: pointer;
}

.window-app .window-content form .notes,
.window-app .window-content form .hint {
  color: #b1afaf;
}

.window-app .window-content form button,
.window-app .window-content form select {
  color: grey;
}

.window-app .window-content form button option,
.window-app .window-content form select option {
  color: white;
}

.window-app .window-content form button:hover {
  box-shadow: 0px 0px 5px #4970fa;
}

.journal-sheet .window-content {
  font-family: Palatino;
  background-image: url(../images/box-bckg.png);
  background-size: cover;
  color: black;
}

.journal-sheet .window-content input[type="text"],
.journal-sheet .window-content select {
  margin-top: 4%;
  margin-left: 5%;
  width: 90%;
  text-align: center;
  border: none;
  text-transform: uppercase;
  font-family: Alaska;
  font-weight: bold;
  color: #000;
}

.journal-sheet .window-content input[type="text"]:hover,
.journal-sheet .window-content select:hover,
.journal-sheet .window-content input[type="text"]:focus,
.journal-sheet .window-content select:focus,
.journal-sheet .window-content input[type="text"]:active,
.journal-sheet .window-content select:active,
.journal-sheet .window-content .editor:hover,
.journal-sheet .window-content .editor:focus,
.journal-sheet .window-content .editor:active {
  box-shadow: 0 0 15px #053075;
}

.journal-sheet .window-content .editor {
  margin-top: 2%;
  margin-left: 5%;
  width: 90%;
  padding: 2%;
}

.journal-sheet .window-content .editor .editor-content h1 {
  font-family: Alaska;
  text-transform: uppercase;
  text-align: center;
  color: white;
  background-color: #0a0b3b;
  border-bottom: none;
}

.journal-sheet .window-content .editor .editor-content h2 {
  font-family: Alaska;
  border-bottom: none;
}

.journal-sheet .window-content .editor .editor-content h3 {
  font-family: Alaska;
  font-weight: bold;
}

.window-app.image-popout .form-group.title {
  margin-top: 1%;
}

.window-app.image-popout .form-group.title input {
  height: 32px;
  text-align: center;
  margin-top: 0%;
}

textarea {
  background-color: rgba(90, 157, 163, 0.493);
}

textarea:focus,
textarea:hover {
  background-color: rgba(90, 157, 163, 0.65);
  outline: 1px solid #222378;
  box-shadow: 0 0 10px #008cff7a;
}

#module-management {
  color: white;
}

#module-management input {
  color: lightgray;
}

#module-management .package-list .package-title {
  color: #c6e2fa;
}
