<section class="tab stats {{tab.cssClass}} block" data-group="primary" data-tab="skStats">
  <div class="sheet-header block">{{> "systems/torgeternity/templates/actors/stormknight/header.hbs"}}</div>

  <div class="attributes block">{{> "systems/torgeternity/templates/actors/stormknight/attributes.hbs"}}</div>

  <div class="others block">{{> "systems/torgeternity/templates/actors/stormknight/others.hbs"}}</div>

  <div class="skills block">{{> "systems/torgeternity/templates/actors/stormknight/skills.hbs"}}</div>

  <div class="char_image">
    <img src="{{document.img}}" class="profile-img" data-edit="img" data-tooltip="{{document.name}}" />
  </div>

  <div class="weapons-list block">{{> "systems/torgeternity/templates/actors/stormknight/weapons-list.hbs"}}</div>

  <div class="defense block">{{> "systems/torgeternity/templates/actors/stormknight/defense.hbs"}}</div>

  <div class="xp block">{{> "systems/torgeternity/templates/actors/stormknight/xp.hbs"}}</div>

  <div class="perks-list block">{{> "systems/torgeternity/templates/actors/stormknight/perks-list.hbs"}}</div>
</section>