
    
    <ul>
        <li>Wound tracker</li>
        <li><input type="checkbox"/></li>
        <li><input type="checkbox"/></li>
        <li><input type="checkbox"/></li>
        <li><input type="checkbox"/></li>
        <li><input type="checkbox"/></li>
        <li><input type="checkbox"/></li>
    </ul>
    <ul>
        <li>Vulnerable</li>
        <li><input type="checkbox"/></li>
        <li><input type="checkbox"/></li>
        
    </ul>
    <ul>
        <li>Stymied</li>
        <li><input type="checkbox"/></li>
        <li><input type="checkbox"/></li>
        
    </ul>

